<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Print Report" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card" id="demo" *ngIf="data">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-header border-bottom-dashed p-4">
                        <div class="d-flex flex-wrap">
                            <div class="flex-grow-1">
                                <img src="assets/images/logo/AIO-PS-primary.png" class="card-logo card-logo-dark"
                                    alt="logo dark" height="25">
                                <img src="assets/images/logo/AIO-PS-primary.png" class="card-logo card-logo-light"
                                    alt="logo light" height="25">
                                <div class="mt-sm-5 mt-4">
                                    <h6 class="text-muted text-uppercase fw-semibold">Address</h6>
                                    <p class="text-muted mb-1" id="address-details"> Jl. Siliwangi No.KM.28 43359
                                        Kutajaya Jawa Barat · ~19 km</p>
                                    <p class="text-muted mb-0" id="zip-code"><span>Zip-code:</span> 43358</p>
                                </div>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <h6><span class="text-muted fw-normal">ID number: {{data.id_resume}}</span><span
                                        id="legal-register-no"></span></h6>
                                <h6><span class="text-muted fw-normal">Email:</span><span id="email"> aio.co.id</span>
                                </h6>
                                <h6><span class="text-muted fw-normal">Website:</span> <a class="link-primary"
                                        target="_blank" id="website"> www.aio.co.id</a></h6>
                                <h6 class="mb-0"><span class="text-muted fw-normal">Contact No: </span><span
                                        id="contact-no"> +62 266 733700</span></h6>
                            </div>
                        </div>
                    </div>
                    <!--end card-header-->

                </div>
                <div class="col-lg-12">
                    <div class="card-body  print-page" id="printable-content">
                        <div class="table-responsive">
                            <h5><u>MONTHLY RESUME</u></h5>
                                <table class="table table-gridjs">
                                    <thead class="header1">
                                        <tr class="table-active">
                                            <th class="text-start" scope="col-12">Line Performance</th>
                                        </tr>
                                        <tr>
                                            <td class="text-start" style="white-space: pre-line;">
                                                <span class="fw-medium">{{data.line_performance}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-wrap justify-content-between"
                                                    *ngIf="data.img_performance && data.img_performance.length > 0">
                                                    <div
                                                        *ngFor="let item of data.img_performance; let i = index">
                                                        <img class="square-image img-fluid"
                                                            [src]="imageUrl + item"
                                                            alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>

                            <table class="table table-gridjs">
                                <thead class="header1">
                                    <tr class="table-active">
                                        <th class="text-start" scope="col-12">ISSUE</th>
                                    </tr>
                                    <tr>
                                        <td class="text-start" style="white-space: pre-line;">
                                            <span class="fw-medium">{{data.issue}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-between"
                                                *ngIf="data.img_performance && data.img_performance.length > 0">
                                                <div
                                                    *ngFor="let item of data.img_performance; let i = index">
                                                    <img class="square-image img-fluid"
                                                        [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                            </table>

                            <table class="table table-gridjs">
                                <thead class="header1">
                                    <tr class="table-active">
                                        <th class="text-start" scope="col-12">OTHER</th>
                                    </tr>
                                    <tr>
                                        <td class="text-start" style="white-space: pre-line;">
                                            <span class="fw-medium">{{data.other}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-between"
                                                *ngIf="data.img_performance && data.img_performance.length > 0">
                                                <div
                                                    *ngFor="let item of data.img_performance; let i = index">
                                                    <img class="square-image img-fluid"
                                                        [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                    class="ri-printer-line align-bottom me-1" onclick="window.print()"></i> Print</a>
                        </div>
                    </div>
                </div>
    </div>
</div>