.square-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 0px solid #ccc;
  margin: 0; /* Menghilangkan margin pada gambar */

}

.image-table {
  break-inside: avoid;
  page-break-inside: avoid;
}

.image-table {
  width: 100%;
  max-width: 100%;
}

.image-table tr,
.image-table th,
.image-table td {
  page-break-inside: avoid;
}
.custom-card-header {
  border-bottom: 1px dashed #ccc;
  padding: 4px;
  background-color: rgb(72, 200, 243); /* Ganti dengan warna latar belakang yang diinginkan */
}

table {
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}



th,
td {
  width: 16.66%;
  padding: 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-gridjs .text-start {
  max-width: 100%;
  overflow: auto;
  word-break: break-all;
  white-space: pre-line;
}
@media print {
  body {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    width: 21cm;
    height: 29.7cm;
  }

  .d-print-none {
    display: none;
  }

  .print-page {
    max-height: 29.7cm;
  }

  .header2 {
    page-break-before: always;
  }

  .header3 {
    page-break-before: avoid;
  }
}
