<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="functionLocation" class="form-label">Function Location</label>
                            <input type="text" class="form-control" [(ngModel)]="newActivityGroup.function_location"
                                name="function_location" id="functionLocation">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputDate" class="form-label">Date</label>
                            <input type="date" class="form-control" [(ngModel)]="newActivityGroup.date" name="date"
                                id="ForminputDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="picInput" class="form-label">PIC</label>
                            <div>
                                <select class="form-control" name="picInput" id="picInput" required [(ngModel)]="newActivityGroup.pic">
                                    <option value="" disabled selected>Select Pic</option>
                                    <option *ngFor="let pic of namePic" [value]="pic.name">{{ pic.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="equipment" class="form-label">Equipment</label>
                            <input type="text" class="form-control" [(ngModel)]="newActivityGroup.equipment"
                                name="equipment" id="equipment">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm float-end" style="margin-top: 10px;"
                                    (click)="onClick()">+ Add</button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>