<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form [formGroup]="rakorMOMAdd">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Project Name"
                                        id="project_name" formControlName="project_name">
                                </div>
                                <div class="mb-3">
                                    <ng-select [items]="username" [multiple]="true" formControlName="participants"
                                        placeholder="Participants" bindLabel="name" bindValue="name" groupBy="detail">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.detail || 'Unnamed group'}}
                                        </ng-template>
                                    </ng-select>

                                </div>
                                <input class="form-control flatpickr-input form-control-solid mb-3" type="date"
                                    mwlFlatpickr data-provider="flatpickr" data-date-format="d M, Y"
                                    [altInput]="true" [convertModelValue]="true" id="date" formControlName="date"
                                    placeholder="Date">
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Place"
                                        id="place" formControlName="place">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImgRakorMOM($event)"
                                    class="dropzone_sec">
                                </dropzone>
                            </div>
                            <div class="col-12">
                                <div class="border-top border-top-dashed mt-3">
                                    <textarea class="form-control mt-3" id="points_discussed" rows="8"
                                        placeholder="Enter Your Points Of Discussed" formControlName="points_discussed"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success"
                                        (click)="confirm()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>