.bg-soft-danger {
    background-color: red;
  }
  
  .bg-soft-success {
    background-color: green;
  }
  
  .bg-soft-primary {
    background-color: blue;
  }
  
  .bg-soft-info {
    background-color: lightblue;
  }
  
  .bg-soft-dark {
    background-color: gray;
  }
  
  .bg-soft-warning {
    background-color: yellow;
  }
  
  .bold-text {
    font-weight: bold; /* Mengatur teks menjadi tebal */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Menambahkan bayangan teks */
  }