<div>
    <p class="title">Kronologi</p>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="col-md-12" >
                    <button class="btn btn-primary btn-sm float-start mb-3"
                        (click)="addData()">+ Add</button>
                </div>
                <form>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody style="vertical-align: middle;">
                                <tr *ngFor="let item of subinvestigasi; let i = index">
                                    <td style="width: 4.3rem;"><input type="text" class="form-control text-center" name="no-{{i}}"
                                        [(ngModel)]="item.no"></td>
                                    <td><input type="time" class="form-control" name="start_time-{{i}}"
                                        [(ngModel)]="item.start_time"></td>
                                    <td><input type="time" class="form-control" name="end_time-{{i}}"
                                        [(ngModel)]="item.end_time"></td>
                                    <td><textarea type="text" class="form-control" name="explanation-{{i}}"
                                        [(ngModel)]="item.explanation"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success me-2"
                                style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
