<div class="row mb-3 pb-1">
    <div class="col-12">
        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
                <h4 *ngIf="userData" class="fs-16 mb-1">Good Morning, {{userData.name}}!</h4>
                <p class="text-muted mb-0">This is the progress of this month's Canpet Production Line.</p>
            </div>
            <div class="mt-3 mt-lg-0">
                <div class="row g-3 mb-0 align-items-center">
                    <div class="col-sm-auto">
                        <div class="input-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                placeholder="{{ datePlaceholder }}" [altInput]="false" [convertModelValue]="true"
                                (change)="onChangeDateRange($event)" mode="range">
                            <div class="input-group-text bg-primary border-primary text-white"><i
                                    class="ri-calendar-2-line"></i></div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div><!-- end card header -->
    </div>
    <!--end col-->
</div>

<div class="row">
    <!-- Admin -->
    <div *ngIf="isAdmin" class="col-xxl-6 col-lg-6">
        <div class="card card-height-50" style="width: 39.5rem; height: 39.8rem;">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1 text-center">Task Supervisor</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown" ngbDropdown>
                        <!-- <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('all')">All
                                Time</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('7')">Last 7
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('30')">Last 30
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('90')">Last 90
                                Days</a>
                        </div> -->
                    </div>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <apx-chart *ngIf="status7" class="apex-charts" dir="ltr" [series]="status7.series" [labels]="status7.labels"
                    [chart]="status7.chart" [plotOptions]="status7.plotOptions" [dataLabels]="status7.dataLabels"
                    [legend]="status7.legend" [stroke]="status7.stroke" [colors]="status7.colors" dir="ltr"></apx-chart>
                <div class="mt-3">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <h2 class="me-2 ff-secondary mb-0">
                            <span [CountTo]="countDataAllTaskSpv" class="counter-value" [from]="0"
                                [duration]="1"></span>
                        </h2>
                        <div>
                            <p class="text-muted mb-0">Total Projects</p>
                            <p class="text-danger fw-medium mb-0">
                                <span class="badge badge-soft-danger p-1 rounded-circle"><i
                                        class="ri-arrow-right-up-line"></i></span>
                                +{{ countDataDeadlineTaskSpv }} Deadline
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="card-title mb-3 flex-grow-1 text-center">
                                Progress Task
                            </h2>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                    Start
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countYetToStart }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOnProgress }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countCompleted }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Over Date
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOverDate }} Projects</span>
                                </div>
                            </div><!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Employee -->
    <div *ngIf="!isAdmin" class="col-xxl-6 col-lg-6">
        <div class="card card-height-50" style="width: 39.5rem; height: 38.5rem;">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1 text-center">Task Supervisor</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown" ngbDropdown>
                        <!-- <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('all')">All
                                Time</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('7')">Last 7
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('30')">Last 30
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('90')">Last 90
                                Days</a>
                        </div> -->
                    </div>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <apx-chart *ngIf="employee" class="apex-charts" dir="ltr" [series]="employee.series" [labels]="employee.labels"
                    [chart]="employee.chart" [plotOptions]="employee.plotOptions" [dataLabels]="employee.dataLabels"
                    [legend]="employee.legend" [stroke]="employee.stroke" [colors]="employee.colors" dir="ltr"></apx-chart>
                <div class="mt-3">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <h2 class="me-2 ff-secondary mb-0">
                            <span [CountTo]="countDataAllTaskSpvByName" class="counter-value" [from]="0"
                                [duration]="1"></span>
                        </h2>
                        <div>
                            <p class="text-muted mb-0">Total Projects</p>
                            <p class="text-danger fw-medium mb-0">
                                <span class="badge badge-soft-danger p-1 rounded-circle"><i
                                        class="ri-arrow-right-up-line"></i></span>
                                +{{ countDataDeadlineTaskSpv }} Deadline
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="card-title mb-3 flex-grow-1 text-center">
                                Progress Task
                            </h2>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                    Start
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countYetToStartByName }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOnProgressByName }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countCompletedByName }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between py-2">
                                <p class="fw-medium mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Over Date
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOverDateByName }} Projects</span>
                                </div>
                            </div><!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0 text-center" style="margin-bottom: 30px;">
                    <h5>Acheivements Supervisor</h5>
                </div>
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr class="column text-center">
                                    <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataAchievements">
                                    <td style="width: 7rem;">{{item.send_to}}</td>
                                    <td style="text-align: center;">{{ item.total_task }}</td>
                                    <td style="text-align: center;">
                                        <ngb-progressbar class="text-center" style="vertical-align: middle;" [value]="item.presentase" 
                                        [type]="getProgressBarType(item.presentase)">{{ item.presentase }}%</ngb-progressbar>
                                    </td>
                                    <td style="text-align: center;">
                                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.presentase)}}" *ngIf="item.presentase == 100">★★★★★</span>
                                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.presentase)}}" *ngIf="item.presentase >= 80 && item.presentase < 100">★★★★</span>
                                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.presentase)}}" *ngIf="item.presentase >= 40 && item.presentase < 60">★★★</span>
                                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.presentase)}}" *ngIf="item.presentase >= 20 && item.presentase < 40">★★</span>
                                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.presentase)}}" *ngIf="item.presentase < 20">★</span>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                            <!-- <ngb-pagination [collectionSize]="dataImage.length" [(page)]="currentPage" 
                            [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                (pageChange)="onPageChange($event)"></ngb-pagination> -->
                        </div>
                    </div>
                </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div><!-- end card-body -->
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title mb-0">Approval Request</h4>
                </div><!-- end card header -->
      
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h6>Approval</h6>
                            <apx-chart *ngIf="simplePieChart" [series]="simplePieChart.series" [chart]="simplePieChart.chart"
                            [labels]="simplePieChart.labels" [legend]="simplePieChart.legend"
                            [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive"
                            [colors]="simplePieChart.colors" dir="ltr"></apx-chart>
                        </div><!-- end card-body -->
                        <div *ngIf="isAdmin" class="col-md-6 text-center">
                            <h6>PRO</h6>
                            <apx-chart *ngIf="proPieChart" [series]="proPieChart.series" [chart]="proPieChart.chart"
                            [labels]="proPieChart.labels" [legend]="proPieChart.legend"
                            [dataLabels]="proPieChart.dataLabels" [responsive]="proPieChart.responsive"
                            [colors]="proPieChart.colors" dir="ltr"></apx-chart>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
    </div>
</div>