<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="machine" class="form-label">Section</label>
                            <div>
                                <ng-select
                                [items]="area"
                                bindLabel="area" 
                                bindValue="id"   
                                [(ngModel)]="newGmp.id_section"
                                name="area"
                                placeholder="Select Section">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newGmp.date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="pending" class="form-label">Pending</label>
                            <input type="text" class="form-control" name="pending" id="pending" [(ngModel)]="newGmp.pending">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="follow_up" class="form-label">Follow Up</label>
                            <input type="text" class="form-control" name="follow_up" id="follow_up" [(ngModel)]="newGmp.follow_up">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="img-before" class="form-label">Image Before</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'img-before')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="img-after" class="form-label">Image After</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'img-after')" accept="image/*" name="files">
                        </div>
                        <div class="text-end" style="margin-top: 20px;">
                            <button *ngIf="id_gmp" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                            <button *ngIf="!id_gmp" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
