<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCalendar"
        autocomplete="off" [checked]="!isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnCalendar">Calendar</label>

    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnList"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnList">List</label>
</div>

<ng-container *ngIf="!isTableView">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-h-100">
                        <div class="card-body">
                            <div id="calendar"></div>
                            <full-calendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!--end row-->

            <div style='clear:both'></div>

            <!-- Add New Event MODAL -->
            <ng-template *ngIf="!isEmployee" #modalShow let-modal>
                <div class="modal-header p-3 bg-soft-info">
                    <h5 class="modal-title" id="modal-title">Add Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                        (click)="closeEventModal()"></button>
                </div>
                <div class="modal-body p-4">
                    <form class="needs-validation" name="event-form" id="form-event" novalidate (ngSubmit)="onClick()"
                        [formGroup]="formData">
                        <div class="row event-form">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <input class="form-control" placeholder="Enter description" type="text" name="title"
                                        id="event-title" required value="" formControlName="title"
                                        [(ngModel)]="newScheduleWeekly.description" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="event-location">Area</label>
                                    <div>
                                        <select class="form-control" name="event-location" id="event-location" required formControlName="location" [(ngModel)]="newScheduleWeekly.id_area">
                                            <option value="" disabled selected>Select Area</option>
                                            <option *ngFor="let type of area" [value]="type.id">{{ type.area }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="event-location">PIC</label>
                                    <div>
                                        <select class="form-control" name="event-location" id="event-location" required formControlName="location" [(ngModel)]="newScheduleWeekly.pic">
                                            <option value="" disabled selected>Select Pic</option>
                                            <option *ngFor="let pic of picEmployee" [value]="pic.name">{{ pic.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-12">
                                <div class="mb-3">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input class="form-control flatpickr-input" type="date" 
                                            placeholder="Select date" id="event-date" formControlName="date"
                                            [(ngModel)]="newScheduleWeekly.date">
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="hstack gap-2 justify-content-end">
                                <button type="submit" class="btn btn-success" id="btn-save-event">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
            <!-- end modal-->


            <ng-template #editmodalShow let-modal>
                <div class="modal-header p-3 bg-soft-info">
                    <h5 class="modal-title" id="modal-title">Edit Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                        (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body p-4">
                    <form [formGroup]="formEditData" >
                        <div class="row event-form">                    
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <input class="form-control" placeholder="Insert Event Name" type="text" name="description"
                                        formControlName="description">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="event-area">Area</label>
                                    <div>
                                        <select class="form-control" name="event-location" id="event-location" required formControlName="id_area">
                                            <option value="" disabled selected>Select Area</option>
                                            <option *ngFor="let type of area" [value]="type.id">{{ type.area }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="event-pic">PIC</label>
                                    <div>
                                        <select class="form-control" name="event-location" id="event-location" required formControlName="pic">
                                            <option value="" disabled selected>Select Pic</option>
                                            <option *ngFor="let pic of picEmployee" [value]="pic.name">{{ pic.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>                        
                        
                            <div class="col-12">
                                <div class="mb-3">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input class="form-control" type="date" mwlFlatpickr name="date"
                                            formControlName="date" placeholder="Select date" [(ngModel)]="formEditData.value.date" readonly>
                                    </div>
                                </div>
                            </div>                                               
                        
                        </div>
                        <div class="hstack gap-2 justify-content-end">
                            <button *ngIf="!isEmployee" type="button" class="btn btn-soft-danger" id="btn-delete-event" (click)="onDelete(editEvent)"><i
                                    class="ri-close-line align-bottom" ></i> Delete</button>
                            <button *ngIf="!isEmployee" class="btn btn-success" id="btn-save-event" (click)="updateData()">Update</button>
                            <button class="btn btn-danger" id="btn-save-event" (click)="onReport(formEditData.value.id_area)">Report</button>
                            <button class="btn btn-secondary" id="btn-save-event" (click)="onCompleted(editEvent)">Done</button>
                        </div>
                    </form>
                </div>
            </ng-template>
            <!-- end modal-->
        </div>
    </div> <!-- end row-->
</ng-container>

<ng-container *ngIf="isTableView">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="flex-shrink-0" style="margin-bottom: 30px;">
                        
                    </div>
                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="column text-center">
                                        <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataForCurrentPage; let i = index">
                                        <td style="text-align: center;">{{ i + 1 }}</td>
                                        <td>{{ data.area }}</td>
                                        <td>{{ data.description }}</td>                                 
                                        <td style="text-align: center;">{{ data.date | date:'dd MMMM yyyy'}}</td>
                                        <td style="text-align: center;">{{ data.pic }}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(data.follow_up) }}">{{ getStatusLabel(data.follow_up) }}</span>
                                        </td>  
                                    </tr>
                                    <tr *ngIf="dataForCurrentPage?.length === 0">
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                                <ngb-pagination [collectionSize]="dataScheduleWeeklyCan.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
                                [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="d-none code-view">
                        <div class="language-markup" style="height: 275px;">
                            <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</ng-container>