<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="container text-center">
                        <label for="Januari" class="form-label custom-label">Tahun</label>
                        <div class="col-md-6 offset-md-3 text-center">
                            <input type="text" class="form-control mb-3 text-center" [(ngModel)]="newBudgetingMaintenance.year" name="tahun" id="tahun">
                        </div>
                    <div class="row">
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Januari" class="form-label custom-label">Januari</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="januari_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.januari_plan" name="januari_plan" id="januari_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="januari_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.januari_actual" name="januari_actual" id="januari_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Februari" class="form-label custom-label">Februari</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="februari_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.februari_plan" name="februari_plan" id="februari_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="februari_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.februari_actual" name="februari_actual" id="februari_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Maret" class="form-label custom-label">Maret</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="maret_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.maret_plan" name="maret_plan" id="maret_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="maret_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.maret_actual" name="maret_actual" id="maret_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="April" class="form-label custom-label">April</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="april_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.april_plan" name="april_plan" id="april_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="april_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.april_actual" name="april_actual" id="april_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Mei" class="form-label custom-label">Mei</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="mei_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.mei_plan" name="mei_plan" id="mei_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="mei_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.mei_actual" name="mei_actual" id="mei_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Juni" class="form-label custom-label">Juni</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="juni_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.juni_plan" name="juni_plan" id="juni_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="juni_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.juni_actual" name="juni_actual" id="juni_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Juli" class="form-label custom-label">Juli</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="juli_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.juli_plan" name="juli_plan" id="juli_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="juli_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.juli_actual" name="juli_actual" id="juli_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Agustus" class="form-label custom-label">Agustus</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="agustus_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.agustus_plan" name="agustus_plan" id="agustus_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="agustus_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.agustus_actual" name="agustus_actual" id="agustus_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="September" class="form-label custom-label">September</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="september_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.september_plan" name="september_plan" id="september_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="september_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.september_actual" name="september_actual" id="september_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Oktober" class="form-label custom-label">Oktober</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="oktober_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.oktober_plan" name="oktober_plan" id="oktober_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="oktober_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.oktober_actual" name="oktober_actual" id="oktober_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="November" class="form-label custom-label">November</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="november_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.november_plan" name="november_plan" id="november_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="november_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.november_actual" name="november_actual" id="november_actual" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label for="Desember" class="form-label custom-label">Desember</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label for="desember_plan" class="form-label">Plan</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.desember_plan" name="desember_plan" id="desember_plan">
                                </div>
                                <div class="col-md-6 text-center">
                                    <label for="desember_actual" class="form-label">Actual</label>
                                    <input type="text" class="form-control text-center" [(ngModel)]="newBudgetingMaintenance.desember_actual" name="desember_actual" id="desember_actual" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button *ngIf="idParam" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdateBudgeting()">Update</button>
                            <button *ngIf="!idParam" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onClick()">Submit</button>
                            <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
