<div class="row">
  <div class="col-xl-12">
      <div class="card">
          <div class="card-body">
              <div class="flex-shrink-0" style="display: flex; align-items: center;">
                  <div class="form-group row">
                      <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                      <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                      <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div *ngIf="filterData.length > 0" class="col-xl-12">
      <div class="card">
          <div class="card-header text-center">
              <h4 class="card-title mb-0">Report Weekly Care</h4>
          </div>
          <div class="row">
              <div class="col-xl-6">
                  <div class="card-body">
                      <apx-chart [series]="simplePieChart.series" [chart]="simplePieChart.chart"
                      [labels]="simplePieChart.labels" [legend]="simplePieChart.legend"
                      [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive"
                      [colors]="simplePieChart.colors" dir="ltr"></apx-chart>
                  </div>
              </div>
              <div class="col-xl-6" style="margin-top: 80px;"> 
                  <h3>Area: {{filterData[0].area}}</h3>
                  <h3 class="mt-3">Open: {{countOpenData}} </h3>
                  <h3 class="mt-3">Close: {{countCloseData}} </h3>
                  <h3 class="mt-3">Total: {{AllData}} </h3>
              </div>
              <div class="text-end" style="margin-left: -15px; margin-bottom: 20px;">
                  <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
              </div> 
          </div>
      </div>
  </div>
  <div *ngIf="filterData.length === 0" class="col-xl-12 text-center">
      <div class="card">
          <div class="card-header text-center">
              <h4 class="card-title mb-0">Data Not Available</h4>
          </div>
      </div>
  </div>
</div>
