<ng-template #quote let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Image</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input class="form-control " type="file" (change)="onFileSelected($event, 'image')" accept="image/*" name="files">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 95rem;">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 30px;">
                    <button *ngIf="isAdmin || isSpv" class="btn btn-primary btn-sm" style="margin-right: 10px;"
                        (click)="openModal(quote)">Add Data</button>
                </div>
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr class="column text-center">
                                    <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let image of dataForCurrentPage; let i = index">
                                    <td style="width: 5rem; text-align: center;">{{ i + 1 }}</td>
                                    <td style="text-align: center;">
                                        <div class="card1" style="display: inline-block; text-align: center;">
                                          <img [src]="getImgFileBefore(image.image)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;">
                                        </div>
                                    </td>
                                    <td style="width: 5rem; text-align: center;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="onDelete(image.id)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="dataForCurrentPage?.length === 0">
                                    <td colspan="8" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                            <ngb-pagination *ngIf="dataImage" [collectionSize]="dataImage.length" [(page)]="currentPage" 
                            [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                (pageChange)="onPageChange($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>