<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form #form="ngForm" (ngSubmit)="onInsert(form)">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="functionLocation" class="form-label">NIK<span class="required-field">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="newUser.nik"
                                name="function_location" id="functionLocation">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputName" class="form-label">Name<span class="required-field">*</span></label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="newUser.name"
                                id="ForminputName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="roleInput" class="form-label">Role<span class="required-field">*</span></label>
                            <div>
                                <select class="form-control" name="role_id" id="role_id" required
                                    name="role_id" [(ngModel)]="newUser.role_id">
                                    <option value="" disabled selected>Select status</option>
                                    <option *ngFor="let role of dataRole" [value]="role.id">
                                        {{ role.detail }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Password<span class="required-field">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="newUser.password"
                                name="password" id="password">
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email<span class="required-field">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="newUser.email"
                                name="email" id="email">
                        </div>
                        <!--end col-->
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;">{{ idParam ? 'Update' : 'Submit' }}</button>
                            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                        </div>
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>