<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Machine" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="customerList">
                    <!-- headers -->
                    <div class="row g-4 mb-3">
                        <div class="col-sm">
                            
                            <div class="d-flex justify-content-sm-start">
                                <select class="mx-3 py-2" id="pageSizeDropdown" [(ngModel)]="pageSize"
                                    (change)="onPageSizeChange()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <!-- button -->
                                <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal"
                                    data-bs-target="#showModal" (click)="openModal(content)" id="create-btn"><i
                                        class="ri-add-line align-bottom me-1"></i>
                                    Add
                                </button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Search..."
                                        [(ngModel)]="searchTerm" (input)="onSearch()" />
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-gridjs text-center">
                            <thead>
                                <tr class="bg-light text-muted">
                                    <th scope="col"> 
                                        NO
                                    </th>
                                    <th> ID Machine </th>
                                    <th> Kode </th>
                                    <th> Section </th>
                                    <th class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                    <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            <ngb-highlight [result]="data.id_machine"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.kode"></ngb-highlight>
                                        </td>

                                        <td>
                                            <ngb-highlight [result]="data.section"></ngb-highlight>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary edit-item-btn"
                                                data-bs-toggle="modal" data-bs-target="#showModal"
                                                (click)="editModal(contentEdit, data)"><i
                                                    class="ri-edit-line align-bottom me-1"></i> edit
                                            </button>
                                            
                                            <button type="button" class="btn w-sm btn-danger"style="margin-left: 15px;" id="delete-product"
                                                    (click)="confirm(data.id_machine)">Delete</button>
                                            
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="filterdata?.length == 0">
                                    <td colspan="8" class="text-center">No data available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center d-print-none">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                {{ getShowingText() }} of {{ totalRecords }} entries
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-end listjs-pagination">
                                <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                    [maxSize]="3" [ellipses]="false"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add ListJs Data -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Machine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="machineadd" class="tablelist-form" autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> ID Machine </label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Result"
                        formControlName="id_machine">
                </div>

                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Kode </label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Remark"
                        formControlName="kode">
                </div>

                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Section </label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Next Plan"
                        formControlName="section">
                </div>

                <br>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()" id="add-btn">Submit</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Edit Machine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="machineedit" class="tablelist-form" autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label">ID Machine</label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Result"
                        formControlName="id_machine" readonly>
                </div>
                <div class="col-12">
                    <label for="placeholderInput" class="form-label">Kode</label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Result"
                        formControlName="kode">
                </div>
                <div class="col-12">
                    <label for="placeholderInput" class="form-label">Section</label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Result"
                        formControlName="section">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-primary" id="add-btn" (click)="onUpdate()">Submit</button>
            </div>
        </div>
    </form>
</ng-template>