<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div class="flex-shrink-0">
                      <button *ngIf="!isEmployee" class="btn btn-primary btn-sm" style="margin-right: 10px;"
                        (click)="addData()">Add Data</button>
                    </div>
                    <div class="search-box">
                      <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
                      <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="form-group row">
                      <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                      <div class="col-md-8 d-flex align-items-center">
                        <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                      <div class="col-md-8 d-flex align-items-center">
                        <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                      </div>
                    </div>
                  </div>
                <div class="table-responsive">
                    <table class="table table-gridjs" style="width: 120rem;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Picture</th>
                                <th>Area Machine</th>
                                <th>No</th>
                                <th>Task Activity</th>
                                <th>Period</th>
                                <th>Standart</th>
                                <th>PIC</th>
                                <th>Date</th>
                                <th>Remark</th>
                                <th>Details</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataForCurrentPage; let i = index">
                                <td style="vertical-align: top; text-align: center;">{{ i + 1 }}</td>
                                <td class="justify-content-center" style="text-align: center;">
                                    <div class="card1" style="display: inline-block;">
                                        <img [src]="getImgFilePicture1(item.picture1)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;"
                                            (click)="openPicture1(getImgFilePicture1(item.picture1))">
                                        <img [src]="getImgFilePicture2(item.picture2)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;"
                                            (click)="openPicture2(getImgFilePicture2(item.picture2))">
                                        <img [src]="getImgFilePicture3(item.picture3)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;"
                                            (click)="openPicture3(getImgFilePicture3(item.picture3))">
                                        <img [src]="getImgFilePicture4(item.picture4)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;"
                                            (click)="openPicture4(getImgFilePicture4(item.picture4))">
                                        <img [src]="getImgFilePicture5(item.picture5)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;"
                                            (click)="openPicture5(getImgFilePicture5(item.picture5))">
                                    </div>
                                </td>
                                <td style="vertical-align: top;">
                                    {{ item.machine }}
                                </td>
                                <td style="vertical-align: top; text-align: center;">
                                    <div *ngFor="let no of item.no.split('\n')">{{ no }}<br></div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div *ngFor="let task of item.task_activity.split('\n'); let i = index">
                                        {{ task }}
                                        <ng-container *ngIf="item.id_status.split('\n')[i] === '3'">
                                            <i class="bi bi-check-circle-fill" style="color: rgb(0, 160, 0)"></i><br>
                                        </ng-container>
                                    </div>
                                </td>                                
                                <td style="vertical-align: top; text-align: center;">
                                    <div *ngFor="let periode of item.periode.split('\n')">{{ periode }}<br></div>
                                </td>
                                <td style="vertical-align: top; text-align: center;">
                                    <div *ngFor="let standart of item.standart.split('\n')">{{ standart }}<br></div>
                                </td>
                                <td style="vertical-align: top; width: 10rem; text-align: center;">
                                    <div *ngFor="let pic of item.pic.split('\n')">{{ pic }}<br></div>
                                </td>
                                <td style="vertical-align: top; text-align: center; width: 10rem;">
                                    <div *ngFor="let date of item.date.split('\n')">{{ date | date:'dd MMMM yyyy' }}<br>
                                    </div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div *ngIf="item.remark">
                                        <div *ngFor="let remark of item.remark.split('\n')">{{ remark }}<br></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="dropdown" ngbDropdown>
                                        <a href="javascript:void(0);" class="arrow-none" role="button"
                                            id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                            ngbDropdownToggle>
                                            <i class="ri-more-2-fill"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1"
                                            ngbDropdownMenu>
                                            <li><a class="dropdown-item" (click)="openPopup(item.id)">Confirm</a></li>
                                            <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="editData(item.id)">Edit Data</a></li>
                                            <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="dataForCurrentPage?.length == 0">
                                <td colspan="11" class="text-center">No data available</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-end">
                    <ngb-pagination
                      [collectionSize]="dataByLine.length"
                      [(page)]="currentPage"
                      [pageSize]="itemsPerPage"
                      [maxSize]="3" [rotate]="true" [ellipses]="false"
                      (pageChange)="onPageChange($event)"
                    ></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>