<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-body" *ngIf="dataAbnormalById">
                <div class="row mt-3">
                    <div class="col col-6">
                        <div class="row">
                            <div class= "col col-md-4 text-center">
                                <label for="area" class="form-label">
                                    <h5><b><u> Area </u></b></h5>
                                </label>
                                <div>
                                    <ng-select
                                    [items]="area"
                                    bindLabel="area" 
                                    bindValue="id"   
                                    [(ngModel)]="dataAbnormalById.id_area"
                                    name="area"
                                    placeholder="Select Area">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col col-md-4 text-center">
                                <label for="machine" class="form-label">
                                    <h5><b><u> Machine </u></b></h5>
                                </label>
                                <div style="width: 13rem; margin-left: -10px;">
                                    <ng-select
                                    [items]="machine"
                                    bindLabel="machine" 
                                    bindValue="id"   
                                    [(ngModel)]="dataAbnormalById.id_machine"
                                    name="machine"
                                    placeholder="Select Machine">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col col-md-4 text-center">
                                <label for="lot_number" class="form-label">
                                    <h5><b><u> Lot Number </u></b></h5>
                                </label>
                                <input class="form-control" type="text" name="lot_number" [(ngModel)]="dataAbnormalById.lot_number">
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 text-center">
                            <div class="row">
                                <div class="col col-md-4 text-center">
                                    <label for="due_date" class="form-label">
                                        <h5><b><u> Due Date </u></b></h5>
                                    </label>
                                    <input class="form-control" type="date" name="due_date" [(ngModel)]="dataAbnormalById.due_date">
                                </div>
                                <div class="col col-md-4">
                                    <div class="text-center">
                                        <label for= "start_time" class="form-label">
                                            <h5><b><u>Start Time</u></b></h5>
                                        </label>
                                        <input type="time" class="form-control" [(ngModel)]="dataAbnormalById. start_time">
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="text-center">
                                        <label for="end_time" class="form-label">
                                            <h5><b><u>End Time</u></b></h5>
                                        </label>
                                        <input type="time" class="form-control" [(ngModel)]="dataAbnormalById.end_time">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row mt-5">
                    <div class="col col-6">
                        <div class="mb-5 text-center">
                            <label for="problemInput" class="form-label text-center">
                                <h5><b><u>Problem</u></b></h5>
                            </label>
                            <div *ngIf="!isEditingProblem; else editProblem">
                                <textarea class="form-control" id="problem" rows="5" placeholder="Enter problem" [(ngModel)]="dataAbnormalById.problem"
                                    ></textarea>
                                <button (click)="startEditingProblem()" class="btn btn-primary mt-2">Edit Img Problem</button>
                            </div>
                            <ng-template #editProblem>
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImgProblem($event)" class="dropzone_sec">
                                </dropzone>
                                <button (click)="cancelEditingProblem()" class="btn btn-secondary mt-2">Cancel</button>
                            </ng-template>
                        </div>
                    </div>

                    <div class="col col-6">
                        <div class="mb-5 text-center">
                            <label for="CauseInput" class="form-label text-center">
                                <h5><b><u>Cause</u></b></h5>
                            </label>
                            <div *ngIf="!isEditingCause; else editCause">
                                <textarea class="form-control" id="cause" rows="5" placeholder="Enter cause" [(ngModel)]="dataAbnormalById.cause"></textarea>
                                <button (click)="startEditingCause()" class="btn btn-primary mt-2">Edit Img Cause</button>
                            </div>
                            <ng-template #editCause>
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImgCause($event)"
                                class="dropzone_sec"></dropzone>
                                <button (click)="cancelEditingCause()" class="btn btn-secondary mt-2">Cancel</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="mb-3 text-center">
                            <label for="taken_action" class="form-label text-center">
                                <h5><b><u>Taken Action</u></b></h5>
                            </label>
                            <div *ngIf="!isEditingCapaTion; else editCapaTion">
                                <textarea class="form-control" id="taken_action" rows="5" placeholder="Enter Taken Action" [(ngModel)]="dataAbnormalById.taken_action"></textarea>
                                <button (click)="startEditingCapaTion()" class="btn btn-primary mt-2">Edit Img Taken Action</button>
                            </div>
                            <ng-template #editCapaTion>
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImgCapaCurrention($event)"
                                class="dropzone_sec"></dropzone>
                                <button (click)="cancelEditingCapaTion()" class="btn btn-secondary mt-2">Cancel</button>
                            </ng-template>
                                
                            
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="mb-3 text-center">
                            <label for="capa" class="form-label text-center">
                                <h5><b><u>CA-PA</u></b></h5>
                            </label>
                            <div *ngIf="!isEditingCapaTive; else editCapaTive">
                            
                                <textarea class="form-control" id="capa" rows="5" placeholder="Enter Capa" [(ngModel)]="dataAbnormalById.capa"></textarea>
                                <button (click)="startEditingCapaTive()" class="btn btn-primary mt-2">Edit Img Capa</button>
                            </div>
                            <ng-template #editCapaTive>
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImgCapaCurrentive($event)"
                                class="dropzone_sec"></dropzone>
                                <button (click)="cancelEditingCapaTive()" class="btn btn-secondary mt-2">Cancel</button>
                            </ng-template>
                        </div>
                    </div>
                    <div class="text-end" style="margin-top: 30px;">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onSubmit()">Update</button>
                        <button class="btn btn-danger me-2" (click)="back()">Back</button>
                    </div>  
                </div>
            </div>         
        </div>
