<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCalendar"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnCalendar">Calendar</label>
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnList"
        autocomplete="off" [checked]="isTableList">
    <label class="btn btn-outline-secondary shadow-none" for="btnList">List</label>
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnTimeline"
        autocomplete="off" [checked]="isTimelineView">
    <label class="btn btn-outline-secondary shadow-none" for="btnTimeline">Timeline</label>
  </div>

<div class="col-xl-6">
    <div class="card" style="width: 200%; height: auto;">
        <div class="card-header">
            <h4 class="card-title mb-0">Timeline</h4>
        </div><!-- end card header -->

        <div class="card-body">
          <apx-chart *ngIf="differentColorChart" [series]="differentColorChart.series" [chart]="differentColorChart.chart"
          [fill]="differentColorChart.fill" [grid]="differentColorChart.grid"
          [dataLabels]="differentColorChart.dataLabels" [plotOptions]="differentColorChart.plotOptions"
          [xaxis]="differentColorChart.xaxis" [yaxis]="differentColorChart.yaxis" dir="ltr"></apx-chart>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div>
<!-- end col -->

