<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ForminputNameProduct" class="form-label">Name Product</label>
                            <input type="text" class="form-control" [(ngModel)]="newInvestigasi.name_product" name="name_product"
                                id="ForminputNameProduct">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputDate" class="form-label">Date Production</label>
                            <input type="date" class="form-control" [(ngModel)]="newInvestigasi.date_production" name="date"
                                id="ForminputDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ForminputLotNumber" class="form-label">Lot Number</label>
                            <input type="text" class="form-control" [(ngModel)]="newInvestigasi.lot_number" name="lot_number"
                            id="ForminputLotNumber">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="abnormalitas" class="form-label">Abnormalitas</label>
                            <input type="text" class="form-control" [(ngModel)]="newInvestigasi.abnormalitas"
                                name="abnormalitas" id="abnormalitas">
                        </div>
                        <div *ngIf="!idParam" class="col-md-12">
                            <button class="btn btn-success btn float-end" style="margin-top: 10px;"
                                (click)="onAddData()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="idParam">
    <div>
        <p class="title">Kronologi</p>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <div class="col-md-12" >
                        <button class="btn btn-primary btn-sm float-start mb-3"
                            (click)="addData()">+ Add</button>
                    </div>
                    <form>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align: middle;">
                                    <tr *ngFor="let item of subinvestigasi; let i = index">
                                        <td class="text-center" style="width: 4.3rem;">{{1 + i}}</td>
                                        <td><input type="time" class="form-control" name="start_time-{{i}}"
                                            [(ngModel)]="item.start_time"></td>
                                        <td><input type="time" class="form-control" name="end_time-{{i}}"
                                            [(ngModel)]="item.end_time"></td>
                                        <td><textarea type="text" class="form-control" name="explanation-{{i}}"
                                            [(ngModel)]="item.explanation"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form action="javascript:void(0);">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="funlocInput" class="form-label">Pic</label>
                                <div>
                                    <ng-select
                                    [items]="userByRole"
                                    bindLabel="name" 
                                    bindValue="id"   
                                    [(ngModel)]="newSubInvestigasiDetail.id_pic"
                                    name="picInput"
                                    placeholder="Select PIC">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="ForminputDate" class="form-label">Due Date</label>
                                <input type="date" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.due_date" name="due_date"
                                    id="ForminputDate">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="analisa_penyebab" class="form-label">Analisa Penyebab</label>
                                <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.analisa_penyebab"
                                    name="analisa_penyebab" id="analisa_penyebab"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="akibat" class="form-label">Akibat Yang Ditimbulkan</label>
                                <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.akibat"
                                    name="akibat" id="akibat"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="hasil_inspeksi" class="form-label">Hasil Inspeksi</label>
                                <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.hasil_inspeksi"
                                    name="hasil_inspeksi" id="hasil_inspeksi"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="currection_action" class="form-label">Cureection Action</label>
                                <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.currection_action"
                                    name="currection_action" id="currection_action"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="preventive_action" class="form-label">Preventive Action</label>
                                <textarea type="tel" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.preventive_action" name="preventive_action"
                                    id="preventive_action"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="upload_img" class="form-label">Upload Image</label>
                                <dropzone [config]="dropzoneConfig" (success)="onUploadImg($event)"
                                    class="dropzone_sec"></dropzone>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                                <button type="submit" class="btn btn-danger" (click)="goBack()">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>