<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCompleted"
        autocomplete="off" [checked]="!isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnCompleted">Completed</label>

    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnPending"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnPending">Pending</label>
</div>

<ng-container *ngIf="!isTableView">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="flex-shrink-0" style="margin-bottom: 30px; display: flex; align-items: center;">
                            <div class="search-box" style="margin-right: 10px;">
                            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText1" (input)="search1()">
                            <i class="ri-search-line search-icon"></i>
                            </div>
                            <div class="form-group row">
                            <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter1()">
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter1()">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>                  
                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="column">
                                        <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let weekly of dataForCurrentPage1; let i = index">
                                        <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                        <td style="vertical-align: middle;">{{ weekly.function_location }}</td>
                                        <td style="vertical-align: middle;">
                                            <div *ngFor="let task of weekly.operation_task.split('\n')">{{ task }}<br>
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <div *ngFor="let description of weekly.description_material.split('\n')">
                                                {{ description }}<br></div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div *ngFor="let name of weekly.pic.split(',')">{{ name }}</div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span
                                                class="badge badge-custom text-bg-{{ getStatusLabelClass(weekly.id_status) }}">{{ getStatusLabel(weekly.id_status) }}</span>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            {{ weekly.date | date:'dd MMMM yyyy' }}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="openPopup(weekly)">Show
                                                            All</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="dataForCurrentPage1?.length === 0">
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                                <ngb-pagination [collectionSize]="dataWeeklyCan.length" [(page)]="currentPage"
                                [maxSize]="3" [rotate]="true" [ellipses]="false" [pageSize]="itemsPerPage" (pageChange)="onPageChange1($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</ng-container>

<ng-container *ngIf="isTableView">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="flex-shrink-0" style="margin-bottom: 30px; display: flex; align-items: center;">
                            <div class="search-box" style="margin-right: 10px;">
                            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText2" (input)="search2()">
                            <i class="ri-search-line search-icon"></i>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                                <div class="col-md-8 d-flex align-items-center">
                                <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter2()">
                                </div>
                            </div>
                            <div class="form-group row"  style="display: none;">
                                <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                                <div class="col-md-8 d-flex align-items-center">
                                <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter2()">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>                  
                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="column">
                                        <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pending of dataForCurrentPage2; let i = index">
                                        <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                        <td style="vertical-align: middle;">{{ pending.function_location }}</td>
                                        <td style="vertical-align: middle;">
                                            <div *ngFor="let task of pending.operation_task.split('\n')">{{ task }}<br>
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <div *ngFor="let description of pending.description_material.split('\n')">
                                                {{ description }}<br></div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div *ngFor="let name of pending.pic.split(',')">{{ name }}</div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span
                                                class="badge badge-custom text-bg-{{ getStatusLabelClass(pending.id_status) }}">{{ getStatusLabel(pending.id_status) }}</span>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            {{ pending.date | date:'dd MMMM yyyy' }}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="openPopup(pending)">Show
                                                            All</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="dataForCurrentPage2?.length === 0">
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                                <ngb-pagination [collectionSize]="dataWeeklyCan.length" [(page)]="currentPage"
                                    [pageSize]="itemsPerPage" (pageChange)="onPageChange2($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</ng-container>