<div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
        <img src="/assets/images/report_masterplan.png" class="profile-wid-img" alt="">
        <div class="overlay-content">
            <div class="text-end p-3">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card" style="margin-top: -70px;">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 30px;">
                    <button class="btn btn-primary btn-sm" style="margin-right: 10px;"
                        (click)="onReport()">Add Report</button>
                    <div class="search-box" style="display: inline-block;">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"
                            (input)="search()">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr class="text-muted">
                                    <th class="text-center">No</th>
                                    <th class="sort" listsortable="area" (click)="onSort($event)">Section</th>
                                    <th class="sort" listsortable="wo_number" (click)="onSort($event)">Wo Number</th>
                                    <th class="sort" listsortable="pic" (click)="onSort($event)">PIC</th>
                                    <th class="sort" listsortable="description" (click)="onSort($event)">Description Of Work</th>
                                    <th class="sort text-center" listsortable="start_date" (click)="onSort($event)">Date</th>
                                    <th class="text-center">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let report of dataForCurrentPage; let i = index">
                                    <td style="text-align: center; width: 5px;">{{ i + 1 }}</td>
                                    <td>{{ report.area }}</td>
                                    <td>{{ report.wo_number }}</td>
                                    <td>{{ report.pic }}</td>
                                    <td>{{ report.description }}</td>
                                    <td style="text-align: center;">{{ report.start_date | date:'dd MMMM yyyy' }} - {{ report.end_date | date:'dd MMMM yyyy' }}</td>
                                    <td style="text-align: center;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="viewReport(report.id_report_master)">View Report</a></li>
                                                <li><a class="dropdown-item" (click)="editReport(report.id_report_master)">Edit Data</a></li>
                                                <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="onDelete(report.id_report_master)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="dataForCurrentPage?.length === 0">
                                    <td colspan="7" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                            <ngb-pagination [collectionSize]="reportMasterplan.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
                            [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>