<div #content>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card3" style="width: 60rem; height: 30rem;">
            <div class="card-body" style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="margin-top: 260px; margin-left: 40px;">
                    <div class="mb-3">
                        <label for="section" name="section" id="section" class="form-label">
                            <h5>Section: {{ getSection(dataReport.id_area) }}</h5>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="wo-number" name="wo-number" id="wo-number" class="form-label">
                            <h5>Wo Number: {{ dataReport.wo_number }}</h5>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="description" name="description" id="description" class="form-label">
                            <h5>Description of Work: {{ dataReport.description }}</h5>
                        </label>
                    </div>                   
                </div>
                <div style="margin-top: 260px; margin-left: 130px;">
                    <div class="mb-3">
                        <label for="equipment" name="equipment" id="equipment" class="form-label">
                            <h5>Equipment: {{ dataReport.equipment }}</h5>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="pic" name="pic" id="pic" class="form-label">
                            <h5>Pic: {{ dataReport.pic }}</h5>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">
                            <h5>Date Range: {{ dataReport.start_date | date:'dd MMMM yyyy' }} - {{ dataReport.end_date | date:'dd MMMM yyyy' }}</h5>
                        </label>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let plan of reportMasterPlanData" class="container d-flex justify-content-center align-items-center" style="margin-top: 80px;">
        <div class="card2" style="width: 60rem; height: 30rem;">
            <div class="card-body" style="display: grid; grid-template-columns: 1fr 1.3fr;">
                <div style="margin-top: 0px; margin-left: 20px;">
                    <div class="mb-0" style="margin-top: 15px; margin-left: 60px;">
                        <label for="date" name="date" id="date" class="form-label">
                            <h4>{{ plan.date | date:'dd MMMM yyyy'}}</h4>
                        </label>
                    </div>
                    <div class="mb-2" style="margin-top: 10px; margin-left: 60px;">
                        <label for="time" name="time" id="time" class="form-label">
                            <h4>{{ plan.start_time.slice(0, 5)  }} - {{ plan.end_time.slice(0, 5)  }}</h4>
                        </label>
                    </div>
                </div>
                <div style="margin-top: 0px; margin-left: 130px;">
                    <div class="mb-2" style="margin-top: 15px; margin-left: 40px;">
                        <label for="pic" name="pic" id="pic" class="form-label">
                            <h4>{{ dataReport.pic }}</h4>
                        </label>
                    </div>
                    <div class="mb-2" style="margin-top: 10px; margin-left: 40px;">
                        <label for="verification" name="verification" id="verification" class="form-label">
                            <h4>{{ plan.verification }}</h4>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="mb-3" style="margin-top: 50px; margin-left: 20px;">
                        <label for="activity" name="activity" id="activity" class="form-label" style="word-wrap: break-word;">
                            <h5 [innerHTML]="getActivityWithLineBreaks(plan.activity)"></h5>
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-left: 10px; position: relative; z-index: 99; margin-top: 90px;">
                    <div class="col mb-3" style="width: 240px;">
                        <div class="card" style="box-shadow: none;">
                            <img [src]="getImgFileBefore(plan.documentation_before)" alt=""
                            style="max-width: 100%; max-height: 200px; object-fit: contain;"
                            (click)="openLightboxBefore(getImgFileBefore(plan.documentation_before))">
                        </div>
                    </div>
                    <div class="col mb-3" style="margin-right: 10px; width: 240px;">
                        <div class="card" style="box-shadow: none;">
                            <img [src]="getImgFileAfter(plan.documentation_after)" alt=""
                            style="max-width: 100%; max-height: 200px; object-fit: contain;"
                            (click)="openLightboxAfter(getImgFileAfter(plan.documentation_after))">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="text-end mb-3" style="margin-top: 20px;">
    <button (click)="exportToPdf()" class="btn btn-success">Export PDF</button>
    <button (click)="forBack()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
</div>