.card3{
    background-image: url('/assets/images/master-can.png');
    background-size: cover;
    border: 2px solid #000
}

.card2{
    background-image: url('/assets/images/view-report2.png');
    background-size: cover;
    border: 2px solid #000
}

.card3{
    background-size: cover;
}