  <div style="margin-top: -15px;" class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnList"
        autocomplete="off" [checked]="!isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnList">List</label>
  
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnHistory"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnHistory">History</label>
  </div>

  <ng-template #add_acces let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Acces Line</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="newAccesLine.name" name="name" id="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="newAccesLine.email" name="email" id="email">
                </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                  <label for="hp_number" class="form-label">Hp Number</label>
                  <input type="text" class="form-control" [(ngModel)]="newAccesLine.hp_number" name="hp_number" id="hp_number">
              </div>
          </div>
          <div class="col-md-6">
              <div class="mb-3">
                  <label for="company_name" class="form-label">Company Name</label>
                  <input type="text" class="form-control" [(ngModel)]="newAccesLine.company_name" name="company_name" id="company_name">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" [(ngModel)]="newAccesLine.country" name="country" id="country">
                </div>
                <div class="mb-3">
                    <label for="visit_category" class="form-label">Visit Category</label>
                    <input type="text" class="form-control" [(ngModel)]="newAccesLine.visit_category" name="visit_category" id="visit_category">
                </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
                <label for="picInput" class="form-label">AIO PIC</label>
                <div>
                    <ng-select
                        [items]="namePicSpv"
                        bindLabel="name" 
                        bindValue="name"   
                        (change)="onPic($event)"
                        name="picInput"
                        placeholder="Select PIC">
                    </ng-select>
                </div>
            </div>
            <div class="mb-3">
                <label for="visit_date" class="form-label">Visit Date</label>
                <input type="date" class="form-control" [(ngModel)]="newAccesLine.visit_date" name="visit_date" id="visit_date">
            </div>
        </div>
    </div>
  </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <div class="custom-card1 no-border-card shadow-lg rounded" 
          style="background-image: url('/assets/images/rules.png'); background-size: cover; width: 630px; height: 450px;">
      </div>
    </div>
    <div class="col-md-12 mt-3 mb-3 text-end">
        <button type="submit" class="btn btn-success" style="margin-right: 15px;" (click)="onSubmit()">Submit</button>
    </div>
</ng-template>


  <ng-template #approve let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Approve Access Line</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newAccesLine.notes"
                      name="add-quote" id="add-quote">
                  </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onApprove(dataAcces.id)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </ng-template>
  
  <ng-template #reject let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Reject Access Line</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newAccesLine.notes"
                      name="add-quote" id="add-quote">
                  </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onReject(dataAcces.id)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </ng-template>
  
  <ng-container *ngIf="!isTableView">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div class="flex-shrink-0">
                        <button  class="btn btn-primary btn-sm" style="margin-right: 10px;"
                          (click)="addAcces(add_acces)">Add Data</button>
                    </div>
                    <div class="search-box" style="margin-right: 10px;">
                      <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText1"(input)="search1()">
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-gridjs">
                  <thead class="text-center">
                    <th>No</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Visit Category</th>
                    <th>Visit Date</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Details</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataForCurrentPage1; let i = index">
                        <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.company_name }}</td>
                        <td>{{ item.visit_category }}</td>
                        <td style="vertical-align: middle; text-align: center;">{{ item.visit_date | date:'dd MMMM yyyy' }}</td>
                        <td *ngIf="isAdmin || isSpv" style="vertical-align: middle; text-align: center;">
                          <span class="badge badge-custom text-bg-{{ getStatusAdminClass(item.id_status) }}">{{ getStatusAdmin(item.id_status) }}</span>
                        </td>
                        <td *ngIf="!isAdmin && !isSpv" style="vertical-align: middle; text-align: center;">
                          <span class="badge badge-custom text-bg-{{ getStatusOtherClass(item.id_status) }}">{{ getStatusOther(item.id_status) }}</span>
                        </td>
                        <td>{{ item.notes }}</td>
                        <td class="text-center" style="width: 5rem;">
                          <div class="dropdown" ngbDropdown>
                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                              data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                              <i class="ri-more-2-fill"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                              <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="onDone(item.id)">Done</a></li>
                              <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="openApprove(approve, item, item.id)">Approve</a></li>
                              <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="openReject(reject, item, item.id)">Reject</a></li>
                              <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                            </ul>
                          </div>
                        </td>
                    </tr>
                    <tr *ngIf="dataForCurrentPage1?.length == 0">
                      <td colspan="12" class="text-center">No data available</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination justify-content-end">
                <ngb-pagination [collectionSize]="dataAcces.length" [(page)]="currentPage1" [pageSize]="itemsPerPage1"
                [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange1($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ng-container>

  <ng-container *ngIf="isTableView">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div class="search-box" style="margin-right: 10px;">
                      <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText2"(input)="search2()">
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-gridjs">
                  <thead class="text-center">
                    <th>No</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Visit Category</th>
                    <th>Visit Date</th>
                    <th>Status</th>
                    <th>Notes</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataForCurrentPage2; let i = index">
                        <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.company_name }}</td>
                        <td>{{ item.visit_category }}</td>
                        <td style="vertical-align: middle; text-align: center;">{{ item.visit_date | date:'dd MMMM yyyy' }}</td>
                        <td style="vertical-align: middle; text-align: center;">
                          <span class="badge badge-custom text-bg-{{ getStatusAdminClass(item.id_status) }}">{{ getStatusAdmin(item.id_status) }}</span>
                        </td>
                        <td *ngIf="isAdmin || isSpv">{{ item.notes}}</td>
                    </tr>
                    <tr *ngIf="dataForCurrentPage2?.length == 0">
                      <td colspan="12" class="text-center">No data available</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination justify-content-end">
                <ngb-pagination [collectionSize]="dataHistoryAcces.length" [(page)]="currentPage2" [pageSize]="itemsPerPage2"
                [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange1($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ng-container>