.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}

.badge-custom {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
}