<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <div class="flex-shrink-0 mb-3" style="display: flex; align-items: center;">
                <div class="search-box" style="margin-right: 10px;">
                  <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
                  <i class="ri-search-line search-icon"></i>
                </div>
                <div class="form-group row">
                  <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                  <div class="col-md-8 d-flex align-items-center">
                    <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                  <div class="col-md-8 d-flex align-items-center">
                    <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                  </div>
                </div>
              </div>
          <div class="table-responsive">
            <table class="table table-gridjs" style="table-layout: auto;">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Task</th>
                  <th>SPV</th>
                  <th>Due Date</th>
                  <th>File</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Notes</th>
                  <th>Revisi</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of dataForCurrentPage; let i = index">
                    <ng-container *ngIf="item.switch_to === userData.name">
                        <tr style="vertical-align: middle;">
                        <td style="text-align: center;">{{ i + 1 }}</td>
                        <td style="width: 12rem;">{{ item.task }}</td>
                        <td style="text-align: center;">{{ item.send_to }}</td>
                        <td style="text-align: center;">{{ item.due_date | date:'dd MMMM yyyy' }}</td>
                        <td style="text-align: center;">
                            <ng-container *ngIf="!item.file_employee">
                                <label for="file-upload" class="bi bi-cloud-upload" style="cursor: pointer; transform: scale(1.2);"></label>
                                <input id="file-upload" type="file" style="display: none;" (change)="onFileSelected($event, item.id)">
                            </ng-container>
                            <ng-container *ngIf="item.file_employee">
                                <a [href]="getPdf(item.file_employee)" target="_blank" download>
                                    <i class="bi bi-cloud-download"></i>
                                </a>
                                </ng-container>
                        </td>
                        <td *ngIf="item.id_status_spv !== 5" style="vertical-align: middle; text-align: center;">
                            <span
                            class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                        </td>
                        <td *ngIf="item.id_status_spv === 5" style="vertical-align: middle; text-align: center;">
                          <span
                          class="badge badge-custom text-bg-{{ getStatusLabelClassSpv(item.id_status_spv) }}">{{ getStatusLabelSpv(item.id_status_spv) }}</span>
                        </td>
                        <td style="vertical-align: middle; text-align: center;">
                            <span
                            class="badge badge-custom2 text-bg-{{ getPriorityLabelClass(item.id_priority) }}">{{ getPriorityLabel(item.id_priority) }}</span>
                        </td>
                        <td style="text-align: center;">{{ item.notes_employe }}</td>
                        <td style="text-align: center;">{{ item.revisi }}</td>
                        <td class="text-center" style="width: 7rem;">
                          <i *ngIf="item.id_status === 1" class="bi bi-check-square green-icon" style="cursor: pointer;" (click)="isRecive(item.id)" ></i>
                          <i *ngIf="item.id_status !== 1" class="bi bi-check-square green-icon" style="cursor: pointer;" (click)="notesSpvDone(notes_employe_done, item.id)"></i>
                          <i *ngIf="item.id_status !== 1" class="bi bi-trash red-icon" style="cursor: pointer; margin-left: 10px;" (click)="isChangeFile(item.id)"></i>
                        </td> 
                        </tr>
                        <tr *ngIf="dataForCurrentPage?.length === 0">
                            <td colspan="11" class="text-center">No data available</td>
                        </tr>
                    </ng-container>
                </ng-container>
              </tbody>
            </table>
            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                <ngb-pagination [collectionSize]="dataForCurrentPage.length" [(page)]="currentPage"
                [maxSize]="3" [rotate]="true" [ellipses]="false" [pageSize]="itemsPerPage" (pageChange)="onPageChange($event)"></ngb-pagination>
            </div>
          </div>
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
  </div>

  <ng-template #notes_employe_done let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid mt-2">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="add-quote" class="form-label">Notes</label>
                        <input type="text" class="form-control"  [(ngModel)]="newTaskSpvToEmployee.notes_spv"
                        name="add-quote" id="add-quote">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onDoneTaskEmploye()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </ng-template>