th {
    font-weight: bold;
    text-align: center;
}
.badge-custom {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
  }

.badge-custom2 {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
}

.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}

.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}

.bi.bi-cloud-upload::before {
    margin-bottom: 0; /* Set margin-bottom ke 0 */
}

.bi.bi-cloud-upload {
    margin-bottom: 0; 
    color: rgb(137, 40, 255);/* Set margin-bottom ke 0 */
}

.bi.bi-cloud-upload:hover {
    opacity: 0.5; /* Contoh: mengurangi opacity ketika ikon dihover */
}

.bi-cloud-download:hover {
    opacity: 0.5; 
}

.green-icon {
    color: green;
  }
  
  .red-icon {
    color: red;
  }
