<div class="container">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="task" class="form-label">Task</label>
                    <input type="text" class="form-control" [(ngModel)]="newTaskSpv.task" name="task" id="task">
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="picInput" class="form-label">Send To</label>
                        <div>
                            <ng-select
                            [items]="namePicSpv"
                            bindLabel="name" 
                            bindValue="name"   
                            [(ngModel)]="newTaskSpv.send_to"
                            name="picInput"
                            placeholder="Select SPV">
                            </ng-select>
                        </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="due_date" class="form-label">Due Date</label>
                    <input type="date" class="form-control" [(ngModel)]="newTaskSpv.due_date" name="due_date" id="due_date">
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <input type="text" class="form-control" [(ngModel)]="newTaskSpv.notes" name="notes" id="notes">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2 text-end">
                <button *ngIf="!idTask" type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                <button *ngIf="idTask" type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                <button class="btn btn-danger me-2" (click)="closeEventModal()">Back</button>
            </div>
        </div>
    </div>
</div>
