<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 30px;">
                    <button *ngIf="isAdmin || isSpv" class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="addData()">Add
                        Data</button>
                    <button class="btn btn-danger btn-sm" style="margin-right: 10px;"
                        (click)="onReport()">Report</button>
                        <button class="btn btn-success btn-sm" style="margin-right: 10px;"
                        (click)="listReport()">List Report</button>
                    <div class="search-box" style="display: inline-block;">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"
                            (input)="search()">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr class="column">
                                    <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of activityData; let i = index">
                                    <td style="vertical-align: top; text-align: center;">{{ i + 1 }}</td>
                                    <td style="vertical-align: top;">{{ item.function_location }}</td>
                                    <td style="vertical-align: top;">
                                        <div *ngFor="let task of item.operation_task.split('\n')">{{ task }}<br></div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div *ngFor="let description of item.description_material.split('\n')">
                                            {{ description }}<br></div>
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        {{ item.pic }}
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        <span
                                            class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        {{ item.date | date:'dd MMMM yyyy'}}</td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="openPopup(item)">Show All</a></li>
                                                <li *ngIf="isAdmin || isSpv"><a class="dropdown-item"
                                                        (click)="editData(item.id_activity_group)">Edit Data</a></li>
                                                <li *ngIf="isAdmin || isSpv"><a class="dropdown-item"
                                                        (click)="onDelete(item.id_activity_group)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="activityData?.length == 0">
                                    <td colspan="8" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mt-3">
                            <ngb-pagination [collectionSize]="activityData.length" [(page)]="currentPage"
                            [maxSize]="3" [rotate]="true" [ellipses]="false" [pageSize]="itemsPerPage" (pageChange)="onPageChange($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>