<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="mb-3">
                            <table class="table table-bordered" id="materialInput">
                                <thead>
                                    <tr>
                                        <th>Description Material</th>
                                        <th>QTY</th>
                                        <th>Status Part</th>
                                        <th>Category</th>
                                        <th>Work Center</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of material; let i = index">
                                        <td><input type="text" class="form-control"
                                                [(ngModel)]="item.description_material"
                                                name="description_material-{{ i }}">
                                        </td>
                                        <td><input type="text" class="form-control" name="qty-{{i}}"
                                                [(ngModel)]="item.qty"></td>
                                        <td><input type="text" class="form-control" name="status_part-{{i}}"
                                                [(ngModel)]="item.status_part"></td>
                                        <td><input type="text" class="form-control" name="category_activity-{{i}}"
                                                [(ngModel)]="item.category_activity"></td>
                                        <td><input type="text" class="form-control" name="work_center-{{i}}"
                                                [(ngModel)]="item.work_center"></td>
                                        <td><input type="text" class="form-control" name="duration-{{i}}"
                                                [(ngModel)]="item.duration"></td>
                                        <td style="vertical-align: middle;">
                                            <div class="centered-container">
                                                <button class="btn btn-success btn-sm"
                                                    *ngIf="!item.id_activity_material && !materialSaveData[i]"
                                                    (click)="insertMaterial(i)">save</button>
                                                <div class="row"
                                                    *ngIf="item.id_activity_material || materialSaveData[i]">
                                                    <div class="col-md-5">
                                                        <button class="btn btn-success btn-sm"
                                                            *ngIf="item.id_activity_material"
                                                            (click)="onUpdateMaterial(i)">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm float-end" style="margin-top: -5px;"
                                    (click)="addMaterial()">+ row</button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>