<div class="container-fluid">
    <div class="card-body">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="mb-3">
                        <div class="modal-header mb-3">
                            <h5 class="modal-title" id="exampleModalLabel">Task List</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
                            (click)="onClose()"></button>   
                        </div>
                        <table class="table table-bordered" id="materialInput">
                            <thead class="header custom-header">
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of autonomous; let i = index">
                                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                    <td style="vertical-align: middle;">{{item.task_activity}}</td>
                                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                                    <td style="vertical-align: middle; text-align: center;">
                                        <div class="centered-container">
                                            <button class="btn btn-success btn-sm"
                                                (click)="onCompleted(i)">Done</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</div>