<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row" *ngFor="let item of dataPicture;">
                        <div *ngIf="item.picture1">
                            <img [src]="getImgFilePicture1(item.picture1)"
                                alt="" style="max-width: 100%; height: auto; object-fit: contain;">
                        </div>
                        <div class="mt-3" *ngIf="item.picture2">
                            <img [src]="getImgFilePicture2(item.picture2)"
                                alt="" style="max-width: 100%; height: auto; object-fit: contain;">
                        </div>
                        <div class="mt-3" *ngIf="item.picture3">
                            <img [src]="getImgFilePicture3(item.picture3)"
                                alt="" style="max-width: 100%; height: auto; object-fit: contain;">
                        </div>
                        <div class="mt-3" *ngIf="item.picture4">
                            <img [src]="getImgFilePicture4(item.picture4)"
                                alt="" style="max-width: 100%; height: auto; object-fit: contain;">
                        </div>
                        <div class="mt-3" *ngIf="item.picture5">
                            <img [src]="getImgFilePicture5(item.picture5)"
                                alt="" style="max-width: 100%; height: auto; object-fit: contain;">
                        </div>
                        <div class="row">
                            <div class="text-start mt-3">
                                <button class="btn btn-primary btn-sm ml-2" (click)="addData()">+ Add</button>
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;"
                                 (click)="editPicture(item.id)">
                                    <i class="bi bi-camera"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-3">
                            <table class="table table-bordered" id="activityInput1">
                                <thead class="header custom-header">
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th>Task Activity</th>
                                        <th>Periode</th>
                                        <th>Standart</th>
                                        <th>Pic</th>
                                        <th>Date</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of autonomous; let i = index">
                                        <td style="width: 5rem;"><input type="text" class="form-control text-center" name="no-{{i}}"
                                                [(ngModel)]="item.no"></td>
                                        <td style="vertical-align: middle;">
                                            <input type="text" class="form-control" name="task_activity-{{i}}"
                                                [(ngModel)]="item.task_activity"></td>
                                        <td style="width: 5rem; text-align: center;">
                                                <ng-autocomplete
                                                [data]="periodeOptions"
                                                [(ngModel)]="item.periode"
                                                [searchKeyword]="periodeSearchKeyword"
                                                (selected)="onPeriodeSelect($event)"
                                                name="periode-{{i}}"
                                                [itemTemplate]="itemTemplate"
                                                id="periode"
                                                [notFoundText]="'No data found'"
                                                [showClearIcon]="false"
                                                ></ng-autocomplete>
                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                    
                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template></td>
                                        <td style="width: 15rem; text-align: center;">
                                                <ng-autocomplete
                                                [data]="standartOptions"
                                                [(ngModel)]="item.standart"
                                                [searchKeyword]="standartSearchKeyword"
                                                (selected)="onStandartSelect($event)"
                                                name="standart-{{i}}"
                                                [itemTemplate]="itemTemplate"
                                                id="standart"
                                                [notFoundText]="'No data found'"
                                                [showClearIcon]="false"
                                                ></ng-autocomplete>
                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                    
                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template></td>
                                        <td><select class="form-control" name="pic-{{i}}" required [(ngModel)]="item.pic">
                                            <option value="" disabled selected>Select Pic</option>
                                            <option *ngFor="let pic of picEmployee" [value]="pic.name">{{ pic.name }}</option>
                                          </select></td>
                                        <td style="width: 10rem;"><input type="date" class="form-control text-center" name="date-{{i}}"
                                                [(ngModel)]="item.date"></td>
                                        <td><input type="text" class="form-control" name="remark-{{i}}"
                                                [(ngModel)]="item.remark"></td>
                                        <!-- <td style="vertical-align: middle;">
                                            <div class="d-flex justify-content-center">
                                                <button class="btn btn-success btn-sm" *ngIf="!item.id && !autonomousSaveData[i]"
                                                    (click)="insertAutonomous(i)">save</button>
                                                <div class="centered-container" *ngIf="item.id || autonomousSaveData[i]">
                                                    <div class="col-md-5">
                                                        <button class="btn btn-success btn-sm"
                                                        (click)="onUpdateAutonomous(i, item)">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <div class="col-lg-12" style="margin-top: 10px;">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success"
                                    style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                                <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                            </div>
                        </div>
                        <!--end col-->
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>