  <div class="col-xl-6">
      <div class="card" style="width: 200%; height: auto;">
          <div class="card-header" *ngFor="let item of dataTask;">
              <h4 class="card-title mb-0">Timeline {{item.task}}</h4>
          </div><!-- end card header -->

          <div class="card-body">
            <apx-chart [series]="differentColorChart.series" [chart]="differentColorChart.chart"
            [fill]="differentColorChart.fill" [grid]="differentColorChart.grid"
            [dataLabels]="differentColorChart.dataLabels" [plotOptions]="differentColorChart.plotOptions"
            [xaxis]="differentColorChart.xaxis" [yaxis]="differentColorChart.yaxis" dir="ltr"></apx-chart>
          </div><!-- end card-body -->
          <div class="text-end" style="margin-bottom: 20px; margin-right: 20px;">
            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
        </div>
      </div><!-- end card -->
  </div>
  <!-- end col -->

