<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="functionLocation" class="form-label">Month</label>
                        <div class="d-flex">
                            <select class="form-control" name="month" id="month" required (change)="onMonthChange($event)">
                                <option value="" disabled selected>Select Month</option>
                                <option *ngFor="let month of dataMonth" [value]="month.month">{{ month.month }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <table class="table table-bordered" id="activityInput">
                            <thead style="background-color: rgb(237, 237, 237);">
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Function Location</th>
                                    <th>W1</th>
                                    <th>W2</th>
                                    <th>W3</th>
                                    <th>W4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of details; let i = index; trackBy: trackByFunction">
                                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                    <td style="vertical-align: middle;">
                                        <div>
                                            <select class="form-control"
                                                name="function_location-{{i}}" [(ngModel)]="item.function_location">
                                                <option value="" disabled selected>Select status</option>
                                                <option *ngFor="let funloc of dataFunctionLocationCan" [value]="funloc.function_location">
                                                    {{ funloc.function_location }}
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control" name="w1-{{i}}"
                                        [(ngModel)]="item.w1"></td>
                                    <td><input type="text" class="form-control" name="w2-{{i}}"
                                        [(ngModel)]="item.w2"></td>
                                    <td><input type="text" class="form-control" name="w3-{{i}}"
                                        [(ngModel)]="item.w3"></td>
                                    <td><input type="text" class="form-control" name="w4-{{i}}"
                                        [(ngModel)]="item.w4"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <button *ngIf="isMonthSelected" class="btn btn-primary btn-sm float-end" (click)="addDetails()">+ Add</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success"
                                style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                                <button class="btn btn-danger" (click)="forBack($event)">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>