<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="onClose()"></button>          
      </div>
      <div class="modal-body">
        <div class="form-group mt-2">
          <label>Function Location</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.function_location" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Equipment (IH01)</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.equipment" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Operation Task</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.operation_task" readonly>
        </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Description Material</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.description_material" readonly>
          </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Date</label>
          <input type="text" class="form-control" [value]="convertDate(activityData.date)" readonly>
        </div>
        <div class="form-group mt-2">
          <label>PIC</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.pic" readonly>
        </div>
        <div class="form-group mt-2">
          <label>QTY</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.qty" readonly>
          </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Status Part</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.status_part" readonly>
          </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Category</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.category_activity" readonly>
           </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Work Center</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.work_center" readonly>
            </textarea>
        </div>
        <div class="form-group mt-2">
          <label>Duration (Hour)</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.duration" readonly>
          </textarea>
        </div>
        <div *ngIf="activityData.notes" class="form-group mt-2">
          <label>Notes</label>
          <input class="form-control" rows="4" [(ngModel)]="activityData.notes" readonly>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isEmployee" type="button" class="btn btn-success" (click)="onDone(activityData.id_activity_group)">Done</button>
        <button *ngIf="!isEmployee" type="button" class="btn btn-danger" (click)="revisiTask(revisi, activityData, activityData.id_activity_group)">Revisi</button>
        <button *ngIf="isEmployee" type="button" class="btn btn-success" (click)="onApprove(activityData.id_activity_group)">Approve</button>
      </div>
    </div>
  </div>
</div>

<ng-template #revisi let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Revisi</label>
                      <input type="text" class="form-control"  [(ngModel)]="newActivityGroup.notes"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onRevision(idTask)">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>
