.card3{
    background-image: url('/assets/images/report_weekly.png');
    background-size: cover;
    border: 2px solid #000
}

.card2{
    background-image: url('/assets/images/report_weekly2.png');
    background-size: cover;
    border: 2px solid #000
}

.card3{
    background-size: cover;
}

.formatted-activity {
    white-space: pre-wrap;
}
.custom-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 960px;
    height: 480px;
}