<div *ngIf="dataById" #content>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card3" style="width: 60rem; height: 30rem;">
            <div class="card-body" style="display: grid; grid-template-columns: 1fr 1fr;">
                <div style="margin-top: 280px; margin-left: 40px;">
                    <div class="mb-3">
                        <label for="id_pic" name="id_pic" id="id_pic" class="form-label">
                            <h3>Pic: {{ dataById.name }}</h3>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="issue" name="issue" id="issue" class="form-label">
                            <h3>Issue: {{ dataById.issue }}</h3>
                        </label>
                    </div>                 
                </div>
                <div style="margin-top: 280px; margin-left: 110px;">
                    <div class="mb-3">
                        <label for="task" name="task" id="task" class="form-label">
                            <h3>Task: {{ dataById.task }}</h3>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">
                            <h3>Date Range: {{ dataById.start_date | date:'dd MMMM yyyy' }} - <br> {{ dataById.end_date | date:'dd MMMM yyyy' }}</h3>
                        </label>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 80px;">
        <div class="card2" style="width: 60rem; height: 30rem;">
            <div class="card-body custom-card">
                <div style="margin-top: 35px;">
                    <div class="mb-2" style="margin-top: 15px; margin-left: 10px;">
                        <label for="remark" name="remark" id="remark" class="form-label">
                            <h5 [innerHTML]="getDataLineBreaks(dataById.remark)"></h5>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="mb-2" style="margin-top: 50px; margin-left: 10px;">
                        <label for="action_plan" name="action_plan" id="action_plan" class="form-label">
                            <h5 [innerHTML]="getDataLineBreaks(dataById.action_plan)"></h5>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="mb-3" style="margin-top: 140px; margin-left: 10px;">
                        <label for="next_plan" name="next_plan" id="next_plan" class="form-label" style="word-wrap: break-word;">
                            <h5 [innerHTML]="getDataLineBreaks(dataById.next_plan)"></h5>
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-left: 10px; position: relative; z-index: 99; margin-top: 180px;">
                    <div class="col mb-3" style="width: 240px;">
                        <div class="card" style="box-shadow: none;">
                            <img [src]="getImgFileBefore(dataById.img_before)" alt=""
                            style="max-width: 100%; max-height: 180px; object-fit: contain;"
                            (click)="openLightboxBefore(getImgFileBefore(dataById.img_before))">
                        </div>
                    </div>
                    <div class="col mb-3" style="margin-right: 10px; width: 240px;">
                        <div class="card" style="box-shadow: none;">
                            <img [src]="getImgFileAfter(dataById.img_after)" alt=""
                            style="max-width: 100%; max-height: 180px; object-fit: contain;"
                            (click)="openLightboxAfter(getImgFileAfter(dataById.img_after))">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="text-end mb-3" style="margin-top: 20px;">
    <button (click)="exportToPdf()" class="btn btn-success">Export PDF</button>
    <button (click)="forBack()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
</div>