th {
    font-weight: bold;
    text-align: center;
}

.card1 {
    width: 130px;
    vertical-align: middle;
    text-align: center;
}
.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}
.btn-sm{
    height: 30px;
}

.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}