<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                <div class="flex-shrink-0">
                  <button class="btn btn-primary btn-sm" style="margin-right: 10px;"
                  (click)="onAddData()">Add Data</button>
                </div>
                <div class="form-group row">
                  <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                  <div class="col-md-8 d-flex align-items-center">
                    <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                  <div class="col-md-8 d-flex align-items-center">
                    <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Date</th>
                  <th>Image Mapping</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataForCurrentPage; let i = index">
                  <td style="vertical-align: top; text-align: center;">{{ i + 1 }}</td>
                  <td style="vertical-align: top; text-align: center;">{{ item.date | date:'dd MMMM yyyy'}}</td>
                  <td style="text-align: center;">
                      <div class="card1" style="display: inline-block; text-align: center;">
                          <img [src]="getImgMapping(item.img_mapping)" alt=""
                          style="max-width: 100%; max-height: 100px; object-fit: contain;"
                          (click)="openLightboxMapping(getImgMapping(item.img_mapping))">
                      </div>
                  </td>
                  <td class="text-center">
                    <div class="dropdown" ngbDropdown>
                      <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                        <i class="ri-more-2-fill"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li><a class="dropdown-item" (click)="onEditData(item.id)">Edit</a></li>
                        <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="dataForCurrentPage?.length == 0">
                  <td colspan="12" class="text-center">No data available</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination justify-content-end">
            <ngb-pagination [collectionSize]="dataForCurrentPage.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
            [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>