<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="section" class="form-label">Section</label>
                            <div>
                                <ng-select
                                [items]="area"
                                bindLabel="area" 
                                bindValue="id"   
                                [(ngModel)]="report_master.id_area"
                                name="area"
                                placeholder="Select Section">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="report-equipment" class="form-label">Equipment</label>
                            <input type="tel" class="form-control" name="report-equipment" id="report-equipment" [(ngModel)]="report_master.equipment">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="wo_number" class="form-label">Wo Number</label>
                            <input type="text" class="form-control" name="wo_number" id="wo_number" [(ngModel)]="report_master.wo_number">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="descriptionOfWork" class="form-label">Description/ Type of Work</label>
                            <input type="tel" class="form-control" name="description_of_work" id="descriptionOfWork" [(ngModel)]="report_master.description">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Start Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="report_master.start_date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">End Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="report_master.end_date">
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end" style="margin-top: 20px;">
                                <!-- <button type="submit" class="btn btn-success" (click)="onUpdateReport()"
                                    style="margin-right: 8px;">Update</button> -->
                                <button type="submit" class="btn btn-primary" (click)="onAddData()"
                                style="margin-right: 8px;">+ Add Activity</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="live-preview">
                <form>
                    <div class="row" *ngFor="let plan of reportMasterPlanData; let i = index">
                        <div class="col-md-4 mb-3">
                            <label for="report-activity{{i}}" class="form-label">Activity</label>
                            <textarea type="tel" class="form-control" name="report-activity{{i}}" id="report-activity{{i}}" [(ngModel)]="plan.activity"></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date{{i}}" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date{{i}}" id="date{{i}}" [(ngModel)]="plan.date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="start-time{{i}}" class="form-label">Start Time</label>
                            <input type="time" class="form-control" name="start-time{{i}}" id="start-time{{i}}" [(ngModel)]="plan.start_time">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="end-time{{i}}" class="form-label">End time</label>
                            <input type="time" class="form-control" name="end-time{{i}}" id="end-time{{i}}" [(ngModel)]="plan.end_time">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="verification{{i}}" class="form-label">Verification Before Process</label>
                            <div>
                                <select class="form-control" name="verification{{i}}" id="verification{{i}}" required [(ngModel)]="plan.verification">
                                    <option value="" disabled selected>Select Verificator</option>
                                    <option *ngFor="let pic of namePicEmployee" [value]="pic.name">{{ pic.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-before{{i}}" class="form-label">Documentation Before<span class="text-danger"> (*harus diisi)</span></label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-before')" accept="image/*" name="files{{i}}">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-after{{i}}" class="form-label">Documentation After<span class="text-danger"> (*harus diisi)</span></label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-after')" accept="image/*" name="files{{i}}">
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end" style="margin-top: 20px;">
                                <button class="btn btn-success"
                                    style="margin-right: 8px;" (click)="onUpdate(i)">Update</button>
                                <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
