<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="flex-shrink-0" style="display: flex; align-items: center;">
            <div class="flex-shrink-0">
              <button  class="btn btn-primary btn-sm" style="margin-right: 10px;"
                (click)="addTask(add_task)">Add Data</button>
            </div>
            <div class="search-box" style="margin-right: 10px;">
              <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
              <i class="ri-search-line search-icon"></i>
            </div>
            <div class="form-group row">
              <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
              <div class="col-md-8 d-flex align-items-center">
                <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
              </div>
            </div>
            <div class="form-group row">
              <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
              <div class="col-md-8 d-flex align-items-center">
                <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12" *ngFor="let task of dataTaskSpv;">
      <div class="card" *ngIf="task.send_to === userData.name || switch_to === userData.name || isAdmin">
        <div class="card-body">
          <div class="flex-shrink-0">
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs" style="table-layout: auto;">
              <thead>
                <tr>
                  <th>Task</th>
                  <th>File Task</th>
                  <th>Send To</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th *ngIf="task.id_status === 1 || task.id_status === 2">Priority</th>
                  <th>Notes</th>
                  <th *ngIf="task.id_status === 5">Revisi</th>
                  <th *ngIf="isAdmin">Details</th>
                  <th *ngIf="isSpv">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="vertical-align: middle; text-align: center; width: 15rem;">{{ task.task }}</td>
                  <td style="text-align: center; vertical-align: middle;">
                    <ng-container *ngIf="task.file_task">
                    <a [href]="getPdf(task.file_task)" target="_blank" download>
                        <i class="bi bi-cloud-download"></i>
                    </a>
                    </ng-container>
                    <ng-container *ngIf="!task.file_task">
                      - 
                    </ng-container>
                  </td>
                  <td style="vertical-align: middle; text-align: center; width: 12rem;">{{ task.send_to }}</td>
                  <td style="vertical-align: middle; text-align: center;">{{ task.due_date | date:'dd MMMM yyyy' }}</td>
                  <td style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(task.id_status) }}">{{ getStatusLabel(task.id_status) }}</span>
                  </td>
                  <td *ngIf="task.id_status === 1 || task.id_status === 2" style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom2 text-bg-{{ getPriorityLabelClass(task.id_priority) }}">{{ getPriorityLabel(task.id_priority) }}</span>
                  </td>
                  <td style="vertical-align: middle; text-align: center; width: 10rem;">{{ task.notes }}</td>
                  <td style="vertical-align: middle; text-align: center; width: 10rem;"
                  *ngIf="task.id_status === 5">{{ task.revisi }}</td>
                  <td *ngIf="isSpv" style="vertical-align: middle; text-align: center; width: 12rem;">
                    <div class="form-check" style="display: inline-block; vertical-align: middle; text-align: center;">
                        <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required (click)="reciveSpv(task.id)">
                        <label class="form-check-label" for="validationFormCheck2" style="margin-left: 5px;">Recived</label>
                    </div>
                    <div class="form-check" style="display: inline-block; vertical-align: middle; text-align: center; margin-left: 10px;">
                        <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required (click)="openModal(switch_to, task.id)">
                        <label class="form-check-label" for="validationFormCheck3" style="margin-left: 5px;">Switch</label>
                    </div>
                  </td>                               
                  <td *ngIf="isAdmin" class="text-center position-relative" style="vertical-align: middle; width: 7rem;">
                    <div class="dropdown" ngbDropdown>
                      <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                        <i class="ri-more-2-fill"></i>
                      </a>
  
                      <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="dropdownMenuLink1"
                        ngbDropdownMenu style="z-index: 9999;">
                        <li *ngIf="isAdmin"><a class="dropdown-item" (click)="isDone(task.id)">Done</a></li>
                        <li *ngIf="isAdmin"><a class="dropdown-item" (click)="isOverDate(task.id)">Over Date</a></li>
                        <li *ngIf="isAdmin"><a class="dropdown-item" (click)="revisiTask(revisi, task, task.id)">Revisi</a></li>
                        <li *ngIf="isAdmin"><a class="dropdown-item" (click)="editTask(edit_task, task, task.id)">Edit Data</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="dataTaskSpv?.length === 0">
                  <td colspan="8" class="text-center">No data available</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs" style="table-layout: auto;" *ngFor="let item of filterredDataSubTask(task.id); let i = index">
              <thead>
                <tr>
                  <th>Response</th>
                  <th *ngIf="item.response === 'Task Switched'">Swich To</th>
                  <th>File</th>
                  <th *ngIf="item.response === 'Task Switched'">Status</th>
                  <th *ngIf="item.response === 'Task Recived' && item.id_status_spv === 3">Status</th>
                  <th>Notes</th>
                  <th *ngIf="item.id_status_spv === 5">Revisi</th>
                  <th *ngIf="isSpv">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr style="vertical-align: middle; text-align: center;">
                  <td style="width: 20rem;">{{ item.response }}</td>
                  <td *ngIf="item.response === 'Task Switched'" style="text-align: center;">{{ item.switch_to }}</td>
                  <td *ngIf="item.response === 'Task Recived'" style="text-align: center;">
                    <ng-container *ngIf="item.file">
                      <a [href]="getPdf(item.file)" target="_blank" download>
                        <i class="bi bi-cloud-download"></i>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="!item.file && isSpv">
                      <label for="file-upload" class="bi bi-cloud-upload" style="cursor: pointer; transform: scale(1.2);"></label>
                      <input id="file-upload" type="file" style="display: none;" (change)="onFileSelected($event, item.id)">
                    </ng-container>
                    <ng-container *ngIf="!item.file && isAdmin">
                      - 
                    </ng-container>
                  </td>
                  <td *ngIf="item.response === 'Task Switched'" style="text-align: center;">
                    <ng-container *ngIf="item.file_employee">
                      <a [href]="getPdf(item.file_employee)" target="_blank" download>
                        <i class="bi bi-cloud-download"></i>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="!item.file_employee && isAdmin || !item.file_employee && isSpv">
                      - 
                    </ng-container>
                  </td>
                  <td *ngIf="isAdmin && item.response === 'Task Recived' && item.id_status_spv === 3" style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status_spv) }}">{{ getStatusLabel(item.id_status_spv) }}</span>
                  </td>
                  <td *ngIf="isAdmin && item.response === 'Task Switched'" style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status_spv) }}">{{ getStatusLabel(item.id_status_spv) }}</span>
                  </td>
                  <td *ngIf="isSpv && item.response === 'Task Switched' && item.id_status_spv !== 5 " style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                  </td>
                  <td *ngIf="isSpv && item.response === 'Task Switched' && item.id_status_spv === 5" style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status_spv) }}">{{ getStatusLabel(item.id_status_spv) }}</span>
                  </td>
                  <td *ngIf="isSpv && item.response === 'Task Recived' && item.id_status_spv === 3" style="vertical-align: middle; text-align: center;">
                    <span
                      class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status_spv) }}">{{ getStatusLabel(item.id_status_spv) }}</span>
                  </td>
                  <td *ngIf="isAdmin" style="text-align: center;">{{ item.notes_m1 }}</td>
                  <td *ngIf="isSpv" style="text-align: center;">{{ item.notes_spv }}</td>
                  <td *ngIf="item.id_status_spv === 5" style="text-align: center;">{{ item.revisi }}</td>
                  <td *ngIf="isSpv" class="text-center" style="width: 7rem;">
                    <i *ngIf="item.response === 'Task Recived'" class="bi bi-check-square green-icon" style="cursor: pointer;" (click)="notesSpvDone(notes_spv_done, item, item.id)"></i>
                    <i *ngIf="item.response === 'Task Switched'" class="bi bi-check-square green-icon" style="cursor: pointer;" (click)="notesM1Done(notes_m1_done, item, item.id)"></i>
                    <i *ngIf="item.response === 'Task Switched'" class="bi bi-pencil red-icon" style="cursor: pointer; margin-left: 10px;" (click)="revisiEmployee(revisi_employee, item, item.id)"></i>
                    <i *ngIf="item.response === 'Task Recived'" class="bi bi-trash red-icon" style="cursor: pointer; margin-left: 10px;" (click)="onDeleteFileSpv(item.id)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
  </div>

<ng-template #add_task let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="row">
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="task" class="form-label">Task</label>
                  <input type="text" class="form-control" [(ngModel)]="newTaskSpv.task" name="task" id="task">
              </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="file_upload" class="form-label">File
            </label>
            <input class="form-control " type="file" (change)="onFileTaskSelected($event, 'file_upload')" accept="file/*" name="files">
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="picInput" class="form-label">Send To</label>
                      <div>
                          <ng-select
                          [items]="namePicSpv"
                          bindLabel="name" 
                          bindValue="name"   
                          (change)="onSendTo($event)"
                          name="picInput"
                          placeholder="Select SPV">
                          </ng-select>
                      </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="due_date" class="form-label">Due Date</label>
                  <input type="date" class="form-control" [(ngModel)]="newTaskSpv.due_date" name="due_date" id="due_date">
              </div>
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="notes" class="form-label">Notes</label>
                  <input type="text" class="form-control" [(ngModel)]="newTaskSpv.notes" name="notes" id="notes">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-2 mb-3 text-end">
              <button type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
          </div>
      </div>
  </div>
</ng-template>

<ng-template #edit_task let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel">Switch Task</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="row">
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="task" class="form-label">Task</label>
                  <input type="text" class="form-control" [(ngModel)]="newTaskSpv.task" name="task" id="task">
              </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="file_upload" class="form-label">File
            </label>
            <input class="form-control " type="file" (change)="onFileTaskSelected($event, 'file_upload')" accept="file/*" name="files">
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="picInput" class="form-label">Send To</label>
                      <div>
                          <ng-select
                          [items]="namePicSpv"
                          bindLabel="name" 
                          bindValue="name"   
                          [(ngModel)]="newTaskSpv.send_to"
                          name="picInput"
                          placeholder="Select SPV">
                          </ng-select>
                      </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="due_date" class="form-label">Due Date</label>
                  <input type="date" class="form-control" [(ngModel)]="newTaskSpv.due_date" name="due_date" id="due_date">
              </div>
          </div>
          <div class="col-md-12">
              <div class="mb-3">
                  <label for="notes" class="form-label">Notes</label>
                  <input type="text" class="form-control" [(ngModel)]="newTaskSpv.notes" name="notes" id="notes">
              </div>
          </div>
          <div *ngIf="newTaskSpv.revisi" class="col-md-12">
            <div class="mb-3">
                <label for="notes" class="form-label">Revisi</label>
                <input type="text" class="form-control" [(ngModel)]="newTaskSpv.revisi" name="notes" id="notes">
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-2 mb-3 text-end">
              <button type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
          </div>
      </div>
  </div>
</ng-template>
  
  <ng-template #switch_to let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid mt-2">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="mb-3">
                        <label for="picInput" class="form-label">Swich To</label>
                            <div>
                                <ng-select
                                [items]="nameEmployee"
                                bindLabel="name" 
                                bindValue="name"   
                                (change)="onSwitchTo($event)"
                                name="picInput"
                                placeholder="Select Employee">
                                </ng-select>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="add-quote" class="form-label">Notes</label>
                        <input type="text" class="form-control"  [(ngModel)]="newTaskSpvToEmployee.notes_employe"
                        name="add-quote" id="add-quote">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onSwitch(dataTaskSpv.id)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #revisi let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Revisi</label>
                      <input type="text" class="form-control"  [(ngModel)]="newTaskSpv.revisi"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onRevision()">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>

<ng-template #revisi_employee let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Revisi</label>
                      <input type="text" class="form-control"  [(ngModel)]="newTaskSpvToEmployee.revisi"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onRevisionEmployee()">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>

<ng-template #notes_spv_done let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newTaskSpvToEmployee.notes_spv"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onDoneTaskSpv()">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>

<ng-template #notes_m1_done let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newTaskSpvToEmployee.notes_m1"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onTaskM1Done()">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>