.badge-custom {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: rgb(82, 82, 82);

}

.column{
    text-align: center;
}

.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}

.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}