<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newMapping.date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="img-mapping" class="form-label">Image Mapping</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'img-mapping')" accept="image/*" name="files">
                        </div>
                        <div class="text-end" style="margin-top: 20px;">
                            <button *ngIf="id_mapping" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                            <button *ngIf="!id_mapping" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
