<div class="col-xxl-12">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label mb-2">Month</label>
                            <div>
                                <ng-select
                                [items]="dataMonth"
                                bindLabel="month" 
                                bindValue="id"   
                                [(ngModel)]="newMonthlyReport.id_month"
                                name="month"
                                placeholder="Select Month">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-3">   
                            <div class="mb-2">
                                <label for="placeholderInput" class="form-label">Year</label>
                                <input class="form-control" id="year" 
                                    placeholder="Enter Your Year" [(ngModel)]="newMonthlyReport.year">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-2">
                                <label for="documentation-performance" class="form-label">Document Line Performance</label>
                                <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-performance')" accept="image/*" name="files">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-2">
                                <label for="documentation-material" class="form-label">Documentation Material Yield</label>
                                <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-material')" accept="image/*" name="files">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label for="documentation-redarea" class="form-label">Documentation Red Area</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-redarea')" accept="image/*" name="files">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label for="documentation-issue" class="form-label">Documentation Issue</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-issue')" accept="image/*" name="files">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label for="documentation-nextplan" class="form-label">Documentation Next Plan</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-nextplan')" accept="image/*" name="files">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label for="documentation-other" class="form-label">Documentation Other</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-other')" accept="image/*" name="files">
                        </div>
                    </div>
                </div>
                <div class="text-end mt-3">
                    <button *ngIf="!idParam" type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="onInsertData()"> Submit </button>
                    <button *ngIf="idParam" type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="onUpdate()"> Update </button>
                    <button type="submit" class="btn btn-danger" (click)="back()"> Back </button>
                </div>
            </div>
        </div>
    </div>
</div>