<div class="back-button">
    <button (click)="goBack(idParam)" class="custom-back-button rounded-circle" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="row justify-content-center" style="margin-top: -40px;">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-header border-bottom-dashed p-4">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center mb-sm-0 mb-3">
                                <img src="assets/images/logo/AIO-PS-primary.png" class="card-logo card-logo-dark" alt="logo dark" height="40">
                            </div>
                            <div class="col-md-6 mb-sm-0 mb-3">
                                <div class="text-center text-md-start">
                                    <h6 class="text-muted text-uppercase fw-semibold">Address</h6>
                                    <p class="text-muted mb-1" id="address-details"> Jl. Siliwangi No.KM.28 43359 Kutajaya Jawa Barat · ~19 km</p>
                                    <p class="text-muted mb-0" id="zip-code"><span>Zip-code:</span> 43358</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center text-md-end">
                                    <h6><span class="text-muted fw-normal">Email:</span><span id="email"> aio.co.id</span></h6>
                                    <h6><span class="text-muted fw-normal">Website:</span> <a class="link-primary" target="_blank" id="website"> www.aio.co.id</a></h6>
                                    <h6 class="mb-0"><span class="text-muted fw-normal">Contact No: </span><span id="contact-no"> +62 266 733700</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-header-->
                </div>
                <div class="col-lg-12">
                    <div class="card-body p-4">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-center">
                                    <tr class="bg-light text-muted">
                                        <th>No</th>
                                        <th>PIC</th>
                                        <th>Date</th>
                                        <th>Item In</th>
                                        <th>Item Out</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" *ngFor="let item of filterData; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.date | date : 'dd-MM-yyyy'}}</td>
                                        <td>{{item.barang_masuk}}</td>
                                        <td>{{item.barang_keluar}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                class="ri-printer-line align-bottom me-1"></i> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
