<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="onClose()"></button>          
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Function Location</label>
          <input type="text" class="form-control" [(ngModel)]="dataWeekly.function_location" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Equipment (IH01)</label>
          <input type="text" class="form-control" [(ngModel)]="dataWeekly.equipment" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Operation Task</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.operation_task" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Description Material</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.description_material" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Date</label>
          <input type="text" class="form-control" [value]="convertDate(dataWeekly.date)" readonly>
        </div>
        <div class="form-group mt-2">
          <label>PIC</label>
          <input type="text" class="form-control" [(ngModel)]="dataWeekly.pic" readonly>
        </div>
        <div class="form-group mt-2">
          <label>QTY</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.qty" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Status Part</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.status_part" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Category</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.category" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Work Center</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.work_center" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Duration (Hour)</label>
          <input class="form-control" rows="4" [(ngModel)]="dataWeekly.duration" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
