<div class="back-button">
    <button (click)="goBack()" class="custom-back-button rounded-circle" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="row justify-content-center" style="margin-top: -40px;">
    <div class="col-xxl-9">
        <div class="card" id="demo" *ngIf="data">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row p-3">
                        <div class="col-lg-6 text-start" style="vertical-align: middle;">
                            <h5>MOM (Minutes Of Meeting)</h5>
                        </div>
                        <div class="col-lg-6 text-end" style="vertical-align: middle;">
                            <h5>{{ formatDate(data.date) }}</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="">
                            <div class="col-lg-12 d-flex">
                                <div class="col-lg-3 text-center mt-3">
                                    <p class="text-muted text-uppercase fw-semibold">Project Name</p>
                                    <h5 class="fs-14 mb-0"><b>{{data.project_name}}
                                    </b></h5>
                                </div>
                                <div class="col-lg-3 text-center mt-3">
                                    <p class="text-muted text-uppercase fw-semibold">Participants<p>
                                    <h5 class="fs-14 mb-0"><span id="invoice-date">{{ (data.participants)}}</span></h5>
                                </div>
                                <div class="col-lg-3 text-center mt-3">
                                    <p class="text-muted text-uppercase fw-semibold">Place<p>
                                    <h5 class="fs-14 mb-0"><span id="invoice-date">{{ (data.place)}}</span></h5>
                                </div>
                                <div class="col-lg-3 text-center" *ngFor="let item of data.img_rakormom; let i = index">
                                    <img class="square-image img-fluid me-2" [src]="imageUrl + item" alt="Not Found IMG To ID : {{ i + 1 }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card-body  print-page" id="printable-content">
                        <div class="table-responsive">
                            <table class="table table-gridjs">
                                <thead class="header1">
                                    <tr class="table-active">
                                        <th class="text-center" scope="col-12">POINT OF DISCUSSED</th>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <span class="fw-medium">{{data.points_discussed}}</span>
                                        </td>
                                        
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-gridjs">
                                <thead>
                                    <tr class="bg-light text-center table-active">
                                        <th colspan="5" class="text-center">ACTION PLAN</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr class="bg-light text-muted text-center table-active">
                                        <th> No </th>
                                        <th> Description </th>
                                        <th> PIC </th>
                                        <th> Due Date </th>
                                        <th> Remark </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataNextPlan; let i = index" id="lj_{{data.id}}">
                                        <ng-container>
                                            <td class="text-center" style="width: 3rem;">{{ i + 1 }}</td>
                                            <td>
                                                {{data.description}}
                                            </td>
                                            <td>
                                                {{data.name}}
                                            </td>
                                            <td class="text-center">
                                                {{formatDate(data.due_date)}}
                                            </td>
                                            <td>
                                                {{data.remark}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                                <table class="table table-gridjs">
                                    <thead>
                                        <tr class="bg-light text-center table-active">
                                            <th colspan="6" class="text-center">NEXT PLAN</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr class="bg-light text-muted text-center table-active">
                                            <th class="text-center" style="width: 10px;">No</th>
                                            <th> Task </th>
                                            <th> PIC </th>
                                            <th> Due Date </th>
                                            <th> Actual</th>
                                            <th> remark </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of dataUpdateTal; let i = index" id="lj_{{data.id}}">
                                            <ng-container>
                                                <td class="text-center" style="width: 3rem;">{{ i + 1 }}</td>
                                                <td class="text-start">
                                                    {{ (data.task) }}
                                                </td>
                                                <td class="text-start">
                                                    {{ (data.name) }}
                                                </td>
                                                <td class="text-center">
                                                    {{ formatDate(data.due_date) }}
                                                </td>
                                                <td class="text-start">
                                                    {{ (data.actual) }}
                                                </td>
                                                <td class="text-start">
                                                    {{ (data.remark) }}
                                                </td>
                                            </ng-container>
                                        </tr>
                                        <tr *ngIf="dataUpdateTal?.length == 0">
                                            <td colspan="10" class="text-center">No data available.</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                    class="ri-printer-line align-bottom me-1" onclick="window.print()"></i> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
