<div class="row">
    <div class="col-xxl-3">
        <div class="card" style="height: 308px;">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto">
                        <img *ngIf="dataMasterUser" [src]="getImgFilePhoto(dataMasterUser.photo)"
                            class="rounded-circle avatar-xl img-thumbnail user-profile-image" 
                            style="object-fit: cover; width: 80%; height: 80%;"
                            alt="user-profile-image">
                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit"
                            style="font-size: 3em; margin-right: 50px;">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input" (change)="onFileSelected($event, 'photo')" accept="image/*" name="files">
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-camera-fill"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <h5 *ngIf="newUser" class="fs-16 mt-3">{{newUser.name}}</h5>
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-header">
                <ul ngbNav #customNav="ngbNav" [activeId]="1"
                    class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="fas fa-home"></i>
                            Personal Details
                        </a>
                        <ng-template ngbNavContent>
                            <form action="javascript:void(0);" #form="ngForm" (ngSubmit)="onUpdate()">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="nikInput" class="form-label">NIK</label>
                                            <input type="text" class="form-control" id="nikInput"
                                                placeholder="Enter your NIK" [(ngModel)]="newUser.nik" name="nikInput">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="nameInput" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="nameInput"
                                                placeholder="Enter your Name" [(ngModel)]="newUser.name" name="nameInput">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3" *ngIf="dataMasterUser">
                                            <label for="roleInput" class="form-label">Role</label>
                                            <input type="text" class="form-control" id="roleInput"
                                                placeholder="Enter your role" value="{{getRole(dataMasterUser.role_id)}}" name="roleInput" readonly>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="emailInput" class="form-label">Email Address</label>
                                            <input type="email" class="form-control" id="emailInput"
                                                placeholder="Enter your email" [(ngModel)]="newUser.email" name="emailInput">
                                        </div>
                                    </div><!--end col-->
                                    <!--end col-->
                                </div><!--end row-->
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <!-- <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="far fa-user"></i>
                            Change Password
                        </a>
                        <ng-template ngbNavContent>
                            <form (ngSubmit)="onUpdatePassword()">
                                <div class="row g-2">
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="oldpasswordInput" class="form-label">Old Password<span class="required-label"></span></label>
                                            <input type="password" class="form-control" id="oldpasswordInput"
                                                placeholder="Enter current password" [(ngModel)]="oldPassword" name="oldPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="newpasswordInput" class="form-label">New Password <span class="required-label"></span></label>
                                            <input type="password" class="form-control" id="newpasswordInput"
                                                placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="confirmpasswordInput" class="form-label">Confirm
                                                Password <span class="required-label"></span></label>
                                            <input type="password" class="form-control" id="confirmpasswordInput"
                                                placeholder="Confirm password" [(ngModel)]="confirmPassword" name="confirmPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-secondary">Change Password</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li> -->
                </ul>
            <div class="card-body p-4">
                <div class="tab-content">
                    <div [ngbNavOutlet]="customNav"></div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->