<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div>
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0">
                      <button class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                      (click)="AddActivity()">Add Data</button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                        </div>
                      </div>
                  </div>
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead >
                            <tr class="bg-light text-muted text-center">
                                <th scope="col" class="text-center">No</th>
                                <th> Project Name </th>
                                <th> Participants </th>
                                <th> Date </th>
                                <th> Point Discussed</th>
                                <th class="d-print-none">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterdatarakor; let i = index" id="lj_{{data.id}}">
                                <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td>
                                        <ngb-highlight [result]="data.project_name"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.participants"></ngb-highlight>
                                    </td>

                                    <td class="text-center" style="width: 9rem;">
                                        <ng-container *ngIf="data.date; else notFound">
                                            {{ formatDate(data.date) }}
                                        </ng-container>
                                        <ng-template #notFound>
                                            Not Found
                                        </ng-template>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.points_discussed; else notFound">
                                            <ngb-highlight [result]="data.points_discussed"></ngb-highlight>
                                        </ng-container>
                                        <ng-template #notFound>
                                            Not Found
                                        </ng-template>
                                    </td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item"
                                                        (click)="getAllJoinRakormom(data.id_rakormom)">View</a></li>
                                                <li><a class="dropdown-item"
                                                        (click)="getByIdRakorMOMEdit(data.id_rakormom)">Edit</a>
                                                </li>
                                                <li><a *ngIf="!isEmployee" class="dropdown-item"
                                                        (click)="confirm(data.id_rakormom)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="filterdatarakor?.length == 0">
                                <td colspan="10" class="text-center">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <!-- <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ getShowingText() }} of {{ totalRecords }} entries
                        </div>
                    </div> -->
                    <!-- <div class="col col-sm-6"> -->
                        <div class="pagination justify-content-end">
                            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                [maxSize]="3" [ellipses]="false"></ngb-pagination>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>