<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="machine" class="form-label">Area Machine</label>
                            <div>
                                <ng-select
                                [items]="machine"
                                bindLabel="machine" 
                                bindValue="id"   
                                [(ngModel)]="newPicture.id_machine"
                                name="machine"
                                placeholder="Select Function Location">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="picture-1" class="form-label">Picture 1</label>
                            <input class="form-control" type="file" (change)="onFileSelected($event, 'picture-1')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="picture1 || newPicture.picture1">
                            <label for="picture-2" class="form-label">Picture 2</label>
                            <input class="form-control" type="file" (change)="onFileSelected($event, 'picture-2')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="picture2 || newPicture.picture2">
                            <label for="picture-3" class="form-label">Picture 3</label>
                            <input class="form-control" type="file" (change)="onFileSelected($event, 'picture-3')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="picture3 || newPicture.picture3">
                            <label for="picture-4" class="form-label">Picture 4</label>
                            <input class="form-control" type="file" (change)="onFileSelected($event, 'picture-4')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="picture4 || newPicture.picture4">
                            <label for="picture-5" class="form-label">Picture 5</label>
                            <input class="form-control" type="file" (change)="onFileSelected($event, 'picture-5')" accept="image/*" name="files">
                        </div>
                    </div>
                    <div class="col-lg-12 text-end">
                        <button *ngIf="!idParam" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                        <button *ngIf="idParam" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                        <button *ngIf="idParam" class="btn btn-danger me-2" (click)="forBack()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
