<ng-template #quote let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Quote</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="add-quote" class="form-label">Quote</label>
                        <input type="text" class="form-control"  [(ngModel)]="newQuote.quote"
                        name="add-quote" id="add-quote">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onClick()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #editQuote let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Edit Quote</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="edit-quote" class="form-label">Quote</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedQuote.quote"
                         name="edit-quote" id="edit-quote">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 95rem;">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 30px;">
                    <button *ngIf="isAdmin || isSpv" class="btn btn-primary btn-sm" style="margin-right: 10px;"
                        (click)="openModal(quote)">Add Data</button>
                        <div class="search-box" style="display: inline-block;">
                            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"
                                (input)="search()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                </div>
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr class="column text-center">
                                    <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quote of dataForCurrentPage; let i = index">
                                    <td style="width: 5rem; text-align: center;">{{ i + 1 }}</td>
                                    <td style="vertical-align: top;">{{ quote.quote }}</td>
                                    <td style="width: 5rem; text-align: center;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="openEditModal(quote)">Edit Data</a></li>
                                                <li><a class="dropdown-item" (click)="onDelete(quote.id)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="dataForCurrentPage?.length === 0">
                                    <td colspan="8" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                            <ngb-pagination *ngIf="dataQuote" [collectionSize]="dataQuote.length" [(page)]="currentPage" 
                            [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                (pageChange)="onPageChange($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>