<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCalendar"
        autocomplete="off" [checked]="!isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnCalendar">Calendar</label>
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnList"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnList">List</label>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="customerList">
                    <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <div>
                            <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                                (change)="onPageSizeChange()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="search-box" style="margin-left: 10px;">
                            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()">
                            <i class="ri-search-line search-icon"></i>
                          </div>
                        <div class="form-group row">
                            <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                            <div class="col-md-8 d-flex align-items-center">
                              <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                            <div class="col-md-8 d-flex align-items-center">
                              <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                            </div>
                          </div>
                      </div>
                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                    <th class="text-center"> No </th>
                                    <th> Priority </th>
                                    <th> Task </th>
                                    <th class="text-center"> Date </th>
                                    <th class="text-center"> Time </th>
                                    <th> Location </th>
                                    <th> Description </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                    <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                        <th class="text-center">
                                            {{ i + 1 }}
                                        </th>
                                        <td>
                                            <ngb-highlight [result]="data.category"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.event_name"></ngb-highlight>
                                        </td>
                                        <td class="text-center">
                                            <ng-container *ngIf="data.start_date else showDueStartOnly">
                                                <ngb-highlight [result]="data.start_date | date: 'dd/MM/yyyy'">
                                                </ngb-highlight> -
                                                <ngb-highlight [result]="data.end_date | date: 'dd/MM/yyyy'">
                                                </ngb-highlight>
                                            </ng-container>
                                            <ng-template #showDueStartOnly>
                                                <ngb-highlight [result]="data.start_date | date: 'dd/MM/yyyy'">
                                                </ngb-highlight>
                                            </ng-template>
                                        </td>
                                        <td class="text-center">
                                            <ngb-highlight [result]="formatTime(data.start_time)"></ngb-highlight> -
                                            <ngb-highlight [result]="formatTime(data.end_time)"></ngb-highlight>
                                        <td>
                                            <ngb-highlight [result]="data.location"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.description"></ngb-highlight>
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="!filterdata || filterdata.length === 0">
                                    <td colspan="8" class="text-center">No data available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center d-print-none">
                        <!-- <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                {{ getShowingText() }} of {{ totalRecords }} entries
                            </div>
                        </div> -->
                            <div class="pagination justify-content-end">
                                <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                    [maxSize]="3" [ellipses]="false"></ngb-pagination>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>