.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}
.data{
    width: 50px;
    height: 30px;
    background-color: #f3f3f9;
    border: none;
}
.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}