<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div>
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0">
                      <button class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                      (click)="openModal(content)">Add Transaction</button>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-success btn-sm" style="margin-right: 10px;"
                        (click)="viewReport(idParam)">View Report</button>
                      </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-danger btn-sm" style="margin-right: 10px;"
                        (click)="goBack()">Back</button>
                      </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                        </div>
                      </div>
                  </div>
                
                    <div class="table-responsive">
                        <table class="table table-gridjs">
                            <thead class="text-center">
                                <tr class="bg-light text-muted">
                                    <th>No</th>
                                    <th>PIC</th>
                                    <th>Date</th>
                                    <th>Item In</th>
                                    <th>Item Out</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="text-center" *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                    <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{data.name}}</td>
                                        <td>{{data.date | date : 'dd-MM-yyyy'}}</td>
                                        <td>{{data.barang_masuk}}</td>
                                        <td>{{data.barang_keluar}}</td>
                                        <td>
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="openEditModal(editContent, data, data.id_stock_detail)">Edit Data</a></li>
                                                    <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="onDelete(data.id_stock_detail)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="filterdata?.length == 0">
                                    <td colspan="10" class="text-center">No data available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                {{ getShowingText() }} of {{ totalRecords }} entries
                            </div>
                        </div>
                        <div class="col col-sm-6"> -->
                            <div class="pagination justify-content-end">
                                <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                    [maxSize]="3" [ellipses]="false"></ngb-pagination>
                            </div>
                        <!-- </div> -->
                    </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="placeholderDate" placeholder="Enter Result"
                       [(ngModel)]="newTransaction.date">
                </div>
                <div class="col-12 mt-2">
                    <label for="id-field" class="form-label">Type</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="newTransaction.type" (ngModelChange)="onTypeChange($event)">
                        <option value="in">Item In</option>
                        <option value="out">Item Out</option>
                    </select>
                </div>   
                <div *ngIf="newTransaction.type === 'in'" class="col-12 mt-2">
                    <label for="placeholderInput" class="form-label">Item In</label>
                    <input type="number" class="form-control" id="placeholderInput" placeholder="Enter Quantity"
                       [(ngModel)]="newTransaction.barang_masuk">
                </div>
                <div *ngIf="newTransaction.type === 'out'" class="col-12 mt-2">
                    <label for="placeholderOutput" class="form-label">Item Out</label>
                    <input type="number" class="form-control" id="placeholderOutput" placeholder="Enter Quantity"
                       [(ngModel)]="newTransaction.barang_keluar">
                </div>                 
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" (click)="onSubmit()" id="add-btn">Submit</button>
            </div>
        </div>
</ng-template>

<ng-template #editContent let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label for="placeholderDate" class="form-label">Date</label>
                <input type="date" class="form-control" id="placeholderDate" placeholder="Enter Result"
                   [(ngModel)]="newTransaction.date">
            </div>
            <div *ngIf="newTransaction.type === 'in'" class="col-12 mt-2">
                <label for="placeholderInput" class="form-label">Item In</label>
                <input type="number" class="form-control" id="placeholderInput" placeholder="Enter Quantity"
                   [(ngModel)]="newTransaction.barang_masuk">
            </div>
            <div *ngIf="newTransaction.type === 'out'" class="col-12 mt-2">
                <label for="placeholderOutput" class="form-label">Item Out</label>
                <input type="number" class="form-control" id="placeholderOutput" placeholder="Enter Quantity"
                   [(ngModel)]="newTransaction.barang_keluar">
            </div>                 
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="submit" class="btn btn-success" (click)="onUpdate()" id="add-btn">Update</button>
        </div>
    </div>
</ng-template>

