<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form (submit)="onInsertData()">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="section" class="form-label">Section</label>
                            <div>
                                <ng-select
                                [items]="area"
                                bindLabel="area" 
                                bindValue="id"   
                                [(ngModel)]="newReportMaster.id_area"
                                name="area"
                                placeholder="Select Section">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="report-equipment" class="form-label">Equipment</label>
                            <input type="tel" class="form-control" name="report-equipment" id="report-equipment" [(ngModel)]="newReportMaster.equipment">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="wo_number" class="form-label">Wo Number</label>
                            <input type="text" class="form-control" name="wo_number" id="wo_number" [(ngModel)]="newReportMaster.wo_number">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="descriptionOfWork" class="form-label">Description/ Type of Work</label>
                            <input type="tel" class="form-control" name="description_of_work" id="descriptionOfWork" [(ngModel)]="newReportMaster.description">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Start Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newReportMaster.start_date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">End Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newReportMaster.end_date">
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-success"
                                    style="margin-right: 8px;">Submit</button>
                                <!-- <button (click)="forBack()" class="btn btn-danger me-2">Back</button> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
