.container {
    align-items: center;
    min-height: 75vh;
    padding: 40px;
  }
  
  .transparent-card {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 40px;
  }
  
  .bg-card {
    background-color: rgba(163, 217, 254, 1);
  }
  
  .bg-img {
    // background-image: url("/assets/images/bg-gateway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    // width: 100%;
    justify-content: space-around;
  }
  
  .app-card {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.3s ease-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  .app-card:hover {
    transform: translateY(5px);
  }
  .app-card:hover:before {
    opacity: 1;
  }
  .app-card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .app-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .app-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .app-card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .app-card .info h1 {
    margin: 0px;
  }
  .app-card .info p {
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 8px;
  }
  
  .app-card .info b {
    letter-spacing: 1px;
    font-size: 14px;
  }
  
  .app-card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .app-card .info button:hover {
    background: dodgerblue;
    color: white;
  }
  
  @media (max-width: 768px) {
  
    .transparent-card {
      padding: 30px;
    }
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px
    }
  
    .app-card {
      width: 110px;
      height: 110px;
    }
  
    .app-title {
      font-size: 9px;
      max-width: 100%
    }
  
    .info b{
      visibility:hidden;
    }
  
    .info p {
      visibility:hidden;
    }
    
  }
  
  .app-title {
    text-align: center;
    max-width: 175px;
    word-wrap: break-word;
  }
  
  .floating-btn {
    position: fixed;
    bottom: 0;
    right: 13px;
  }
  
  .btn-edit-mode {
    display: flex;
    flex-direction: column; 
  }
  
  .btn-edit-mode button {
    margin-bottom: 10px; 
  }
  .text-center {
    margin-bottom: 20px;
    color: #011D4A;
    font-weight: bold; 
    font-size: 40px;
  }