    <div class="container"> 
            <div *ngIf="appsCan === undefined">
                <div class="spinner-border text-primary" role="status" *ngIf="onLoading() == true">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div *ngIf="!isConnected" class="col justify-content-center">
                    <div class="row">
                        <p>Failed to connect to the server!</p>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-sm btn-primary" (click)="ngOnInit()">Retry</button>
                    </div>
                </div>
            </div>
            <div class="row wrapper" *ngIf="appsCan !== undefined">
                <div class="col col-lg-3 p-3 d-flex justify-content-center" *ngFor="let app of appsCan">
                    <div class="d-flex flex-column align-items-center me-2">
                        <button class="btn btn-sm btn-outline-secondary btn-floating mb-2" *ngIf="isEditModeActive"
                            type="button" (click)="onFavoriteAppClick(app)">
                            <i class="{{ app.custom_id ? 'bi-heart-fill' : 'bi-heart'}}"></i>
                        </button>
                        <button *ngIf="isEditModeActive && isAdmin" (click)="openEditModal(app)" type="button"
                            class="btn btn-sm btn-secondary btn-floating">
                            <span class="bi bi-pencil"></span>
                        </button>
                    </div>
                    <a href="{{ app.url }}">
                        <div class="app-card">
                            <img src="{{ imageUrl }}{{ app.icon }}" />
                            <div class="info">
                                <b>{{ app.name }}</b>
                                <p>{{ app.description }}</p>
                                <!-- <button>Read More</button> -->
                            </div>
                        </div>
                        <p class="mt-3 app-title">{{app.name}}</p>
                    </a>
                </div>
            </div>
    </div>
    <div class="floating-btn col me-4" *ngIf="appsCan !== undefined" style="margin-bottom: 100px;">
        <div class="row mb-2">
            <button type="button" class="btn btn-md btn-danger btn-floating"
                (click)="openEditMode()" mdbRipple>
                <span class="bi bi-pencil"></span>
            </button>
        </div>
        <div class="row mb-2">
            <button type="button" *ngIf="isAdmin" class="btn btn-md btn-primary btn-floating" (click)="openAddModal()"
                mdbRipple>
                <span class="bi bi-plus"></span>
            </button>
        </div>
    </div>