<div class="back-button">
    <button (click)="goBack()" class="custom-back-button rounded-circle" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="row justify-content-center" style="margin-top: -40px;">
    <div class="col-xxl-9">
        <div class="card" id="demo" *ngIf="data">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-header border-bottom-dashed p-4">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center mb-sm-0 mb-3">
                                <img src="assets/images/logo/AIO-PS-primary.png" class="card-logo card-logo-dark" alt="logo dark" height="40">
                            </div>
                            <div class="col-md-6 mb-sm-0 mb-3">
                                <div class="text-center text-md-start">
                                    <h6 class="text-muted text-uppercase fw-semibold">Address</h6>
                                    <p class="text-muted mb-1" id="address-details"> Jl. Siliwangi No.KM.28 43359 Kutajaya Jawa Barat · ~19 km</p>
                                    <p class="text-muted mb-0" id="zip-code"><span>Zip-code:</span> 43358</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center text-md-end">
                                    <h6><span class="text-muted fw-normal">Email:</span><span id="email"> aio.co.id</span></h6>
                                    <h6><span class="text-muted fw-normal">Website:</span> <a class="link-primary" target="_blank" id="website"> www.aio.co.id</a></h6>
                                    <h6 class="mb-0"><span class="text-muted fw-normal">Contact No: </span><span id="contact-no"> +62 266 733700</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-header-->
                </div>
                <!--end col-->
                <div class="col-lg-12">
                    <div class="card-body p-4">
                        <div class="row g-3 text-center">
                            <div class="col-lg-3 col-6">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">Lot Number</p>
                                <h5 class="fs-14 mb-0"><span
                                        id="invoice-date">{{data.lot_number}}</span></h5>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">Due Date</p>
                                <h5 class="fs-14 mb-0"><span
                                        id="invoice-date">{{formatDate(data.due_date)}}</span></h5>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">Times</p>
                                <h5 class="fs-14 mb-0"><span>{{ formatTime(data.start_time) }} - 
                                    {{ formatTime(data.end_time) }}</span></h5>
                                    <span id="invoice-date">{{ record_time }}</span>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">Area</p>
                                <h5 class="fs-14 mb-0"><span>{{ getAreaLabel(data.id_area) }}</span></h5>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card-body p-4 print-page" id="printable-content">
                        <div class="table-responsive">
                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                <thead class="header1">
                                    <tr class="table-active">
                                        <th class="text-center" scope="col col-6">PROBLEM</th>
                                        <th class="text-center" scope="col col-6"> CAUSE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <span class="fw-medium" style="margin-left: 20px;">{{data.problem}}</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-medium" style="margin-left: 20px;">{{data.cause}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center">
                                                <div *ngFor="let item of data.img_problem; let i = index">
                                                    <img class="square-image img-fluid" [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center">
                                                <div *ngFor="let item of data.img_cause; let i = index">
                                                    <img class="square-image img-fluid" [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end table-->

                        </div>
                        <div class="table-responsive print-page">
                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                <thead class="header2 print-page">
                                    <tr class="table-active">
                                        <th class="text-center" scope="col col-6"> TAKEN ACTION </th>
                                        <th class="text-center" scope="col col-6"> CA-PA </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <span class="fw-medium" style="margin-left: 20px;">{{data.taken_action}}</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-medium" style="margin-left: 20px;">{{data.capa}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center">
                                                <div *ngFor="let item of data.img_taken_action; let i = index">
                                                    <img class="square-image img-fluid" [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center">
                                                <div *ngFor="let item of data.img_capa; let i = index">
                                                    <img class="square-image img-fluid" [src]="imageUrl + item"
                                                        alt="Not Found IMG To ID : {{ i + 1 }}" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                    class="ri-printer-line align-bottom me-1" onclick="window.print()"></i> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
