.square-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 0px solid #ccc;

}

.image-table {
  break-inside: avoid;
  page-break-inside: avoid;
}

.image-table {
  width: 100%;
  max-width: 100%;
}

.image-table tr,
.image-table th,
.image-table td {
  page-break-inside: avoid;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  width: 16.66%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media print {
  body {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    width: 21cm;
    height: 29.7cm;
  }

  .d-print-none {
    display: none;
  }

  .print-page {
    max-height: 29.7cm;
  }

  .header2 {
    page-break-before: always;
  }

  .header3 {
    page-break-before: avoid;
  }
}

.custom-back-button {
  background-color: #011D4A;
  color: white;
  border: none;
  width: 35px;
  height: 35px;
}

.custom-back-button:hover {
  background-color: #003e78; /* Warna yang berbeda ketika tombol dihover */
  color: white;
}
