<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCalendar"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnCalendar">Calendar</label>
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnList"
        autocomplete="off" [checked]="isTableList">
    <label class="btn btn-outline-secondary shadow-none" for="btnList">List</label>
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnTimeline"
        autocomplete="off" [checked]="isTimelineView">
    <label class="btn btn-outline-secondary shadow-none" for="btnTimeline">Timeline</label>
  </div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div id="calendar"></div>
                        <full-calendar [options]="calendarOptions" [events]="scheduleData"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div style='clear:both'></div>

        <!-- Add New Event MODAL -->
        <ng-template *ngIf="isAdmin" #modalShow let-modal>
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="modal-title">Add Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="closeEventModal()"></button>
            </div>
            <div class="modal-body p-4">
                <form class="needs-validation" name="event-form" id="form-event" novalidate
                    [formGroup]="formDataSchedule">
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">

                                <label for="id-field" class="form-label">Priority</label>
                                <select class="form-select mb-3" aria-label="Default select example" placeholder="Select priority"
                                    formControlName="category" required="select to type">
                                    <option *ngFor="let data of category" [value]="data.name"
                                    >{{data.name}}</option>
                                    <!-- [ngStyle]="{ 'background-color': data.value }" -->
                                </select>

                                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                                    <div *ngIf="form['category'].errors['required']">
                                        This value is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Task</label>
                                <input class="form-control" placeholder="Enter task" type="text" name="title"
                                    id="event-title" required value="" formControlName="task"
                                    [ngClass]="{ 'is-invalid': submitted && form['task'].errors }" />
                                <div *ngIf="submitted && form['task'].errors" class="invalid-feedback">
                                    <span *ngIf="form['task'].errors['required']">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="form-control flatpickr-input form-control-solid" type="text"
                                        mwlFlatpickr data-provider="flatpickr" data-date-format="d M, Y"
                                        [altInput]="true" [convertModelValue]="true" mode="range" id="start_date"
                                        formControlName="start_date">
                                </div>
                            </div>
                        </div>

                        <div class="col col-6">
                            <div class="text-center mb-3">
                                <label class="form-label">
                                    Start Time
                                </label>
                                <input type="time" class="form-control" formControlName="start_time">
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="text-center mb-3">
                                <label class="form-label">
                                    End Time
                                </label>
                                <input type="time" class="form-control" formControlName="end_time">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="event-location">Location</label>
                                <div>
                                    <input class="form-control" placeholder="Location" type="text"
                                        name="event-location" id="event-location" required value=""
                                        formControlName="location"
                                        [ngClass]="{ 'is-invalid': submitted && form['location'].errors }" />
                                    <div *ngIf="submitted && form['location'].errors" class="invalid-feedback">
                                        <span *ngIf="form['location'].errors['required']">This value is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" id="event-description" placeholder="Enter a description"
                                    rows="3" spellcheck="false" formControlName="description"
                                    [ngClass]="{ 'is-invalid': submitted && form['description'].errors }"></textarea>
                                <div *ngIf="submitted && form['description'].errors" class="invalid-feedback">
                                    <span *ngIf="form['description'].errors['required']">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                    </div>
                    <div class="hstack gap-2 justify-content-end">
                        <button type="submit" class="btn btn-success" id="btn-save-event" *ngIf="isAdmin"(click)="onSubmit()">Add
                            Event</button>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end modal-->

        <!-- Edit event modal -->
        <ng-template #editmodalShow let-modal>
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="modal-title" *ngIf="isAdmin">Edit Schedule</h5>
                <h5 class="modal-title" id="modal-title" *ngIf="isAdmin">Events</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body p-4">
                <!-- (ngSubmit)="editEventSave()" -->
                <form [formGroup]="formEditData">
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Type</label>
                                <select class="form-control" name="editCategory" formControlName="editCategory"
                                    required>
                                    <option *ngFor="let option of category" [ngValue]="option.name">
                                        {{ option.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Task</label>
                                <input class="form-control" placeholder="Enter Task" type="text" name="editTitle"
                                    formControlName="editTitle" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label>Start Date</label>
                                <input type="text" class="form-control flatpickr-input form-control-solid" mwlFlatpickr
                                    data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                    [convertModelValue]="true" name="editStartDate" formControlName="editStartDate">
                            </div>
                            <div class="mb-3">
                                <label>End Date</label>
                                <input type="text" class="form-control flatpickr-input form-control-solid" mwlFlatpickr
                                    data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                    [convertModelValue]="true" name="editEndDate" formControlName="editEndDate">
                            </div>
                        </div>
                        <div class="col-12" id="event-time">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">Start Time</label>
                                        <div class="input-group">
                                            <input class="form-control flatpickr-input" type="text"
                                                placeholder="Select start time" name="editStart"
                                                formControlName="editStart" mwlFlatpickr [noCalendar]="true"
                                                [enableTime]="true" [dateFormat]="'H:i'">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">End Time</label>
                                        <div class="input-group">
                                            <input class="form-control flatpickr-input" type="text"
                                                placeholder="Select end time" name="editEnd" formControlName="editEnd"
                                                mwlFlatpickr [noCalendar]="true" [enableTime]="true"
                                                [dateFormat]="'H:i'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="event-location">Location</label>
                                <div>
                                    <input type="text" class="form-control" name="editLocation"
                                        formControlName="editLocation" placeholder="Event location">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" name="editDescription" formControlName="editDescription"
                                    placeholder="Enter a description" rows="3" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-soft-danger" id="btn-delete-event" *ngIf="isAdmin" (click)="confirm(editEventId)"><i
                        class="ri-close-line align-bottom"></i> Delete</button>
                        <button type="submit" class="btn btn-success" id="btn-save-event"
                        *ngIf="isAdmin" (click)="editEventSave()">Update Event</button>
                    </div>
                </form>
            </div>
        </ng-template>

    </div>
</div>