.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Untuk memastikan tombol tetap di tengah secara vertikal */
}