<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="task" class="form-label">Task</label>
                                <input type="text" class="form-control" [(ngModel)]="newTaskImprovement.task"
                                    name="task" id="task">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="owner" class="form-label">Owner</label>
                                <div>
                                    <select class="form-control" name="owner" id="owner" required [(ngModel)]="newTaskImprovement.owner">
                                        <option value="" disabled selected>Select Owner</option>
                                        <option *ngFor="let pic of picSpvAndAdmin" [value]="pic.name">{{ pic.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="due_date" class="form-label">Due Date</label>
                                <input type="date" class="form-control" [(ngModel)]="newTaskImprovement.due_date"
                                    name="due_date" id="due_date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="notes" class="form-label">Notes</label>
                                <input type="text" class="form-control" [(ngModel)]="newTaskImprovement.notes"
                                    name="notes" id="notes">
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="!idTask">
                            <button class="btn btn-primary btn-sm float-end" style="margin-top: 10px;"
                                (click)="onAddDataTask()">+ Add</button>   
                        </div>
                        <div class="col-lg-12" *ngIf="idTask && newTaskImprovement">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success me-2"
                                    style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                                <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>