<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="funlocInput" class="form-label">Function Location</label>
                            <div>
                                <ng-select
                                [items]="functionLocationPet"
                                bindLabel="function_location" 
                                bindValue="function_location"   
                                [(ngModel)]="newScheduleMaintenance.function_location"
                                name="funlocInput"
                                placeholder="Select Function Location">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="equipment" class="form-label">Equipment</label>
                            <input type="text" class="form-control" [(ngModel)]="newScheduleMaintenance.equipment"
                                name="equipment" id="equipment">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="operationTask" class="form-label">Operation Task</label>
                            <input type="text" class="form-control" [(ngModel)]="newScheduleMaintenance.operation_task"
                                name="operation_task" id="operationTask">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="descriptionMaterial" class="form-label">Description Material</label>
                            <input type="text" class="form-control" [(ngModel)]="newScheduleMaintenance.description_material"
                                name="description_material" id="descriptionMaterial">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputDate" class="form-label">Date</label>
                            <input type="date" class="form-control" [(ngModel)]="newScheduleMaintenance.date" name="date"
                                id="ForminputDate">
                        </div>
                        <div *ngIf="!idParam" class="col-md-6 mb-3">
                            <label for="picInput" class="form-label">PIC</label>
                            <div>
                                <ng-select
                                [items]="picEmployee"
                                bindLabel="name" 
                                bindValue="name"   
                                (change)="onPic($event)"
                                name="picInput"
                                placeholder="Select PIC"
                                [multiple]="true">
                                </ng-select>
                            </div>
                        </div>
                        <div *ngIf="idParam" class="col-md-6 mb-3">
                            <label for="picInput" class="form-label">PIC</label>
                            <div>
                                <ng-select
                                [items]="picEmployee"
                                bindLabel="name" 
                                bindValue="name"   
                                [(ngModel)]="newScheduleMaintenance.pic"
                                (change)="onPic($event, 'update')"
                                name="picInput"
                                placeholder="Select PIC"
                                [multiple]="true">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="qty" class="form-label">QTY</label>
                            <input type="tel" class="form-control" [(ngModel)]="newScheduleMaintenance.qty" name="qty"
                                id="qty">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="status_part" class="form-label">Status Part</label>
                            <ng-autocomplete
                            [data]="statusPartOptions"
                            [(ngModel)]="newScheduleMaintenance.status_part"
                            [searchKeyword]="statusPartrSearchKeyword"
                            (selected)="onStatusPartSelect($event)"
                            name="status_part"
                            [itemTemplate]="itemTemplate"
                            id="statusPart"
                            [placeholder]="'Select Status Part'"
                            [notFoundText]="'No data found'"
                        ></ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="work_center" class="form-label">Work Center</label>
                            <ng-autocomplete
                                [data]="workCenterOptions"
                                [(ngModel)]="newScheduleMaintenance.work_center"
                                [searchKeyword]="workCenterSearchKeyword"
                                (selected)="onWorkCenterSelect($event)"
                                name="work_center"
                                [itemTemplate]="itemTemplate"
                                id="workCenter"
                                [placeholder]="'Select Work Center'"
                                [notFoundText]="'No data found'"
                            ></ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="duration" class="form-label">Duration</label>
                            <input type="tel" class="form-control" [(ngModel)]="newScheduleMaintenance.duration" name="duration"
                                id="duration">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button *ngIf="idParam" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdateSchedule()">Update</button>
                            <button *ngIf="!idParam" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onClick()">Submit</button>
                            <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>