<div class="col-lg-12">
    <div class="card">
    <div class="card-body">
        <div class="row">
        <div class="col-md-6">
            <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
            <div class="flex-shrink-0">
                <button  class="btn btn-primary btn-sm" style="margin-right: 10px;"
                    (click)="addTask(add_ppic)">Add Data</button>
            </div>
            <div class="search-box" style="margin-right: 10px;">
                <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
                <i class="ri-search-line search-icon"></i>
            </div>
            </div>
        </div>
        </div>
        <div class="table-responsive">
        <table class="table table-gridjs">
            <thead class="text-center">
            <th>No</th>
            <th>Name</th>
            <th>Title</th>
            <th>File</th>
            <th>Notes</th>
            <th>Details</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataForCurrentPage; let i = index">
                <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.title }}</td>
                <td style="text-align: center;">
                    <ng-container *ngIf="item.file">
                    <a [href]="getPdf(item.file)" target="_blank" download>
                        <i class="bi bi-cloud-download"></i>
                    </a>
                    </ng-container>
                    <ng-container *ngIf="!item.file">
                    - 
                    </ng-container>
                </td>
                <td>{{ item.notes }}</td>
                <td class="text-center" style="width: 5rem;">
                    <div class="dropdown" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                        <i class="ri-more-2-fill"></i>  
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li><a class="dropdown-item" (click)="editPpic(edit_ppic, item, item.id)">Edit</a></li>
                        <li><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="dataForCurrentPage?.length == 0">
                <td colspan="12" class="text-center">No data available</td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="pagination justify-content-end">
        <ngb-pagination [collectionSize]="dataPPic.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
        [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
        </div>
    </div>
    </div>
</div>

<ng-template #add_ppic let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="newPpic.title" name="title" id="title">
                </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="file_upload" class="form-label">File
              </label>
              <input class="form-control " type="file" (change)="onFileTaskSelected($event, 'file_upload')" accept="file/*" name="files">
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <input type="text" class="form-control" [(ngModel)]="newPpic.notes" name="notes" id="notes">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2 mb-3 text-end">
                <button type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
  </ng-template>

  <ng-template #edit_ppic let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="newPpic.title" name="title" id="title">
                </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="file_upload" class="form-label">File
              </label>
              <input class="form-control " type="file" (change)="onFileTaskSelected($event, 'file_upload')" accept="file/*" name="files">
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <input type="text" class="form-control" [(ngModel)]="newPpic.notes" name="notes" id="notes">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2 mb-3 text-end">
                <button type="submit" class="btn btn-success me-2" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
            </div>
        </div>
    </div>
  </ng-template>