<div class="back-button">
    <button (click)="goBack()" class="custom-back-button rounded-circle" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="row justify-content-center" style="margin-top: -40px;">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-header border-bottom-dashed p-4">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center mb-sm-0 mb-3">
                                <img src="assets/images/logo/AIO-PS-primary.png" class="card-logo card-logo-dark" alt="logo dark" height="40">
                            </div>
                            <div class="col-md-6 mb-sm-0 mb-3">
                                <div class="text-center text-md-start">
                                    <h6 class="text-muted text-uppercase fw-semibold">Address</h6>
                                    <p class="text-muted mb-1" id="address-details"> Jl. Siliwangi No.KM.28 43359 Kutajaya Jawa Barat · ~19 km</p>
                                    <p class="text-muted mb-0" id="zip-code"><span>Zip-code:</span> 43358</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center text-md-end">
                                    <h6><span class="text-muted fw-normal">Email:</span><span id="email"> aio.co.id</span></h6>
                                    <h6><span class="text-muted fw-normal">Website:</span> <a class="link-primary" target="_blank" id="website"> www.aio.co.id</a></h6>
                                    <h6 class="mb-0"><span class="text-muted fw-normal">Contact No: </span><span id="contact-no"> +62 266 733700</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card-body p-4">
                        <div class="table-responsive">
                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                <thead>
                                    <tr class="table-active">
                                        <th scope="col" style="width: 50px;">No</th>
                                        <th scope="col" class="text-start">Shift Leaders</th>
                                        <th scope="col">Lot Number</th>
                                        <th scope="col">Production Hours</th>
                                        <th scope="col">Start</th>
                                        <th scope="col">Finish</th>
                                        <th scope="col">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data; let i = index">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td class="text-start">
                                            <span>{{ item.name }}</span>
                                        </td>
                                        <td>{{ item.lot_number }}</td>
                                        <td>{{ item.production_hours }}</td>
                                        <td>{{ item.start.slice(0, 5) }}</td>
                                        <td>{{ item.finish.slice(0, 5) }}</td>
                                        <td>{{ item.remark }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="border-top border-top-dashed mt-4">
                            <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                                style="width:250px">
                                <tbody>
                                    <tr>
                                        <td>Total Finish Good</td>
                                        <td class="text-end">{{ totalFinishGood }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Reject</td>
                                        <td class="text-end">{{ totalReject }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Production Hours</td>
                                        <td class="text-end">{{ totalProductionMinutes }} Minutes</td>
                                    </tr>
                                    <tr>
                                        <td>Line Efensiensi</td>
                                        <td class="text-end">{{ lineEfficiency }}%</td>
                                    </tr>
                                    <tr>
                                        <td>Presentase Reject</td>
                                        <td class="text-end">{{ presentaseReject }}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                    class="ri-printer-line align-bottom me-1"></i> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
