<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="onClose()"></button>       
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Function Location</label>
          <input type="text" class="form-control" [(ngModel)]="dataDaily.function_location || dataUnplanned.function_location" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Equipment (IH01)</label>
          <input type="text" class="form-control" [(ngModel)]="dataDaily.equipment || dataUnplanned.equipment" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Operation Task</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.operation_task || dataUnplanned.operation_task" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Description Material</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.description_material || dataUnplanned.description_material" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Date</label>
          <input type="text" class="form-control" [value]="convertDate(dataDaily.date || dataUnplanned.date)" readonly>
        </div>
        <div class="form-group mt-2">
          <label>PIC</label>
          <input type="text" class="form-control" [(ngModel)]="dataDaily.pic || dataUnplanned.pic" readonly>
        </div>
        <div class="form-group mt-2">
          <label>QTY</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.qty || dataUnplanned.qty" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Status Part</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.status_part || dataUnplanned.status_part" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Category</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.category || dataUnplanned.category" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Work Center</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.work_center || dataUnplanned.work_center" readonly>
        </div>
        <div class="form-group mt-2">
          <label>Duration (Hour)</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.duration || dataUnplanned.duration" readonly>
        </div>
        <div *ngIf="dataDaily.notes || dataUnplanned.notes" class="form-group mt-2">
          <label>Notes</label>
          <input class="form-control" rows="4" [(ngModel)]="dataDaily.notes || dataUnplanned.notes" readonly>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isEmployee" type="button" class="btn btn-success" (click)="onDone(dataDaily.id || dataUnplanned.id)">Done</button>
        <button *ngIf="!isEmployee" type="button" class="btn btn-danger" (click)="revisiTask(revisi, dataDaily||dataUnplanned, dataDaily.id || dataUnplanned.id)">Revisi</button>
        <button *ngIf="isEmployee" type="button" class="btn btn-success" (click)="onApprove(dataDaily.id || dataUnplanned.id)">Approve</button>
      </div>
    </div>
  </div>
</div>

<ng-template #revisi let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid mt-2">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Revisi</label>
                      <input type="text" class="form-control"  [(ngModel)]="newScheduleMaintenance.notes"
                      name="add-quote" id="add-quote">
                  </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onRevision(idTask)">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>
