<div class="auth-page-wrapper pt-5" style="background-image: url('/assets/images/bg-login.jpg'); background-size: cover; height: 100vh;">
    <div class="auth-page-content" style="margin-top: 100px;">
        <div class="container">
            <div class="row justify-content-center" style="margin-left: 30px;">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4 rounded-4" style="width: 390px; height: 400px;">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <img src="/assets/images/AIO-PS-primary.png" alt="Otsuka Holdings Logo" class="w-50">
                            </div>
                            <div class="p-2 mt-3">
                                <form (ngSubmit)="login()">
                                    <div class="mb-3">
                                        <label class="form-label" for="nik">NIK</label>
                                        <input type="number" class="form-control" id="nik" name="nik"
                                            placeholder="Enter NIK" [(ngModel)]="loginData.nik" [ngModelOptions]="{standalone: true}">
                                        <div *ngIf="isNIKEmpty" class="text-danger">NIK is required!</div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input [type]="'password'"
                                                class="form-control pe-5" placeholder="Enter password"
                                                id="password-input" name="password"
                                                [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}">
                                            <div *ngIf="isPasswordEmpty" class="text-danger">Password is required!</div>
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="isRemembered" (click)="onRememberMeChecked()" id="auth-remember-check">
                                        <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
