.bg-img {
    background-image: url("/assets/images/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
  }

  