<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()"
        *ngIf="!isNavbarHidden">
        <div class="container">
            <a class="navbar-brand">
                <img src="/assets/images/AIO-PS-whte.png" height="30" width="auto">
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="toggleMenu()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'hero'}"
                            (click)="scrollToHome()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}"
                            (click)="scrollToInformation()">Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'features'}"
                            (click)="scrollToTutorial()">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'reviews'}"
                            (click)="scrollToReview()">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'reviews'}"
                            (click)="scrollToQuote()">Quote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'team'}"
                            (click)="scrollToTeam()">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'contact'}"
                            (click)="scrollToContact()">Contact</a>
                    </li>
                </ul>

                <div class="login">
                    <a routerLink="/auth/login" class="button-login fw-bold text-white text-montserrat"
                        style="font-size: 20px;">Login</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- end navbar -->

    <!-- start hero section -->
    <section #homeSection class="section pb-0 hero-section"
        style="background-image: url('/assets/images/bg_landing.png'); background-size:contain;">
        <div class="container">
            <div class="row">
                <div class="d-flex mt-lg-5 pt-5 row">
                    <div class="col-md-6">
                        <div class="ms-5 mt-3">
                            <h1 class="fw-bold text-white text-montserrat" style="font-size: 50px;">Welcome to</h1>
                            <h1 class="fw-extrabold text-white text-montserrat"
                                style="font-size: 80px; margin-left: 10px;">AIO-PS</h1>
                            <p class="lead text-muted lh-base"></p>
                            <div class="d-flex gap-2 mt-4">
                                <a routerLink="/auth/login" class="btn btn-primary">Get Started <i
                                        class="ri-arrow-right-line align-middle ms-1"></i></a>
                                <a routerLink="/pages/pricing" class="btn btn-danger">View Plans <i
                                        class="ri-eye-line align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/actor.png" style="width: 400px; height: auto;" alt="...">
                    </div>
                </div>
                <div #informationSection class="card no-border-card"
                    style="margin-top: 150px; background-color: white; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <div class="img-container mt-3" style="margin-left: 20px;">
                        <img src="/assets/images/AIO-PS-primary.png" class="card-img-top" alt="AIO-PS">
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="color: #000000; font-size: 1rem; line-height: 1.5;">
                            AIO Production System is a platform designed to provide comfort and convenience for
                            employees in carrying out daily activities in the company environment.
                            With the various features provided, this website aims to facilitate access and management of
                            various information and services relevant to operational activities and employee welfare.
                            <br><br>
                            The features on this website include:
                            <ul style="list-style-type: disc; margin-left: 20px;">
                                <li>Production</li>
                                <li>Maintenance</li>
                                <li>Human Capital Department (HCD)</li>
                                <li>Yayasan Kesejahteraan Karyawan (YKK)</li>
                            </ul>
                            therefore, AIO-PS becomes a comprehensive platform that brings together various
                            important information and services that make it easier for employees to carry out their
                            activities
                            daily.
                    </div>
                </div>
                <div class="container d-flex justify-content-center">
                    <div class="d-flex flex-wrap">
                        <div class="card shadow-card p-3 no-border-card" style="width: 200px; max-width: 100%; margin-top: 30px; margin-right: 20px; 
                            background-image: url('/assets/images/production.jpg'); background-size: cover;">
                        </div>
                        <div class="card shadow-card p-3 no-border-card" style="width: 200px; max-width: 100%; margin-top: 30px; margin-right: 20px; 
                            background-image: url('/assets/images/maintenance.jpg'); background-size: cover;">
                        </div>
                        <div class="card shadow-card p-3 no-border-card" style="width: 200px; max-width: 100%; margin-top: 30px; margin-right: 20px; 
                            background-image: url('/assets/images/hcd.jpg'); background-size: cover;">
                        </div>
                        <div class="card shadow-card p-3 no-border-card" style="width: 200px; height: 280px; margin-top: 30px; margin-right: 20px; 
                             background-image: url('/assets/images/ykk.jpg'); background-size: cover;">
                        </div>
                    </div>
                </div>

                <div #tutorialSection class="container"
                    style="display: flex; justify-content: flex-end; margin-left: 130px;">
                    <div class="custom-card1 no-border-card shadow-lg rounded" style="margin-top: 30px; 
                            background-image: url('/assets/images/landing_tutor.png'); 
                            background-size: cover;">
                        <div class="col-lg-12 text-start" style="margin-top: 320px; margin-left: 40px;">
                            <button type="submit" class="btn1">Learn</button>
                        </div>
                    </div>
                </div>

                <div class="container" style="display: flex; justify-content: flex-start;">
                    <div class="custom-card2 no-border-card shadow-lg rounded" style="margin-top: 60px; margin-left: -130px;
                            background-image: url('/assets/images/landing_canpet.png'); 
                            background-size: cover;">
                    </div>
                </div>

                <div #reviewSection class="mt-4 mt-sm-2 pt-sm-5 mb-sm-n5 demo-carousel">
                    <div class="carousel">
                        <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                            [showNavigationIndicators]="showNavigationIndicators"
                            [activeId]="currentIndex.toString()"
                            class="carousel-inner shadow-lg p-2 bg-white rounded">
                            <ng-container *ngFor="let image of dataImage; let i = index">
                                <ng-template  ngbSlide id="{{ i }}">
                                    <img class="responsive-image" [src]="getImgFileBefore(image.image)" alt="">
                                </ng-template>
                            </ng-container>
                        </ngb-carousel>
                    </div>
                </div>
            </div>

            <div #quoteSection class="card no-border-card" style="margin-top: 100px;">
                <div class="custom-card3 no-border-card rounded">
                    <div class="quote-text" *ngIf="dataQuote">
                        <p>{{ dataQuote.quote }}</p>
                    </div>
                </div>
            </div>
        </div>
        <section #teamSection class="section team" id="team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <h3 class="mb-3 fw-semibold">CANPET TEAM</h3>
                            <p class="text-muted mb-4 ff-secondary">A collaboration that brings together passion,
                                expertise and dedication.
                                Behind every step forward, they weave harmony that builds success. From every individual
                                who is part, this team forms a solid foundation, realizing innovation and excellence.
                                Together, they are not just a team, but a family that inspires, encourages and
                                celebrates every achievement.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6" *ngFor="let data of Teams">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{{data.image}}" alt="" class="img-fluid rounded-circle">
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="/pages/profile" class="text-body">{{data.name}}</a></h5>
                                <p class="text-muted mb-0 ff-secondary">{{data.position}}</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-2">
                            <a href="/pages/team" class="btn btn-primary">View All Members <i
                                    class="ri-arrow-right-line ms-1 align-bottom"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <footer class="text-center text-lg-start text-white" style="background-color: #011D4A">
            <!-- Grid container -->
            <div class="container p-2 pb-0">
                <!-- Section: Links -->
                <section #contactSection class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">
                                CANPET
                            </h6>
                            <p>
                                The canpet department plays an important role in making Pocari Sweat in cans and 2 liter
                                bottles.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Products</h6>
                            <p>
                                <a class="text-white">Pocari Sweat Can</a>
                            </p>
                            <p>
                                <a class="text-white">Pocari Sweat 2L</a>
                            </p>
                            <p>
                                <a class="text-white"></a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Follow us</h6>

                            <!-- Facebook -->
                            <a class="btn btn-primary m-2" style="background-color: #0082ca; border: none;" href="#!"
                                role="button"><i class="fab fa-linkedin-in"></i></a>
                            <!-- Twitter -->
                            <a class="btn btn-primary m-2" style="background-color: #55acee; border: none;" href="#!"
                                role="button"><i class="fab fa-twitter"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-primary m-2" style="background-color: #ff0000; border: none;" href="#!"
                                role="button"><i class="fab fa-instagram"></i></a>

                            <!-- Github -->
                            <a class="btn btn-primary m-2" style="background-color: #25d366; border: none;" href="#!"
                                role="button"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                ©2023
                <a class="text-white">AIO-Production System</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- End of .container -->
        <!-- end container -->
        <div class="position-absolute start-0 end-0 bottom-0 hero-shape-svg">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <g mask="url(&quot;#SvgjsMask1003&quot;)" fill="none">
                    <path d="M 0,118 C 288,98.6 1152,40.4 1440,21L1440 140L0 140z">
                    </path>
                </g>
            </svg>
        </div>
        <!-- end shape -->
    </section>
    <!-- end hero section -->
    <!--start back-to-top-->
    <button (click)="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>