.text-montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.shadow-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out; 
}
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.is-sticky {
    background-color: #011D4A;
    transition: background-color 0.3s ease;
  }
  .white-text {
    color: white;
}
.no-border-card {
    border: none;
}
.img-container {
    display: inline-block;
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
    vertical-align: middle; 
}
body {
    overflow: visible;
}

.card1{
    width: 180px;
    height: auto;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
    display: block;
    margin: 0 auto;
}

.custom-card1 {
    width: 900px;
    height: 400px; 
}

.custom-card2 {
    width: 950px;
    height: 400px; 
}

.custom-card3 {
    width: 1110px;
    height: 400px; 
    background-image: url('/assets/images/quote1.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.quote-text {
    padding: 40px; /* Sesuaikan dengan kebutuhan Anda */
  }

  .quote-text p {
    text-align: justify;
  }

.btn1 {
    padding: 8px 20px; /* ukuran padding agar tombol terlihat proporsional */
    font-size: 20px; /* ukuran font */
    color: white; /* warna teks */
    background-color: #011D4A; /* warna latar belakang */
    border: none; /* menghilangkan border */
    border-radius: 8px; /* membuat sudut tombol menjadi melengkung */
    cursor: pointer; /* menampilkan cursor pointer saat dihover */
    transition: background-color 0.3s ease; /* efek transisi saat hover */
}

.btn1:hover {
    background-color: #2b4979; /* warna latar belakang saat tombol dihover */
}

.team{
    background-color: #f5f5f5;
}

.plus{
    background-color: #011D4A
}

.plus:hover{
    background-color: #2b4979;
}
