.search{
    width: 100px;
    height: 35px;
    background-color: #f3f3f9;
    vertical-align: middle;
}
.plan-header,
.actual-header {
    width: 50%;
}

.custom-select {
    position: relative;
  }

  .custom-select::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Atur warna latar belakang sesuai kebutuhan */
    opacity: 0.7;
    z-index: -1;
  }