<div class="col-xxl-12">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div>
                    <div class="row">
                        <div class="col-xl-4">
                            <label class="form-label mb-0">Pic</label>
                            <div>
                                <ng-select
                                [items]="userByRole"
                                bindLabel="name" 
                                bindValue="id"   
                                [(ngModel)]="newWeeklyReport.id_pic"
                                name="name"
                                placeholder="Select Pic">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label mb-0">Start Date</label>
                                <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                    [altInput]="true" [enableTime]="true" [convertModelValue]="true"
                                    [dateFormat]="'Y-m-d'" [(ngModel)]="newWeeklyReport.start_date" placeholder="Start Date">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <label class="form-label mb-0">End Date</label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d'"
                                [(ngModel)]="newWeeklyReport.end_date" placeholder="End Date">
                        </div>
                    </div><!-- end row -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="placeholderInput" class="form-label">Issue</label>
                            <textarea class="form-control" id="issue" rows="3"
                                placeholder="Enter Your Issue" [(ngModel)]="newWeeklyReport.issue"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="placeholderInput" class="form-label">Task</label>
                            <textarea class="form-control" id="task" rows="3"
                                placeholder="Enter Your Task" [(ngModel)]="newWeeklyReport.task"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="placeholderInput" class="form-label">Remark</label>
                            <textarea class="form-control" id="remark" rows="3"
                                placeholder="Enter remark" [(ngModel)]="newWeeklyReport.remark"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="placeholderInput" class="form-label">Action Plan</label>
                            <textarea class="form-control" id="action_plan" rows="3"
                                placeholder="Enter action plan" [(ngModel)]="newWeeklyReport.action_plan"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="placeholderInput" class="form-label">Next Plan</label>
                            <textarea class="form-control" id="neext_plan" rows="3"
                                placeholder="Enter next plan" [(ngModel)]="newWeeklyReport.next_plan"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="documentation-before" class="form-label">Documentation Before</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-before')" accept="image/*" name="files">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="documentation-after" class="form-label">Documentation After</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-after')" accept="image/*" name="files">
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button *ngIf="!idParam" type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="onInsertData()"> Submit </button>
                    <button *ngIf="idParam" type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="onUpdate()"> Update </button>
                    <button type="submit" class="btn btn-danger" (click)="goBack()"> Back </button>
                </div>
            </div>
        </div>
    </div>
</div>