<div class="btn-group" style="margin-top: -15px;" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnPlanned"
        autocomplete="off" [checked]="!isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnPlanned">Planned</label>

    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnUnplanned"
        autocomplete="off" [checked]="isTableView">
    <label class="btn btn-outline-secondary shadow-none" for="btnUnplanned">Unplanned</label>
</div>

<ng-container *ngIf="!isTableView">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="flex-shrink-0" style="margin-bottom: 30px;">
                        <button *ngIf="!isEmployee" class="btn btn-primary btn-sm" style="margin-right: 10px;"
                            (click)="addDataDaily()">Add Data</button>
                            <button class="btn btn-danger btn-sm" style="margin-right: 10px;"
                            (click)="onReport()">Report</button>
                            <button class="btn btn-success btn-sm" style="margin-right: 10px;"
                            (click)="listReport()">List Report</button>
                            <div class="search-box" style="display: inline-block;">
                                <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText1"
                                    (input)="search1()">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                    </div>
                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="column">
                                        <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let daily of dataForCurrentPage1; let i = index">
                                        <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                        <td style="vertical-align: middle;">{{ daily.function_location }}</td>
                                        <td style="vertical-align: middle;">{{ daily.operation_task }}</td>
                                        <td style="vertical-align: middle;">{{ daily.description_material }}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div *ngFor="let name of daily.pic.split(',')">{{ name }}</div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(daily.id_status) }}">{{ getStatusLabel(daily.id_status) }}</span>
                                        </td>                                      
                                        <td style="vertical-align: middle; text-align: center;">{{ daily.date | date:'dd MMMM yyyy'}}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="openPopupDaily(daily)">Show All</a></li>
                                                    <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="editDaily(daily.id)">Edit Data</a></li>
                                                    <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="onDelete(daily.id)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="dataForCurrentPage1?.length === 0">
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                                <ngb-pagination [collectionSize]="dataDailyCan.length" [(page)]="currentPage1" [pageSize]="itemsPerPage1"
                                [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange1($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="d-none code-view">
                        <div class="language-markup" style="height: 275px;">
                            <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</ng-container>

<ng-container *ngIf="isTableView">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="flex-shrink-0" style="margin-bottom: 30px;">
                        <button *ngIf="!isEmployee" class="btn btn-primary btn-sm plan" style="margin-right: 10px;"
                            (click)="addDataUnplanned()">Add Data</button>
                        <div class="search-box" style="display: inline-block;">
                            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText2"
                                (input)="search2()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="column">
                                        <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let unplanned of dataForCurrentPage2; let i = index">
                                        <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                                        <td style="vertical-align: middle;">{{ unplanned.function_location }}</td>
                                        <td style="vertical-align: middle;">{{ unplanned.operation_task }}</td>
                                        <td style="vertical-align: middle;">{{ unplanned.description_material }}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div *ngFor="let name of unplanned.pic.split(',')">{{ name }}</div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(unplanned.id_status) }}">{{ getStatusLabel(unplanned.id_status) }}</span>
                                        </td>                                      
                                        <td style="vertical-align: middle; text-align: center;">{{ unplanned.date | date:'dd MMMM yyyy'}}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="openPopupUnplanned(unplanned)">Show All</a></li>
                                                    <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="editPlan(unplanned.id)">Edit Data</a></li>
                                                    <li *ngIf="!isEmployee"><a class="dropdown-item" (click)="onDelete(unplanned.id)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="dataForCurrentPage2?.length === 0">
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination justify-content-end mt-3 mr-3" style="margin-right: 15px;">
                                <ngb-pagination [collectionSize]="dataUnplannedCan.length" [(page)]="currentPage2" [pageSize]="itemsPerPage2"
                                    (pageChange)="onPageChange2($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="d-none code-view">
                        <div class="language-markup" style="height: 275px;">
                            <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</ng-container>