<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div id="calendar"></div>
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!--end row-->

        <div style='clear:both'></div>

        <!-- Add New Event MODAL -->
        <ng-template #modalShow let-modal>
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="modal-title">Add PRO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="closeEventModal()"></button>
            </div>
            <div class="modal-body p-4">
                <form class="needs-validation" name="event-form" id="form-event" novalidate (ngSubmit)="onClick()"
                    [formGroup]="formData">
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">PRO Description</label>
                                <input class="form-control" placeholder="Enter description" type="text" name="title"
                                    id="event-title" required value="" formControlName="title"
                                    [(ngModel)]="newPro.pro_description" />
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="form-control flatpickr-input" type="date" 
                                        placeholder="Select date" id="event-date" formControlName="date"
                                        [(ngModel)]="newPro.date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="file_upload" class="form-label">File
                            </label>
                            <input class="form-control " type="file" (change)="onFileTaskSelected($event, 'file_upload')" accept="file/*" name="files">
                        </div>
                        <!--end col-->
                        <div class="hstack gap-2 justify-content-end">
                            <button type="submit" class="btn btn-success" id="btn-save-event">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end modal-->


        <ng-template #editmodalShow let-modal>
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="formEditData" >
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input class="form-control" placeholder="Insert Event Name" type="text" name="name"
                                    formControlName="name" readonly>
                            </div>
                        </div>                         
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">PRO Description</label>
                                <input class="form-control" placeholder="Insert Event Name" type="text" name="description"
                                    formControlName="description" readonly>
                            </div>
                        </div>                       
                        <div class="col-12">
                            <div class="mb-3">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="form-control" type="date" mwlFlatpickr [options]="flatpickrOptions" name="date"
                                        formControlName="date" placeholder="Select date" [(ngModel)]="formEditData.value.date" readonly>
                                </div>
                            </div>
                        </div>   
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Notes</label>
                                <input class="form-control" type="text" name="notes"
                                    formControlName="notes" readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label *ngIf="formEditData.value.file_signed">File</label>
                                <label *ngIf="!formEditData.value.file_signed">No File</label>
                                <ng-container *ngIf="formEditData.value.file_signed">
                                    <a [href]="getPdf(formEditData.value.file_signed)" target="_blank" download style="margin-left: 20px;" >
                                        <i class="bi bi-cloud-download"></i>
                                    </a>
                                    </ng-container>
                            </div>
                        </div>     
                    </div>
                    <div class="hstack gap-2 justify-content-end">
                        <button *ngIf="isAdmin" type="button" class="btn btn-danger" id="btn-delete-event" (click)="onDelete(editEvent)"><i
                        class="ri-close-line align-bottom" ></i> Delete</button>
                        <!-- <button *ngIf="isAdmin || isSpv" class="btn btn-success" id="btn-save-event" (click)="updateData()">Update</button> -->
                        <!-- <button class="btn btn-secondary" id="btn-save-event" (click)="onCompleted(editEvent)">Done</button> -->
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end modal-->
    </div>
</div> <!-- end row-->