<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div>
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button"
                        class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                        (click)="AddActivity()">
                        Add Data
                    </button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                                    [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                        </div>
                      </div>
                  </div>
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">No</th>
                                <th scope="col">Pic</th>
                                <th scope="col">Task</th>
                                <th scope="col">Issue</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="d-print-none">Status
                                </th>
                                <th scope="col" class="d-print-none"
                                    >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.task }}</td>
                                    <td>{{ data.issue }}</td>
                                    <td class="text-center">
                                        <ng-container *ngIf="data.start_date; else showDueStartOnly">
                                            {{ formatDate(data.start_date) }} - {{ formatDate(data.end_date) }}
                                        </ng-container>
                                        <ng-template #showDueStartOnly>
                                            {{ formatDate(data.start_date) }}
                                        </ng-template>
                                    </td>
                                    <td class="text-center" style="vertical-align: middle;" [ngSwitch]="data.status">
                                        <span *ngSwitchCase="'onprogress'" class="text-success">
                                            <span class="badge bg-info">On Progress</span>
                                        </span>
                                        <span *ngSwitchCase="'planning'" class="text-primary">
                                            <span class="badge bg-success">Planning</span>
                                        </span>
                                        <span *ngSwitchCase="'pending'" class="text-danger">
                                            <span class="badge bg-danger">Pending</span>
                                        </span>
                                        <span *ngSwitchDefault class="text-warning">
                                            <span class="badge bg-secondary">Done</span>
                                        </span>
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="editModal(contentEdit, data)">Edit Data</a></li>
                                                <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="confirm(data.id_activity)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="filterdata?.length == 0">
                                <td colspan="8" class="text-center">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <!-- <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ getShowingText() }} of {{ totalRecords }} entries
                        </div>
                    </div> -->
                    <!-- <div class="col col-sm-6"> -->
                        <div class="pagination justify-content-end">
                            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                [maxSize]="3" [ellipses]="false"></ngb-pagination>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<ng-template #contentEdit role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Edit Report Daily Activity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="activityEdit" class="tablelist-form" autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="issue" class="form-label">Issue</label>
                    <textarea class="form-control" id="issue" rows="3" placeholder="Enter your issue"
                        formControlName="issue"></textarea>
                </div>
                <div class="col-12 mt-2">
                    <label for="task" class="form-label">Task</label>
                    <textarea class="form-control" id="task" rows="3" placeholder="Enter your task"
                        formControlName="task"></textarea>
                </div>
                <div class="col-6 mt-2">
                    <div class="mb-2">
                        <label>Plan Start Date </label>
                        <div class="input-group">
                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                [convertModelValue]="true" id="start_date" formControlName="start_date"
                                placeholder="Start Date">
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="mb-2">
                        <label>Plan End Date </label>
                        <div class="input-group">
                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                [convertModelValue]="true" id="end_date" formControlName="end_date" placeholder="End Date">
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="mb-2">
                        <label>Real Start Date </label>
                        <div class="input-group">
                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                [convertModelValue]="true" id="actual_start" formControlName="actual_start"
                                placeholder="Date">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-2">
                        <label>Real End Date </label>
                        <div class="input-group">
                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                [convertModelValue]="true" id="actual_end" formControlName="actual_end"
                                placeholder="Date">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-success" id="sa-position" (click)="saveAgain()"> Submit </button>
            </div>
        </div>
    </form>
</ng-template>

