<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="flex-shrink-0" style="display: flex; align-items: center;">
            <div class="col-md-3">
                <div>
                    <select class="form-control search" name="year" id="year" required (change)="onYearChange($event)">
                        <option value="" disabled selected>Select Year</option>
                        <option *ngFor="let year of dataBudgeting" [value]="year.year">{{ year.year }}
                        </option>
                    </select>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row" *ngIf="dataYear">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 text-center">Tahun {{dataYear.year}}</h4>
            </div>
            <div *ngIf="dataYear.data.Repair">
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div class="card-header">
                                <h4 class="card-title mb-0 text-center">Repair</h4>
                            </div>
                            <div class="card-body">
                                <apx-chart [series]="repairChart.series" [chart]="repairChart.chart" [dataLabels]="repairChart.dataLabels"
                                [plotOptions]="repairChart.plotOptions" [yaxis]="repairChart.yaxis" [legend]="repairChart.legend"
                                [fill]="repairChart.fill" [stroke]="repairChart.stroke" [tooltip]="repairChart.tooltip"
                                [xaxis]="repairChart.xaxis" [colors]="repairChart.colors" dir="ltr"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dataYear.data.Maintenance">
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div class="card-header">
                                <h4 class="card-title mb-0 text-center">Maintenance</h4>
                            </div>
                            <div class="card-body">
                                <apx-chart [series]="maintenanceChart.series" [chart]="maintenanceChart.chart" [dataLabels]="maintenanceChart.dataLabels"
                                [plotOptions]="maintenanceChart.plotOptions" [yaxis]="maintenanceChart.yaxis" [legend]="maintenanceChart.legend"
                                [fill]="maintenanceChart.fill" [stroke]="maintenanceChart.stroke" [tooltip]="maintenanceChart.tooltip"
                                [xaxis]="maintenanceChart.xaxis" [colors]="maintenanceChart.colors" dir="ltr"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dataYear.data.OverHaul">
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div class="card-header">
                                <h4 class="card-title mb-0 text-center">Over Haul</h4>
                            </div>
                            <div class="card-body">
                                <apx-chart [series]="overhaulChart.series" [chart]="overhaulChart.chart" [dataLabels]="overhaulChart.dataLabels"
                                [plotOptions]="overhaulChart.plotOptions" [yaxis]="overhaulChart.yaxis" [legend]="overhaulChart.legend"
                                [fill]="overhaulChart.fill" [stroke]="overhaulChart.stroke" [tooltip]="overhaulChart.tooltip"
                                [xaxis]="overhaulChart.xaxis" [colors]="overhaulChart.colors" dir="ltr"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end card -->