
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                <div class="search-box" style="margin-right: 10px;">
                  <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
                  <i class="ri-search-line search-icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs">
              <thead class="text-center">
                <th>No</th>
                <th>Name</th>
                <th>Departement</th>
                <th>Title</th>
                <th>File</th>
                <th>Status</th>
                <th>Notes</th>
                <th *ngIf="isAdmin">Details</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataForCurrentPage; let i = index">
                  <ng-container *ngIf="item.name === userData.name">
                    <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.departement }}</td>
                    <td>{{ item.title }}</td>
                    <td style="text-align: center;">
                      <ng-container *ngIf="item.file_signed">
                      <a [href]="getPdf(item.file_signed)" target="_blank" download>
                          <i class="bi bi-cloud-download"></i>
                      </a>
                      </ng-container>
                      <ng-container *ngIf="!item.file_signed">
                        - 
                      </ng-container>
                    </td>
                    <td style="vertical-align: middle; text-align: center;">
                      <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                    </td>
                    <td style="vertical-align: middle; text-align: center;">{{ item.notes }}</td>
                    <td *ngIf="isAdmin" class="text-center" style="width: 5rem;">
                      <div class="dropdown" ngbDropdown>
                        <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                          data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                          <i class="ri-more-2-fill"></i>  
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                          <li><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngIf="dataForCurrentPage?.length == 0">
                  <td colspan="12" class="text-center">No data available</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination justify-content-end">
            <ngb-pagination [collectionSize]="dataApprovalByName.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
            [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>