.badge-custom {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

.column{
    text-align: center;
}

.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}

.table-nowrap{
    table-layout: fixed;
    width: 100%;
}

.bi-cloud-download:hover {
    opacity: 0.5; 
}