<div class="container">
    <div class="row justify-content-center" style="margin-top: 30px;">
        <div *ngIf="!isOther" class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a routerLink="/menu/second-menu" (click)="onCanClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/btn1.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div *ngIf="!isOther" class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a routerLink="/menu/second-menu" (click)="onPetClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/btn2.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div *ngIf="isOther" class="col-sm-12 col-md-6 col-lg-4 mb-4" readonly>
            <a routerLink="/gateway" (click)="onAdminClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/btn3.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
    </div>
</div>