<div class="col-xxl-12">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form [formGroup]="activityAdd">
                    <div>
                        <div class="row">
                            <div class="col-xl-4">
                                <label class="form-label mb-0">Pic</label>
                                <ng-select  bindLabel="name" bindValue="id" [items]="userByRole" [multiple]="true" formControlName="id_pic"></ng-select>
                            </div>
                            <div class="col-xl-4">
                                <div class="mb-3">
                                    <label class="form-label mb-0">Start Date</label>
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                        [altInput]="true" [enableTime]="true" [convertModelValue]="true"
                                        [dateFormat]="'Y-m-d'" formControlName="start_date" placeholder="Start Date">
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label class="form-label mb-0">End Date</label>
                                <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d'"
                                    formControlName="end_date" placeholder="End Date">
                            </div>
                        </div><!-- end row -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="placeholderInput" class="form-label">Issue</label>
                                <textarea class="form-control" id="issue" rows="3"
                                    placeholder="Enter Your Issue" formControlName="issue"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="placeholderInput" class="form-label">Task</label>
                                <textarea class="form-control" id="task" rows="3"
                                    placeholder="Enter Your Task" formControlName="task"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="save()"> Submit </button>
                        <button type="submit" class="btn btn-danger" (click)="goBack()"> Back </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>