<div class="back-button">
    <button (click)="goBack()" class="custom-back-button rounded-circle" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="row justify-content-center" style="margin-top: -40px;">
    <div class="col-xxl-9">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row p-3">
                        <div class="col-lg-6 text-start" style="vertical-align: middle;">
                            <h5>Inspeksi Abnormalitas</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngFor="let data of dataInspection">
                    <div class="card-body">
                        <div class="col-lg-12 d-flex">
                            <div class="col-lg-3 text-center mt-2">
                                <p class="text-muted text-uppercase fw-semibold">Produk Name</p>
                                <h5 class="fs-14 mb-0"><b>{{data.name_product}}
                                </b></h5>
                            </div>
                            <div class="col-lg-3 text-center mt-2">
                                <p class="text-muted text-uppercase fw-semibold">Lot Number<p>
                                <h5 class="fs-14 mb-0"><span id="invoice-date">{{data.lot_number}}</span></h5>
                            </div>
                            <div class="col-lg-3 text-center mt-2">
                                <p class="text-muted text-uppercase fw-semibold">Abnormalitas<p>
                                <h5 class="fs-14 mb-0"><span id="invoice-date">{{data.abnormalitas}}</span></h5>
                            </div>
                            <div class="col-lg-3 text-center mt-2">
                                <p class="text-muted text-uppercase fw-semibold">Date Production<p>
                                <h5 class="fs-14 mb-0"><span id="invoice-date">{{formatDate(data.date_production)}}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card-body  print-page" id="printable-content">
                        <div class="table-responsive">
                            <table class="table table-gridjs">
                                <thead class="header1">
                                    <tr class="bg-light text-center table-active">
                                        <th colspan="5" class="text-center">KRONOLOGI</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr class="bg-light text-muted text-center table-active">
                                        <th> No </th>
                                        <th> Time </th>
                                        <th> keterangan </th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataSubInspectionById; let i = index" id="lj_{{data.id}}">
                                        <ng-container>
                                            <td class="text-center" style="width: 3rem;">{{ i + 1 }}</td>
                                            <td class="text-center" style="width: 7rem;">
                                                {{ data.start_time.slice(0, 5) }}
                                                <span *ngIf="data.end_time && data.end_time !== '00:00:00'">- {{ data.end_time.slice(0, 5) }}</span>
                                            </td>
                                            <td>
                                                {{data.explanation}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-gridjs" *ngIf="dataSubInspectionDetailById">
                                <thead class="header1" >
                                    <tr class="table-active">
                                        <th class="text-center" scope="col-12">HASIL INSPEKSI</th>
                                    </tr>
                                    <tr>
                                        <td [innerHTML]="getHasilWithLineBreaks(dataSubInspectionDetailById.hasil_inspeksi)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                          <div class="card1" *ngFor="let img of dataSubInspectionDetailById.upload_img.split(',')" style="display: inline-block; text-align: center;">
                                            <img [src]="getImg(img.trim())" alt=""
                                                 style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                 (click)="openLightbox(getImg(img.trim()))">
                                          </div>
                                        </td>
                                      </tr>
                                </thead>
                            </table>
                        </div>
                        <div *ngIf="dataSubInspectionDetailById">
                            <table class="table table-gridjs">
                                <thead>
                                    <tr class="text-muted fw-semibold text-center">
                                        <th class="text-muted">Pic</th>
                                        <th class="text-muted">Due Date</th>                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{dataSubInspectionDetailById.name}}</td>
                                        <td class="text-center">{{formatDate(dataSubInspectionDetailById.due_date)}}</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr class="text-muted fw-semibold text-center">
                                        <th class="text-muted">Analisa Penyebab</th>
                                        <th class="text-muted">Akibat Yang Ditimbulkan</th>                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td [innerHTML]="getAnalisaWithLineBreaks(dataSubInspectionDetailById.analisa_penyebab)"></td>
                                        <td [innerHTML]="getAkibatWithLineBreaks(dataSubInspectionDetailById.akibat)"></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr class="text-muted fw-semibold text-center">
                                        <th class="text-muted">Corrective Action</th>
                                        <th class="text-muted">Preventive Action</th>                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td [innerHTML]="getCurrectionWithLineBreaks(dataSubInspectionDetailById.currection_action)"></td>
                                        <td [innerHTML]="getPreventiveWithLineBreaks(dataSubInspectionDetailById.preventive_action)"></td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <a href="javascript:window.print()" class="btn btn-success"><i
                                    class="ri-printer-line align-bottom me-1" onclick="window.print()"></i> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
