<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form (submit)="onInsertData()">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="report-activity" class="form-label">Activity</label>
                            <textarea type="text" class="form-control" name="report-activity" id="report-activity" [(ngModel)]="newReportMasterPlan.activity"></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newReportMasterPlan.date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="start-time" class="form-label">Start Time</label>
                            <input type="time" class="form-control" name="start-time" id="start-time" [(ngModel)]="newReportMasterPlan.start_time">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="end-time" class="form-label">End time</label>
                            <input type="time" class="form-control" name="end-time" id="end-time" [(ngModel)]="newReportMasterPlan.end_time">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="verification" class="form-label">Verification Before Process</label>
                            <div>
                                <select class="form-control" name="verification" id="verification" required [(ngModel)]="newReportMasterPlan.verification">
                                    <option value="" disabled selected>Select Verificator</option>
                                    <option *ngFor="let pic of namePicEmployee" [value]="pic.name">{{ pic.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-before" class="form-label">Documentation Before<span class="text-danger"> (*harus diisi)</span></label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-before')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-after" class="form-label">Documentation After<span class="text-danger"> (*harus diisi)</span></label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-after')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-12">
                            <button *ngIf="reportMasterPlanData && reportMasterPlanData.length > 0" class="btn btn-success btn-md float-end"
                            (click)="onSubmit()">Submit</button>
                            <button type="submit" class="btn btn-primary btn-md float-end" style="margin-right: 10px;"
                            >{{ nextNumber }} + Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
