  <!-- Approval -->
<ng-template #approve let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel">Approve</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                    <label for="file_upload" class="form-label">File
                    </label>
                    <input class="form-control " type="file" (change)="onFileSelected($event, 'file_upload')" accept="file/*" name="files">
                  </div>
                  <div class="col-md-12 mb-3">
                    <label for="add-quote" class="form-label">Notes</label>
                    <input type="text" class="form-control"  [(ngModel)]="newApprovalSigned.notes"
                    name="add-quote" id="add-quote">
                </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onApprove(dataApproval.id)">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>

<ng-template #reject let-modal>
  <div class="modal-header bg-light p-3">
      <h5 class="modal-title" id="exampleModalLabel">Reject</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="container-fluid">
      <div class="live-preview">
          <form action="javascript:void(0);">
              <div class="row">
                  <div class="col-md-12 mb-3">
                    <label for="add-quote" class="form-label">Notes</label>
                    <input type="text" class="form-control"  [(ngModel)]="newApprovalSigned.notes"
                    name="add-quote" id="add-quote">
                </div>
              </div>
              <div class="col-lg-12 mb-3">
                  <div class="text-end">
                      <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onReject(dataApproval.id)">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ng-template>

<div *ngIf="isAdmin" style="margin-top: -15px;" class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnApproval"
      autocomplete="off" [checked]="!isTableView">
  <label class="btn btn-outline-secondary shadow-none" for="btnApproval">Approval</label>

  <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnPro"
      autocomplete="off" [checked]="isTableView">
  <label class="btn btn-outline-secondary shadow-none" for="btnPro">PRO</label>
</div>

<ng-container *ngIf="!isTableView">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                  <div class="search-box" style="margin-right: 10px;">
                    <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText1"(input)="search1()">
                    <i class="ri-search-line search-icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-gridjs">
                <thead class="text-center">
                  <th>No</th>
                  <th>Name</th>
                  <th>Departement</th>
                  <th>Title</th>
                  <th>File</th>
                  <th>Status</th>
                  <th>Details</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataForCurrentPage1; let i = index">
                    <ng-container *ngIf="item.signer === userData.name">
                      <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.departement }}</td>
                      <td>{{ item.title }}</td>
                      <td style="text-align: center;">
                        <ng-container *ngIf="item.file_upload">
                        <a [href]="getPdf(item.file_upload)" target="_blank" download>
                            <i class="bi bi-cloud-download"></i>
                        </a>
                        </ng-container>
                        <ng-container *ngIf="!item.file_upload">
                          - 
                        </ng-container>
                      </td>
                      <td style="vertical-align: middle; text-align: center;">
                        <span class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                      </td>
                      <td class="text-center" style="width: 5rem;">
                        <div class="dropdown" ngbDropdown>
                          <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                            <i class="ri-more-2-fill"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                            <li><a class="dropdown-item" (click)="openApprove(approve, item.id)">Approve</a></li>
                            <li><a class="dropdown-item" (click)="openReject(reject, item.id)">Reject</a></li>
                          </ul>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                  <tr *ngIf="dataForCurrentPage1?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination justify-content-end">
              <ngb-pagination [collectionSize]="dataApprovalBySigner.length" [(page)]="currentPage1" [pageSize]="itemsPerPage1"
              [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange1($event)"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-container>

  <!-- Pro -->
  <ng-template #approvePro let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Approve</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="file_signed" class="form-label">File
                      </label>
                      <input class="form-control " type="file" (change)="onFileSelected($event, 'file_signed')" accept="file/*" name="files">
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newPro.notes"
                      name="add-quote" id="add-quote">
                  </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onApprovePro()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </ng-template>
  
  <ng-template #rejectPro let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Reject</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="container-fluid">
        <div class="live-preview">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="add-quote" class="form-label">Notes</label>
                      <input type="text" class="form-control"  [(ngModel)]="newPro.notes"
                      name="add-quote" id="add-quote">
                  </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="text-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onRejectPro()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </ng-template>

  <ng-container *ngIf="isAdmin">
    <ng-container *ngIf="isTableView">
      <div *ngIf="isAdmin" class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                      <div class="search-box" style="margin-right: 10px;">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText2"(input)="search2()">
                        <i class="ri-search-line search-icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-gridjs">
                    <thead class="text-center">
                      <th>No</th>
                      <th>Name</th>
                      <th>PRO Description</th>
                      <th>Date/Lot Number</th>
                      <th>File</th>
                      <th>Status</th>
                      <th>Details</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pro of dataForCurrentPage2; let i = index">
                        <ng-container>
                          <td style="text-align: center; width: 3rem;">{{ i + 1 }}</td>
                          <td>{{ pro.name }}</td>
                          <td>{{ pro.pro_description }}</td>
                          <td style="vertical-align: middle; text-align: center;">{{ pro.date | date:'dd MMMM yyyy'}}</td>
                          <td style="text-align: center;">
                            <ng-container *ngIf="pro.file">
                            <a [href]="getPdf(pro.file)" target="_blank" download>
                                <i class="bi bi-cloud-download"></i>
                            </a>
                            </ng-container>
                            <ng-container *ngIf="!pro.file">
                              - 
                            </ng-container>
                          </td>
                          <td style="vertical-align: middle; text-align: center;">
                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(pro.id_status) }}">{{ getStatusLabel(pro.id_status) }}</span>
                          </td>
                          <td class="text-center" style="width: 5rem;">
                            <div class="dropdown" ngbDropdown>
                              <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                                data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                <i class="ri-more-2-fill"></i>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                <li><a class="dropdown-item" (click)="openApprovePro(approvePro, pro, pro.id)">Approve</a></li>
                                <li><a class="dropdown-item" (click)="openRejectPro(rejectPro, pro,  pro.id)">Reject</a></li>
                              </ul>
                            </div>
                          </td>
                        </ng-container>
                      </tr>
                      <tr *ngIf="dataForCurrentPage2?.length == 0">
                        <td colspan="12" class="text-center">No data available</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pagination justify-content-end">
                  <ngb-pagination [collectionSize]="dataPro.length" [(page)]="currentPage2" [pageSize]="itemsPerPage2"
                  [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange2($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
  </ng-container>