<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div>
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button"
                        class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                        (click)="addReport()">
                        Add Report
                    </button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                                    [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
                        <div class="col-md-8 d-flex align-items-center">
                          <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
                        </div>
                      </div>
                  </div>
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <tr class="text-center">
                            <th>No</th>
                            <th>Title</th>
                            <th>Finish Good</th>
                            <th>Reject</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let data of filteredHistoryData.slice((page - 1) * pageSize, page * pageSize); let i = index">
                                <td scope="row" class="text-center">{{ i + 1 }}</td>
                                <td>
                                    <ngb-highlight [result]="data.title">
                                    </ngb-highlight>
                                </td>
                                <td class="text-center">
                                    <ngb-highlight [result]="data.total_finish_good"></ngb-highlight>
                                </td>
                                <td class="text-center">
                                    <ngb-highlight [result]="data.reject"></ngb-highlight>
                                </td>
                                <td class="text-center">
                                    <ngb-highlight [result]="data.date | date: 'dd MMMM yyyy'"> </ngb-highlight>
                                </td>
                                <td class="text-center">
                                    <ngb-highlight [result]="data.date | date:'HH:mm'">
                                    </ngb-highlight>
                                </td>
                                <td class="text-center">
                                    <div class="dropdown" ngbDropdown>
                                      <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                        <i class="ri-more-2-fill"></i>
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                        <li><a class="dropdown-item" (click)="getByIdHistory(data.id_history)">View</a></li>
                                        <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="confirm(data.id_history)">Delete</a></li>
                                      </ul>
                                    </div>
                                  </td>
                            </tr>
                            <tr *ngIf="filteredHistoryData.length === 0">
                                <td colspan="7" class="text-center">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center d-print-none">
                    <!-- <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ getShowingText() }} of {{ totalRecords }} entries
                        </div>
                    </div> -->
                        <div class="pagination justify-content-end">
                            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                [maxSize]="3" [ellipses]="false"></ngb-pagination>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>