<div class="row">
    <div class="col-xl-12">
        <div class="d-flex flex-column h-50">
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="card card-animate overflow-hidden">
                        <div class="position-absolute start-0" style="z-index: 0;">
                            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                                height="120">
                                <style>
                                    .s0 {
                                        opacity: .05;
                                        fill: var(--vz-success)
                                    }
                                </style>
                                <path id="Shape 8" class="s0"
                                    d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                            </svg>
                        </div>
                        <div class="card-body" style="z-index:1 ;">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-3"> Total User</p>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-0">
                                        <span class="counter-value" [CountTo]="totalUser" [from]="0"
                                            [duration]="1"></span>
                                    </h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <i class="ri-user-line" style="font-size: 3em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xl-3 col-md-3">
                    <!-- card -->
                    <div class="card card-animate overflow-hidden">
                        <div class="position-absolute start-0" style="z-index: 0;">
                            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                                height="120">
                                <style>
                                    .s0 {
                                        opacity: .05;
                                        fill: var(--vz-success)
                                    }
                                </style>
                                <path id="Shape 8" class="s0"
                                    d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                            </svg>
                        </div>
                        <div class="card-body" style="z-index:1 ;">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-3"> Total Machine</p>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-0">
                                        <span [CountTo]="totalMachine" class="counter-value" [from]="0"
                                            [duration]="1"></span>
                                    </h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <i class="ri-user-line" style="font-size: 3em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <!-- card -->
                    <div class="card card-animate overflow-hidden">
                        <div class="position-absolute start-0" style="z-index: 0;">
                            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                                height="120">
                                <style>
                                    .s0 {
                                        opacity: .05;
                                        fill: var(--vz-success)
                                    }
                                </style>
                                <path id="Shape 8" class="s0"
                                    d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                            </svg>
                        </div>
                        <div class="card-body" style="z-index:1 ;">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-3"> Abnormalitas</p>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-0">
                                        <span [CountTo]="totalAbnormal" class="counter-value" [from]="0"
                                            [duration]="1"></span>
                                    </h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <i class="ri-user-line" style="font-size: 3em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <!-- card -->
                    <div class="card card-animate overflow-hidden">
                        <div class="position-absolute start-0" style="z-index: 0;">
                            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                                height="120">
                                <style>
                                    .s0 {
                                        opacity: .05;
                                        fill: var(--vz-success)
                                    }
                                </style>
                                <path id="Shape 8" class="s0"
                                    d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                            </svg>
                        </div>
                        <div class="card-body" style="z-index:1 ;">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-3"> Schedule </p>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-0">
                                        <span [CountTo]="totalSchedule" class="counter-value" [from]="0"
                                            [duration]="1"></span>
                                    </h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <i class="ri-user-line" style="font-size: 3em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">GMP</h4>
                <button (click)="exportAbnormalitasToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
            <div class="card-body" style="margin-top: 30px;">
                <apx-chart *ngIf="gmpPieChart" [series]="gmpPieChart.series" [chart]="gmpPieChart.chart"
                    [labels]="gmpPieChart.labels" [legend]="gmpPieChart.legend"
                    [dataLabels]="gmpPieChart.dataLabels" [responsive]="gmpPieChart.responsive" 
                    [title]="gmpPieChart.title"[colors]="gmpPieChart.colors" dir="ltr">
                </apx-chart>
            </div>
        </div>
    </div>
    <div *ngIf="idLine == 1" class="col-xl-8">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Structure CAN Line</h4>
                <div *ngIf="!isEmployee" class="dropdown item" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none" role="button"
                        id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                        ngbDropdownToggle>
                        <i class="ri-more-2-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li><a class="dropdown-item" (click)="openModal(content)">Add</a></li>
                        <li><a class="dropdown-item" (click)="openEditModal(editContent, dataStructureCan, dataStructureCan.id)">Edit</a></li>
                        <li><a class="dropdown-item" (click)="onDelete(dataStructureCan.id)">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div *ngIf="dataStructureCan" class="text-center">
                <img [src]="getImgFileStructure(dataStructureCan.img_structure)" alt=""
                            style="max-width: 200%; max-height: 360px; object-fit: contain;"
                            (click)="openLightboxStructure(getImgFileStructure(dataStructureCan.img_structure))">
            </div>
        </div>
    </div>
    <div *ngIf="idLine == 2" class="col-xl-8">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Structure PET Line</h4>
                <div *ngIf="!isEmployee" class="dropdown item" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none" role="button"
                        id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                        ngbDropdownToggle>
                        <i class="ri-more-2-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li><a class="dropdown-item" (click)="openModal(content)">Add</a></li>
                        <li><a class="dropdown-item" (click)="openEditModal(editContent, dataStructurePet, dataStructurePet.id)">Edit</a></li>
                        <li><a class="dropdown-item" (click)="onDelete(dataStructurePet.id)">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div *ngIf="dataStructurePet" class="text-center">
                <img [src]="getImgFileStructure(dataStructurePet.img_structure)" alt=""
                            style="max-width: 200%; max-height: 360px; object-fit: contain;"
                            (click)="openLightboxStructure(getImgFileStructure(dataStructurePet.img_structure))">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
        <div class="card card-height-100" id="dashboard-container">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Report Activity</h4>
                <button (click)="exportReportToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="card-title mt-2 flex-grow-1 text-center">
                            Daily
                        </h2>
                        <apx-chart class="apex-charts" dir="ltr" [series]="status7?.series"
                            [labels]="status7?.labels" [chart]="status7?.chart" [plotOptions]="status7?.plotOptions"
                            [dataLabels]="status7?.dataLabels" [legend]="status7?.legend" [stroke]="status7?.stroke"
                            [colors]="status7?.colors" dir="ltr">
                        </apx-chart>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <h2 class="me-3 ff-secondary mb-0" class="counter-value"
                                    >{{totalActivity}}</h2>
                                <div>
                                    <p class="text-muted mb-2" style="margin-left: 5px;">Total Report</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i>
                                    Planning</p>
                                <div>
                                    <span class="text-muted pe-5">{{ totalplanningDaily }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i>
                                    On Progress</p>
                                <div>
                                    <span class="text-muted pe-5">{{ totalonprogressDaily }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-primary align-middle me-2"></i>
                                    Closed
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ totalclosedDaily }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Pending
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ totalpendingDaily }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <h2 class="card-title mt-2 flex-grow-1 text-center">
                            Weekly
                        </h2>
                        <apx-chart *ngIf="status8" class="apex-charts" dir="ltr" [series]="status8.series" [labels]="status8.labels"
                            [chart]="status8.chart" [plotOptions]="status8.plotOptions"
                            [dataLabels]="status8.dataLabels" [legend]="status8.legend" [stroke]="status8.stroke"
                            [colors]="status8.colors" dir="ltr">
                        </apx-chart>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <h2 class="me-3 ff-secondary mb-0">{{totalWeekly}}</h2>
                                <div>
                                    <p class="text-muted mb-2">Total Report</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i>
                                    On Progress</p>
                                <div>
                                    <span class="text-muted pe-5">{{totalOnProgressWeekly}}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-primary align-middle me-2"></i>
                                    Closed
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{totalClosedWeekly}}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-semibold mb-0"><i
                                        class="ri-checkbox-blank-circle-fill text-warning align-middle me-2"></i>
                                    Revisi
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{totalRevisiWeekly}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card card-height-100" id="productivity">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Line Efficiency</h4>
                <button (click)="exportProductivityToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
            <div class="card-body">
                <h2 *ngIf="dataEfficiencyByLine" class="card-title flex-grow-1 text-center" style="margin-top: 50px; font-size: 25px;">
                    {{dataEfficiencyByLine.title}}
                </h2>
                <div style="margin-top: -10px;">
                    <apx-chart *ngIf="multipleRadialbarChart" [series]="multipleRadialbarChart.series"
                        [chart]="multipleRadialbarChart.chart"
                        [plotOptions]="multipleRadialbarChart.plotOptions"
                        [labels]="multipleRadialbarChart.labels" [colors]="multipleRadialbarChart.colors"
                        dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card" id="kartu-stock">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Kartu Stock</h4>
                <button (click)="exportStockToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
                <div class="card-body">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-gridjs">
                                <thead>
                                    <tr class="text-center">
                                        <th> No </th>
                                        <th> Nama Barang </th>
                                        <th> Sisa </th>
                                        <th> Status </th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                        <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                            <td class="text-center">{{ i + 1 }}</td>
                                            <td>{{data.nama_barang}}</td>
                                            <td class="text-center">{{data.jumlah}}</td>
                                            <td style="vertical-align: middle; text-align: center;">
                                                <span class="badge badge-custom text-bg-{{ getStatusLabelClass(data.id_status) }}">{{ getStatusLabel(data.id_status) }}</span>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-md-between align-items-md-center">
                                <div class="pagination justify-content-end">
                                    <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                        [maxSize]="3" [ellipses]="false"></ngb-pagination>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="card" id="abnormalitas">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Abnormalitas</h4>
        <button (click)="exportAbnormalitasToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
            <i class="ri-download-2-fill"></i></button>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <h2 class="card-title mt-2 flex-grow-1 text-center">
                Progress Preparation
            </h2>
            <div class="card-body">
                <apx-chart *ngIf="preparasiPieChart" [series]="preparasiPieChart.series" [chart]="preparasiPieChart.chart"
                    [labels]="preparasiPieChart.labels" [legend]="preparasiPieChart.legend"
                    [dataLabels]="preparasiPieChart.dataLabels" [responsive]="preparasiPieChart.responsive" 
                    [title]="preparasiPieChart.title"[colors]="preparasiPieChart.colors" dir="ltr">
                </apx-chart>
            </div>
        </div>

        <div *ngIf="idLine == 2" class="col-xl-4">
            <h2 class="card-title mt-2 flex-grow-1 text-center">
                Progress Injection
            </h2>
            <div class="card-body">
                <apx-chart *ngIf="injectionPieChart" [series]="injectionPieChart.series" [chart]="injectionPieChart.chart"
                    [labels]="injectionPieChart.labels" [legend]="injectionPieChart.legend"
                    [dataLabels]="injectionPieChart.dataLabels" [responsive]="injectionPieChart.responsive" 
                    [title]="injectionPieChart.title"[colors]="injectionPieChart.colors" dir="ltr">
                </apx-chart>
            </div>
        </div>

        <div *ngIf="idLine == 2" class="col-xl-4">
            <h2 class="card-title mt-2 flex-grow-1 text-center">
                Progress Blow
            </h2>
            <div class="card-body">
                <apx-chart *ngIf="blowPieChart" [series]="blowPieChart.series" [chart]="blowPieChart.chart"
                    [labels]="blowPieChart.labels" [legend]="blowPieChart.legend"
                    [dataLabels]="blowPieChart.dataLabels" [responsive]="blowPieChart.responsive" 
                    [title]="blowPieChart.title"[colors]="blowPieChart.colors" dir="ltr">
                </apx-chart>
            </div>
        </div>

        <div class="col-xl-4">
            <h2 class="card-title mt-2 flex-grow-1 text-center">
                Progress Filling
            </h2>
                <div class="card-body">
                    <apx-chart *ngIf="fillingPieChart" [series]="fillingPieChart.series" [chart]="fillingPieChart.chart"
                        [labels]="fillingPieChart.labels" [legend]="fillingPieChart.legend"
                        [dataLabels]="fillingPieChart.dataLabels" [responsive]="fillingPieChart.responsive" 
                        [title]="fillingPieChart.title"[colors]="fillingPieChart.colors" dir="ltr">
                </apx-chart>
            </div>
        </div>

        <div *ngIf="idLine == 2" class="col-xl-4">

        </div>

        <div class="col-xl-4">
            <h2 class="card-title mt-3 flex-grow-1 text-center">
                Progress Packing
            </h2>
                <div class="card-body">
                    <apx-chart *ngIf="packingPieChart" [series]="packingPieChart.series" [chart]="packingPieChart.chart"
                        [labels]="packingPieChart.labels" [legend]="packingPieChart.legend"
                        [dataLabels]="packingPieChart.dataLabels" [responsive]="packingPieChart.responsive" 
                        [title]="packingPieChart.title"[colors]="packingPieChart.colors" dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Image Structure</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Image Structure </label>
                    <input class="form-control " type="file" (change)="onFileSelected($event, 'img-structure')" accept="image/*" name="files">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" (click)="onSubmit()" id="add-btn">Submit</button>
            </div>
        </div>
    </ng-template>

    <ng-template #editContent let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Edit Structure</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Image Structure </label>
                    <input class="form-control " type="file" (change)="onFileSelected($event, 'img-structure')" accept="image/*" name="files">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" (click)="onUpdate()" id="add-btn">Update</button>
            </div>
        </div>
    </ng-template>