.hidden-print {
    display: none !important;
  }
  
  @media print {
    .hidden-print {
      display: none !important;
    }
  }

  .badge {
    display: inline-block;
    width: 105px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  display: block;
  margin: 0 auto;
}
  