<div class="row mb-3 pb-1">
    <div class="col-12">
        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
                <h4 *ngIf="userData" class="fs-16 mb-1">Good Morning, {{userData.name}}!</h4>
                <p class="text-muted mb-0">This is the progress of this month's Canpet Production Line.</p>
            </div>
            <div class="mt-3 mt-lg-0">
                <div class="row g-3 mb-0 align-items-center">
                    <div class="col-sm-auto">
                        <div class="input-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                placeholder="{{ datePlaceholder }}" [altInput]="false" [convertModelValue]="true"
                                (change)="onChangeDateRange($event)" mode="range">
                            <div class="input-group-text bg-primary border-primary text-white"><i
                                    class="ri-calendar-2-line"></i></div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div><!-- end card header -->
    </div>
    <!--end col-->
</div>

<div class="row">
    <div class="col col-12 col-md-6 col-lg-3">
        <div class="card rounded-3">
            <div class="card-body" style="background-image:url('/assets/images/dashboard1.png'); background-size: cover;">
                <h5 class="mb-1 text-white">
                    <span>{{countDataMasterPlan}}</span>
                </h5>
                <p class="text mb-0 text-white">Total Data Master Plan</p>
            </div>
        </div>
    </div>

    <div class="col col-12 col-md-6 col-lg-3">
        <div class="card rounded">
            <div class="card-body" style="background-image:url('/assets/images/dashboard1.png'); background-size: cover;">
                <h5 class="mb-1 text-white">
                    <span>{{ countDataAllAutonomous }}</span>
                </h5>
                <p class="text mb-0 text-white">Total Data Autonomous Maintenance</p>
            </div>
        </div>
    </div>

    <div class="col col-12 col-md-6 col-lg-3">
        <div class="card rounded">
            <div class="card-body" style="background-image:url('/assets/images/dashboard1.png'); background-size: cover;">
                <h5 class="mb-1 text-white">
                    <span>{{countDataScheduleWeekly}}</span>
                </h5>
                <p class="text mb-0 text-white">Total Data Schedule Weekly Care</p>
            </div>
        </div>
    </div>

    <div class="col col-12 col-md-6 col-lg-3">
        <div class="card rounded">
            <div class="card-body" style="background-image:url('/assets/images/dashboard1.png'); background-size: cover;">
                <h5 class="mb-1 text-white">
                    <span>{{countFindingsFailureMachine}}</span>
                </h5>
                <p class="text mb-0 text-white">Total Data Machine Failure Findings</p>
            </div>
        </div>
    </div>

    <div class="col-xxl-6 col-lg-6">
        <div class="card card-height-50" style="width: 39.5rem;" id="schedule_maintenance">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Schedule Maintenance</h4>
                <button (click)="exportScheduleMaintenanceToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown" ngbDropdown>
                        <!-- <a class="dropdown-btn text-muted arrow-none" href="javascript:void(0);"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            All Time <i class="mdi mdi-chevron-down ms-1"></i>
                        </a> -->
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('all')">All
                                Time</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('7')">Last 7
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('30')">Last 30
                                Days</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="setstatusvalue('90')">Last 90
                                Days</a>
                        </div>
                    </div>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <apx-chart *ngIf="status7" class="apex-charts" dir="ltr" [series]="status7.series" [labels]="status7.labels"
                    [chart]="status7.chart" [plotOptions]="status7.plotOptions" [dataLabels]="status7.dataLabels"
                    [legend]="status7.legend" [stroke]="status7.stroke" [colors]="status7.colors" dir="ltr"></apx-chart>
                <div class="mt-3">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <h2 class="me-2 ff-secondary mb-0">
                            <span>{{countDataAllScheduleMaintenance}}</span>
                        </h2>
                        <div>
                            <p class="text-muted mb-0">Total Projects</p>
                            <p class="text-success fw-medium mb-0">
                                <span class="badge badge-soft-success p-1 rounded-circle"><i
                                        class="ri-arrow-right-up-line"></i></span>
                                +{{ countDataNewScheduleMaintenance }} New
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="card-title mb-3 flex-grow-1 text-center">
                                Mechanical
                            </h2>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataMechaYetToStart" class="fw-medium mb-0" (click)="openModalMechaNew(list_mecha_new)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                        Start
                                </p>
                                <p *ngIf="!dataMechaYetToStart" class="fw-medium mb-0" (click)="openModalMechaNew(list_mecha_new)" style="cursor: pointer;" title="View"><i
                                    class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                        Start
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countYetToStartMechanical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataMechaOnProgress" class="fw-medium mb-0" (click)="openModalMechaOnProgress(list_mecha_onProgress)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                                </p>
                                <p *ngIf="!dataMechaOnProgress" class="fw-medium mb-0" (click)="openModalMechaOnProgress(list_mecha_onProgress)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                            </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOnProgressMechanical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataMechaDone" class="fw-medium mb-0" (click)="openModalMechaDone(list_mecha_done)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                                </p>
                                <p *ngIf="!dataMechaDone" class="fw-medium mb-0" (click)="openModalMechaDone(list_mecha_done)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countCompletedMechanical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div *ngIf="dataMechaPending" class="d-flex justify-content-between py-2">
                                <p *ngIf="dataMechaPending" class="fw-medium mb-0" (click)="openModalMechaPending(list_mecha_pending)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Pending
                                </p>
                                <p *ngIf="!dataMechaPending" class="fw-medium mb-0" (click)="openModalMechaPending(list_mecha_pending)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Pending
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countPendingMechanical }} Projects</span>
                                </div>
                            </div><!-- end -->
                        </div>

                        <div class="col-md-6">
                            <h2 class="card-title mb-3 flex-grow-1 text-center">
                                Electrical
                            </h2>

                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataElecYetToStart" class="fw-medium mb-0" (click)="openModalElecNew(list_elec_new)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                    Start
                                </p>
                                <p *ngIf="!dataElecYetToStart" class="fw-medium mb-0" (click)="openModalElecNew(list_elec_new)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> Yet to
                                    Start
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countYetToStartElectrical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataElecOnProgress" class="fw-medium mb-0" (click)="openModalElecOnProgress(list_elec_onProgress)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                                </p>
                                <p *ngIf="!dataElecOnProgress" class="fw-medium mb-0" (click)="openModalElecOnProgress(list_elec_onProgress)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-info align-middle me-2"></i> In
                                    Progress
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countOnProgressElectrical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p *ngIf="dataElecDone" class="fw-medium mb-0" (click)="openModalElecDone(list_elec_done)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                                </p>
                                <p *ngIf="!dataElecDone" class="fw-medium mb-0" (click)="openModalElecDone(list_elec_done)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Completed
                            </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countCompletedElectrical }} Projects</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between py-2">
                                <p *ngIf="dataElecPending" class="fw-medium mb-0" (click)="openModalElecPending(list_elec_pending)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Pending
                                </p>
                                <p *ngIf="!dataElecPending" class="fw-medium mb-0" (click)="openModalElecPending(list_elec_pending)" style="cursor: pointer;" title="View"><i
                                        class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Pending
                                </p>
                                <div>
                                    <span class="text-muted pe-5">{{ countPendingElectrical }} Projects</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
        
        <div class="card rounded" style="width: 39.5rem; height: 265px;" id="autonomous_maintenance">
            <div class="card-header align-items-center d-flex">
                <h2 class="card-title mb-0 flex-grow-1">
                    Autonomous Maintenance
                </h2>
                <button (click)="exportAutonomousMaintenanceToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
            <div class="card-body"> 
                <div class="d-flex align-items-center pb-2">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                            <div class="avatar-title bg-light rounded-circle text-muted fs-12">
                                <i>Prep</i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <div class="progress animated-progress custom-progress progress-label">
                            <div class="progress-bar" style="background-color: #769FCD;" [style.width.%]="progressPreAuto" role="progressbar"
                                [attr.aria-valuenow]="progressPreAuto" aria-valuemin="0" aria-valuemax="100">
                                <div class="label" style="background-color: #769FCD;">{{ progressPreAuto }}%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center py-2 mt-3">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                            <div class="avatar-title bg-light rounded-circle text-muted fs-12">
                                <i>Fill</i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <div class="progress animated-progress custom-progress progress-label">
                            <div class="progress-bar" style="background-color: #769FCD;" [style.width.%]="progressFilAuto" role="progressbar"
                                [attr.aria-valuenow]="progressFilAuto" aria-valuemin="0" aria-valuemax="100">
                                <div class="label" style="background-color: #769FCD;">{{ progressFilAuto }}%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center py-2 mt-3">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                            <div class="avatar-title bg-light rounded-circle text-muted fs-12">
                                <i>Pack</i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <div class="progress animated-progress custom-progress progress-label">
                            <div class="progress-bar" style="background-color: #769FCD;" [style.width.%]="progressPacAuto" role="progressbar"
                                [attr.aria-valuenow]="progressPacAuto" aria-valuemin="0" aria-valuemax="100">
                                <div class="label" style="background-color: #769FCD;">{{ progressPacAuto }}%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-6">
        <div class="card rounded" id="weekly_care">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1" >Weekly Care</h4>
                <button (click)="exportWeeklyCareToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                    <i class="ri-download-2-fill"></i></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="card-title mb-3 flex-grow-1 text-center">
                            Machine Failure Findings
                        </h2>
                        <apx-chart *ngIf="simplePieChart" [series]="simplePieChart.series" [chart]="simplePieChart.chart"
                            [labels]="simplePieChart.labels" [legend]="simplePieChart.legend"
                            [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive"
                            [colors]="simplePieChart.colors" dir="ltr"></apx-chart>
                    </div>

                    <div class="col-md-6">
                                <h2 class="card-title mb-3 flex-grow-1 text-center">
                                    Progress Schedule Weekly Care
                                </h2>
                                <div style="margin-top: -15px;">
                                    <apx-chart *ngIf="multipleRadialbarChart" [series]="multipleRadialbarChart.series"
                                        [chart]="multipleRadialbarChart.chart"
                                        [plotOptions]="multipleRadialbarChart.plotOptions"
                                        [labels]="multipleRadialbarChart.labels" [colors]="multipleRadialbarChart.colors"
                                        dir="ltr"></apx-chart>
                                </div>
                    </div><!-- end card -->
                </div>
            </div>
        </div>

            <div class="card" id="most_diligent">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Most Diligent PIC</h4>
                    <button (click)="exportPicToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                        <i class="ri-download-2-fill"></i></button>
                    <div class="flex-shrink-0" style="margin-left: 10px;">
                        <div class="dropdown card-header-dropdown" ngbDropdown>
                            <a class="dropdown-btn text-muted arrow-none" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                Categories <i class="mdi mdi-chevron-down ms-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('all-pic')">All Categories</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('master-plan')">Master Plan</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('autonomous')">Autonomous Maintenance</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('schedule-weekly')">Schedule Weekly</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('finding-weekly')">Finding Weekly Care</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="setPicValue('schedule-maintenance')">Schedule Maintenance</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <apx-chart *ngIf="StackedColumnChart" [series]="StackedColumnChart.series" [chart]="StackedColumnChart.chart"
                    [dataLabels]="StackedColumnChart.dataLabels" [plotOptions]="StackedColumnChart.plotOptions"
                    [responsive]="StackedColumnChart.responsive" [xaxis]="StackedColumnChart.xaxis"
                    [legend]="StackedColumnChart.legend" [fill]="StackedColumnChart.fill" [colors]="StackedColumnChart.colors" dir="ltr"></apx-chart>
                  </div>
            </div>
        </div>
    </div>

    <div class="card rounded" id="master_plan">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Master Plan</h4>
            <button (click)="exportMasterPlanToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                <i class="ri-download-2-fill"></i></button>
        </div><!-- end card header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                        <h2 class="card-title mb-3 flex-grow-1 text-center">
                            Progress Preparation
                        </h2>
                        <apx-chart *ngIf="preparationMasterChart" [series]="preparationMasterChart.series"
                                    [chart]="preparationMasterChart.chart"
                                    [plotOptions]="preparationMasterChart.plotOptions"
                                    [labels]="preparationMasterChart.labels" [colors]="preparationMasterChart.colors"
                                    dir="ltr"></apx-chart>
                </div>
    
                <div class="col-md-4">      
                        <h2 class="card-title mb-3 flex-grow-1 text-center">
                            Progress Filling
                        </h2>
                        <apx-chart *ngIf="fillingMasterChart" [series]="fillingMasterChart.series"
                                    [chart]="fillingMasterChart.chart"
                                    [plotOptions]="fillingMasterChart.plotOptions"
                                    [labels]="fillingMasterChart.labels" [colors]="fillingMasterChart.colors"
                                    dir="ltr"></apx-chart>
                </div>
    
                <div class="col-md-4">
                    
                        <h2 class="card-title mb-3 flex-grow-1 text-center">
                            Progress Packing
                        </h2>
                        <apx-chart *ngIf="packingMasterChart" [series]="packingMasterChart.series"
                                    [chart]="packingMasterChart.chart"
                                    [plotOptions]="packingMasterChart.plotOptions"
                                    [labels]="packingMasterChart.labels" [colors]="packingMasterChart.colors"
                                    dir="ltr"></apx-chart>
           
                </div>
            </div><!-- end row -->
        </div><!-- end card-body -->
    </div><!-- end card -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card" id="improvement">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Improvement</h4>
                    <button (click)="exportImprovementToPNG()" [ngClass]="{'hidden-print': exporting}" type="button" class="btn btn-light btn-icon waves-effect" title="Export PNG">
                        <i class="ri-download-2-fill"></i></button>
                </div>
                    <div class="card-body">
                        <div>
                            <div class="table-responsive">
                                <table class="table table-gridjs">
                                    <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>Task</th>
                                            <th>Owner</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Notes</th>
                                          </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr *ngFor="let task of dataForCurrentPage; let i = index">
                                            <td class="text-center">{{ i + 1 }}</td>
                                            <td style="vertical-align: middle; width: 15rem;">{{ task.task }}</td>
                                            <td style="vertical-align: middle; text-align: center; width: 17rem;">{{ task.owner }}</td>
                                            <td style="vertical-align: middle; text-align: center;">{{ task.due_date | date:'dd MMMM yyyy' }}</td>
                                            <td style="vertical-align: middle; text-align: center;">
                                              <span
                                                class="badge badge-custom text-bg-{{ getStatusLabelClass(task.id_status) }}">{{ getStatusLabel(task.id_status) }}</span>
                                            </td>
                                            <td style="vertical-align: middle; text-align: center;">
                                              <span *ngIf="task.id_status!= 3"
                                                class="badge badge-custom2 text-bg-{{ getPriorityLabelClass(task.id_priority) }}">{{ getPriorityLabel(task.id_priority) }}</span>
                                            </td>
                                            <td style="vertical-align: middle; text-align: center;">{{ task.notes }}</td>
                                          </tr>
                                          <tr *ngIf="dataForCurrentPage?.length == 0">
                                            <td colspan="7" class="text-center">No data available</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-md-between align-items-md-center">
                                <div class="pagination justify-content-end">
                                    <ngb-pagination [collectionSize]="totalImprovement" [(page)]="currentPage" [pageSize]="itemsPerPage" 
                                    [maxSize]="3" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"
                                    ></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <ng-template #list_mecha_new let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Yet to Start</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataMechaYetToStart; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataMechaYetToStart?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_mecha_onProgress let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task On Progress</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataMechaOnProgress; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataMechaOnProgress?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_mecha_done let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Completed</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataMechaDone; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataMechaDone?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_mecha_pending let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Pending</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataMechaPending; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataMechaPending?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_elec_new let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Yet to Start</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataElecYetToStart; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataElecYetToStart?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_elec_onProgress let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task On Progress</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataElecOnProgress; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataElecOnProgress?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_elec_done let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Completed</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataElecDone; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataElecDone?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>

      <ng-template #list_elec_pending let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Task Pending</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <table class="table table-bordered" id="materialInput">
            <thead class="header custom-header">
                <tr class="text-center">
                    <th>No</th>
                    <th>Function Location</th>
                    <th>Operation Task</th>
                    <th>Pic</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataElecPending; let i = index">
                    <td style="vertical-align: middle; text-align: center;">{{ i + 1 }}</td>
                    <td style="vertical-align: middle;">{{item.function_location}}</td>
                    <td style="vertical-align: middle;">{{item.operation_task}}</td>
                    <td style="vertical-align: middle;">{{item.pic}}</td>
                    <td style="text-align: center;">{{ item.date | date:'dd MMMM yyyy' }}</td>                                   
                </tr>
                <tr *ngIf="dataElecPending?.length == 0">
                    <td colspan="12" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
      </ng-template>
    