.card-auto{
    height: 200px;
}
.cursor-pointer {
    cursor: pointer;
}
.badge-custom {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
  }