<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="col-md-12" >
                    <button class="btn btn-primary btn-sm float-start mb-3"
                        (click)="addSubTask()">+ Add</button>
                </div>
                <form>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Subtask</th>
                                    <th>Status</th>
                                    <th>Due Date</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of subtask; let i = index">
                                    <td><input type="text" class="form-control" name="subtask-{{i}}"
                                        [(ngModel)]="item.subtask"></td>
                                    <td style="vertical-align: middle;">
                                        <div>
                                            <select class="form-control"
                                                name="id_status-{{i}}" [(ngModel)]="item.id_status">
                                                <option value="" disabled selected>Select status</option>
                                                <option *ngFor="let status of statusData" [value]="status.id_status">
                                                    {{ status.status }}
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input type="date" class="form-control" name="due_date-{{i}}" 
                                        [(ngModel)]="item.due_date"></td>
                                    <td><input type="date" class="form-control" name="start_date-{{i}}"
                                        [(ngModel)]="item.start_date"></td>
                                    <td><input type="date" class="form-control" name="end_date-{{i}}"
                                        [(ngModel)]="item.end_date"></td>
                                    <td><input type="text" class="form-control" name="notes-{{i}}"
                                        [(ngModel)]="item.notes"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success me-2"
                                style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                        </div>
                    </div>
                    <!--end col-->
                </form>
            </div>
        </div>
    </div>
</div>
