<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
          <div class="row g-4 mb-3">
            <div class="col-sm-auto">
              <div class="flex-shrink-0">
                <button style="margin-right: 10px;" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" id="create-btn"
                  data-bs-target="#showModal" *ngIf="isEmployee || isSpv || isAdmin" (click)="openModal(content)">
                  Add Data
                </button>
                    <a style="margin-right: 10px;" class="btn btn-success btn-sm" (click)="ModalReset(contentLot)" ><i
                      class=" ri-inbox-archive-line align-bottom me-1"></i> Upload Report
                    </a>
                <button style="margin-right: 10px;" type="button" class="btn btn-danger btn-sm" (click)="onBack()">
                Back
              </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs">
              <thead>
                <tr class="text-center">
                  <th>No</th>
                  <th>Shift Leader</th>
                  <th>Lot Number</th>
                  <th>Production Hours</th>
                  <th>Start</th>
                  <th>Finish</th>
                  <th>Remark</th>
                  <th *ngIf="isAdmin || isSpv">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of fiterReportDaily; let i = index" id="lj_{{data.id}}">
                  <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                  <td scope="row" class="text-center">{{ i + 1 }}</td>
                  <td>
                    <ngb-highlight [result]="data.shift_leader"></ngb-highlight>
                  </td>
                  <td class="text-center">
                    <ngb-highlight [result]="data.lot_number"></ngb-highlight>
                  </td>
                  <td class="text-center">
                    <ngb-highlight [result]="data.production_hours"></ngb-highlight>
                  </td>
                  <td class="text-center">{{data.start.slice(0, 5)}}</td>
                  <td class="text-center">{{data.finish.slice(0, 5)}}</td>
                  <td>
                    <ngb-highlight [result]="data.remark"></ngb-highlight>
                  </td>
                  <td *ngIf="isAdmin || isSpv">
                    <div class="edit d-print-none text-center">
                      <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" title="Edit"
                        data-bs-target="#showModal" (click)="editModal(contentEdit,data)"><i
                          class="ri-edit-line align-middle"></i></button>
                    </div>
                  </td>
                </ng-container>
                </tr>
                <tr *ngIf="fiterReportDaily?.length == 0">
                  <td colspan="8" class="text-center">No data available.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center d-print-none">
            <!-- <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    {{ getShowingText() }} of {{ totalRecords }} entries
                </div>
            </div> -->
                <div class="pagination justify-content-end">
                    <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                        [maxSize]="3" [ellipses]="false"></ngb-pagination>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Add Daily Report</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="dailyReportForm" class="tablelist-form" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-2">
          <label for="id-field" class="form-label">Lot Number</label>
          <input type="text" class="form-control" id="lot_number" placeholder="Enter Lot Number"
            formControlName="lot_number">
        </div>
        <div class="col-12">
          <label for="id-field" class="form-label">Shift Leader</label>
          <select class="form-select mb-2" aria-label="Default select example" formControlName="id_shift_leaders">
            <option *ngFor="let data of userRole" [value]="data.id">{{data.name}}</option>
          </select>
        </div>
        <div class="col-6">
          <div class="text-center">
            <label for="id-field" class="form-label">Start Time</label>
            <input type="time" class="form-control" formControlName="start" (ngModelChange)="insertCalculateProductionHours()">
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="text-center">
            <label for="id-field" class="form-label">End Time</label>
            <input type="time" class="form-control" formControlName="finish" (ngModelChange)="insertCalculateProductionHours()">
          </div>
        </div>
        <div class="col-12">
          <label for="id-field" class="form-label">Remark</label>
          <textarea type="number" class="form-control" id="remark" placeholder="Enter Remark"
            formControlName="remark"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="submit" (click)="onSubmit()" class="btn btn-success" id="add-btn">Submit</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Edit Daily Report</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="editDailyReportForm" class="tablelist-form" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-2">
          <label for="id-field" class="form-label">Lot Number</label>
          <input type="text" class="form-control" id="lot_number" placeholder="Enter Lot Number"
            formControlName="lot_number">
        </div>
        <div class="col-12">
          <label for="id-field" class="form-label">Shift Leader</label>
          <select class="form-select mb-2" aria-label="Default select example" formControlName="id_shift_leaders">
            <option *ngFor="let data of userRole" [value]="data.id">{{data.name}}</option>
          </select>
        </div>
        <div class="col-6">
          <div class="text-center">
            <label for="id-field" class="form-label">Start Time</label>
            <input type="time" class="form-control" formControlName="start" (ngModelChange)="updateCalculateProductionHours()">
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="text-center">
            <label for="id-field" class="form-label">End Time</label>
            <input type="time" class="form-control" formControlName="finish" (ngModelChange)="updateCalculateProductionHours()">
          </div>
        </div>
        <div class="col-12">
          <label for="id-field" class="form-label">Remark</label>
          <textarea type="number" class="form-control" id="placeholderInput" placeholder="Enter remark"
            formControlName="remark">
          </textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="submit"  class="btn btn-success" (click)="onUpdate()" id="add-btn">Update</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- Modal Lot Number-->
<ng-template #contentLot role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="ReportFormReset" class="tablelist-form" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <label>Title</label>
          <input type="text" class="form-control" id="placeholderInput" [(ngModel)]="dataTitle" formControlName="title" placeholder="Enter Title">
        </div>
        <div class="col-12 mt-2">
          <label>Total Finish Good</label>
          <input type="text" class="form-control" id="placeholderInput" [(ngModel)]="dataTotalFinishGood" formControlName="total_finish_good" placeholder="Enter Total Finish Good">
        </div>
        <div class="col-12 mt-2">
          <label>Reject</label>
          <input type="text" class="form-control" id="placeholderInput" [(ngModel)]="dataReject" formControlName="reject" placeholder="Enter Reject">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="submit" (click)="onReset()" class="btn btn-success" id="add-btn">Submit</button>
      </div>
    </div>
  </form>
</ng-template>