<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div style="margin-right: 10px;">
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0" *ngIf="!isEmployee">
                      <button class="btn btn-primary btn-sm" style="margin-right: 10px;"
                        (click)="openModal(content)">Add Data</button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                    <div class="table-responsive">
                        <table class="table table-gridjs">
                            <thead>
                                <tr class="text-center">
                                    <th> No </th>
                                    <th> Nama Barang </th>
                                    <th> Sisa </th>
                                    <th> Status </th>
                                    <th> Action </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                    <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td>{{data.nama_barang}}</td>
                                        <td class="text-center">{{data.jumlah}}</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(data.id_status) }}">{{ getStatusLabel(data.id_status) }}</span>
                                        </td>  
                                        <td class="text-center">
                                            <div class="dropdown item" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                    ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <li><a class="dropdown-item" (click)="onTransaction(data.id_stock)">Transaction</a></li>
                                                    <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="openEditModal(editContent, data, data.id_stock)">Edit Data</a></li>
                                                    <li><a *ngIf="!isEmployee" class="dropdown-item" (click)="onDelete(data.id_stock)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                            <div class="pagination justify-content-end">
                                <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                    [maxSize]="3" [ellipses]="false"></ngb-pagination>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Master Stock</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Nama Barang </label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Kode Barang"
                        [(ngModel)]="newMasterStock.nama_barang">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" (click)="onSubmit()" id="add-btn">Submit</button>
            </div>
        </div>
    </ng-template>

    <ng-template #editContent let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Edit Master Stock</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="placeholderInput" class="form-label"> Nama Barang </label>
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Enter Kode Barang"
                        [(ngModel)]="newMasterStock.nama_barang">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" (click)="onUpdate()" id="add-btn">Update</button>
            </div>
        </div>
    </ng-template>
