.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}
.data{
    width: 50px;
    height: 30px;
    background-color: #f3f3f9;
    border: none;
}
.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}
.badge {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
/* Style untuk container */
.year-filter {
    margin-right: 10px;
}

/* Style untuk select dropdown */
.year-filter select {
    width: 100px; /* Sesuaikan lebar dengan kebutuhan */
    padding: 5px 8px; /* Sesuaikan ukuran padding dengan kebutuhan */
    font-size: 12px; /* Sesuaikan ukuran font dengan kebutuhan */
    border: 1px solid #ccc; /* Sesuaikan border dengan kebutuhan */
    border-radius: 5px; /* Sesuaikan border-radius dengan kebutuhan */
    outline: none; /* Hapus outline untuk tampilan yang lebih bersih */
    appearance: none; /* Hapus default arrow di select dropdown */
    background-color: #f3f3f9; /* Sesuaikan warna latar belakang dengan kebutuhan */
}

/* Style untuk option dalam dropdown */
.year-filter select option {
    padding: 8px 12px; /* Sesuaikan ukuran padding dengan kebutuhan */
}

/* Style untuk saat option dipilih */
.year-filter select option:checked {
    background-color: #f3f3f9 /* Sesuaikan warna latar belakang dengan kebutuhan */
}