<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="customerList">
                    <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <div class="flex-shrink-0">
                          <button class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                          (click)="addData()">Add Data</button>
                        </div>
                        <div class="year-filter" style="margin-right: 10px;">
                            <select class="form-control" name="year" id="year" required (change)="onYearChange($event)">
                                <option value="" disabled selected>Select Year</option>
                                <option *ngFor="let year of dataYear" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                        <div class="search-box">
                            <input type="text" class="form-control search" placeholder="Search..."
                                [(ngModel)]="searchTerm" (input)="onSearch()" />
                            <i class="ri-search-line search-icon"></i>
                        </div>
                      </div>
                    <div class="table-responsive">
                        <table class="table table-gridjs">
                            <thead>
                                <tr class="bg-light text-muted text-center">
                                    <th scope="col" class="text-center">
                                        No
                                    </th>
                                    <th> Month </th>
                                    <th> Line Performance </th>
                                    <th> Material Yield </th>
                                    <th> Red Area </th>
                                    <th> Issue </th>
                                    <th> Next Plan </th>
                                    <th> Other </th>
                                    <th> Status </th>
                                    <th> Action </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let data of filterResume; let i = index" id="lj_{{data.id}}">
                                    <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td class="text-center">
                                            <div [innerHTML]="data.month"></div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFilePerformance(data.img_performance)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxPerformance(getImgFilePerformance(data.img_performance))">
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFileMaterial(data.img_material_yield)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxMaterial(getImgFileMaterial(data.img_material_yield))">
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFileRedArea(data.img_red_area)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxRedArea(getImgFileRedArea(data.img_red_area))">
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFileIssue(data.img_issue)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxIssue(getImgFileIssue(data.img_issue))">
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFileNextPlan(data.img_next_plan)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxNextPlan(getImgFileNextPlan(data.img_next_plan))">
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="card1" style="display: inline-block; text-align: center;">
                                                <img [src]="getImgFileOther(data.img_other)" alt=""
                                                style="max-width: 100%; max-height: 100px; object-fit: contain;"
                                                (click)="openLightboxOther(getImgFileOther(data.img_other))">
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <span class="badge badge-custom text-bg-{{ getStatusLabelClass(data.id_status) }}">{{ getStatusLabel(data.id_status) }}</span>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="dropdown" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button"
                                                    id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                                    aria-expanded="false" ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                    <!-- <li><a class="dropdown-item"
                                                            (click)="getByIdResume(data.id_resume)">View</a></li> -->
                                                    <li><a *ngIf="!isEmployee" class="dropdown-item"
                                                            (click)="onDone(data.id_resume)">Done</a></li>
                                                    <li><a class="dropdown-item"
                                                            (click)="editData(data.id_resume)">Edit</a></li>
                                                    <li><a *ngIf="!isEmployee" class="dropdown-item"
                                                            (click)="confirm(data.id_resume)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="filterResume?.length == 0">
                                    <td colspan="10" class="text-center">No data available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center d-print-none">
                        <!-- <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                {{ getShowingText() }} of {{ totalRecords }} entries
                            </div>
                        </div>
                        <div class="col col-sm-6"> -->
                            <div class="pagination justify-content-end">
                                <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [ellipses]="false"></ngb-pagination>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>