<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float align-items-center mb-3">
                    <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="addData()">
                        Add Data
                    </button>
                    <div class="search-box " style="display: inline-block;">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"
                            (input)="search()">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr>
                                <th *ngFor="let col of tableColumns" scope="col">{{ col }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataForCurrentPage; let i = index">
                                <td style="vertical-align: top; text-align: center;">{{ i + 1 }}</td>
                                <td class="justify-content-center" style="text-align: center;">
                                    <div class="card1" style="display: inline-block;">
                                        <img [src]="getImgFilePhoto(item.photo)" alt=""
                                            style="max-width: 100%; height: auto; object-fit: contain;">
                                    </div>
                                </td>
                                <td style="vertical-align: top; text-align: center;">
                                    {{ item.nik }}
                                </td>
                                <td style="vertical-align: top;">
                                    <div>{{ item.name }}<br></div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div>{{ (item.detail) }}<br></div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div>{{ item.email }}<br></div>
                                </td>
                                <td class="text-center">
                                    <div class="dropdown" ngbDropdown>
                                        <a href="javascript:void(0);" class="arrow-none" role="button"
                                            id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                            ngbDropdownToggle>
                                            <i class="ri-more-2-fill"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1"
                                            ngbDropdownMenu>
                                            <li><a class="dropdown-item" (click)="onEdit(item.id)">Edit Data</a></li>
                                            <li><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-end">
                    <ngb-pagination
                      [collectionSize]="dataUser.length"
                      [maxSize]="3" [rotate]="true" [ellipses]="false" 
                      [(page)]="currentPage"
                      [pageSize]="itemsPerPage"
                      (pageChange)="onPageChange($event)"
                    ></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>