th {
    font-weight: bold;
    text-align: center;
}
.card1 {
    width: 120px;
    vertical-align: middle;
    align-items: center;
}
.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}
.btn-sm{
    height: 30px;
}
