<div class="back-button" style="margin-top: -40px; margin-left: -50px;">
    <button (click)="goBack()" class="custom-back-button rounded-circle">
      <i class="bi bi-arrow-left"></i>
    </button>
</div>

<div class="container" *ngIf="isCanCategory()">
    <div class="row justify-content-center mt-3">
        <div class="col">
            <a (click)="onCanProdClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/production.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a (click)="onCanMaintClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/maintenance.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/other-menu">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/hcd.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/other-menu">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/ykk.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container" *ngIf="isPetCategory()">
    <div class="row justify-content-center mt-3">
        <div class="col">
            <a (click)="onPetProdClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/production.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a (click)="onPetMaintClick()">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/maintenance.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/other-menu">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/hcd.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/other-menu">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('/assets/images/ykk.jpg'); background-size: cover;">
                </div>
            </a>
        </div>
    </div>
</div>