<div>
    <p class="title">Action Plan</p>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="col-md-12" >
                    <button class="btn btn-primary btn-sm float-start mb-3"
                        (click)="addData()">+ Add</button>
                </div>
                <form>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Pic</th>
                                    <th>Due Date</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of actionplan; let i = index">
                                    <td style="width: 4.3rem;"><input type="text" class="form-control text-center" name="no-{{i}}"
                                        [(ngModel)]="item.no"></td>
                                    <td><input type="text" class="form-control" name="description-{{i}}"
                                        [(ngModel)]="item.description"></td>
                                    <td><select class="form-control" name="pic-{{i}}" required [(ngModel)]="item.id_pic">
                                        <option value="" disabled selected>Select Pic</option>
                                        <option *ngFor="let pic of userRoleByLine" [value]="pic.id">{{ pic.name }}</option>
                                        </select></td>
                                    <td><input type="date" class="form-control" name="due_date-{{i}}" 
                                        [(ngModel)]="item.due_date"></td>
                                    <td><input type="text" class="form-control" name="remark-{{i}}"
                                        [(ngModel)]="item.remark"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success me-2"
                                style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
