.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}
.data{
    width: 50px;
    height: 30px;
    background-color: #f3f3f9;
    border: none;
}
.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}
.badge {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}