<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="funlocInput" class="form-label">Pic</label>
                            <div>
                                <ng-select
                                [items]="picEmployee"
                                bindLabel="name" 
                                bindValue="id"   
                                [(ngModel)]="newSubInvestigasiDetail.id_pic"
                                name="picInput"
                                placeholder="Select PIC">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputDate" class="form-label">Due Date</label>
                            <input type="date" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.due_date" name="due_date"
                                id="ForminputDate">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="analisa_penyebab" class="form-label">Analisa Penyebab</label>
                            <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.analisa_penyebab"
                                name="analisa_penyebab" id="analisa_penyebab"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="akibat" class="form-label">Akibat Yang Ditimbulkan</label>
                            <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.akibat"
                                name="akibat" id="akibat"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="hasil_inspeksi" class="form-label">Hasil Inspeksi</label>
                            <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.hasil_inspeksi"
                                name="hasil_inspeksi" id="hasil_inspeksi"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="currection_action" class="form-label">Corrective Action</label>
                            <textarea type="text" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.currection_action"
                                name="currection_action" id="currection_action"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="preventive_action" class="form-label">Preventive Action</label>
                            <textarea type="tel" class="form-control" rows="5" [(ngModel)]="newSubInvestigasiDetail.preventive_action" name="preventive_action"
                                id="preventive_action"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="upload_img" class="form-label">Upload Image</label>
                            <dropzone [config]="dropzoneConfig" (success)="onUploadImg($event)"
                                class="dropzone_sec"></dropzone>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onAddData()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>