<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form [formGroup]="update">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Project Name"
                                        id="project_name" formControlName="project_name">
                                </div>
                                    <div class="mb-3">
                                        <ng-select [items]="username" [multiple]="true" formControlName="participants"
                                            placeholder="Participants" bindLabel="name" bindValue="name" groupBy="detail">
                                            <ng-template ng-optgroup-tmp let-item="item">
                                                {{item.detail || 'Unnamed group'}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                    <input class="form-control flatpickr-input form-control-solid mb-3" type="date"
                                        mwlFlatpickr data-provider="flatpickr" data-date-format="d M, Y"
                                        [altInput]="true" [convertModelValue]="true" id="date" formControlName="date"
                                        placeholder="Date">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Enter Place"
                                            id="place" formControlName="place">
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div *ngIf="!isEditingProblem; else editProblem">
                                        <button (click)="startEditingProblem()" class="btn btn-primary mt-2">Edit Img Rakom MOM</button>
                                    </div>
                                    <ng-template #editProblem>
                                        <dropzone [config]="dropzoneConfig" (success)="onUploadImgRakorMOM($event)" class="dropzone_sec">
                                        </dropzone>
                                        <button (click)="cancelEditingProblem()" class="btn btn-secondary mt-2">Cancel</button>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="border-top border-top-dashed mt-3">
                                    <textarea class="form-control" id="points_discussed" rows="5" placeholder="Enter your Action Plan"
                                    formControlName="points_discussed"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success"
                                        (click)="onUpdate()">Update</button>
                                    <button style="margin-left: 10px;" type="submit" class="btn btn-danger"
                                        (click)="goBack()">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p class="title">Action Plan</p>
</div>

<div>
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="col-md-12" >
                    <button class="btn btn-primary btn-sm float-start mb-3"
                        (click)="addDataActionPlan()">+ Add</button>
                </div>
                <form>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Pic</th>
                                    <th>Due Date</th>
                                    <th>Remark</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of actionplan; let i = index">
                                    <td class="text-center" style="width: 4.3rem; vertical-align: middle;">
                                        {{ i + 1 }}
                                    </td>
                                    <td><input type="text" class="form-control" name="description-{{i}}"
                                        [(ngModel)]="item.description"></td>
                                    <td><select class="form-control" name="pic-{{i}}" required [(ngModel)]="item.id_pic">
                                        <option value="" disabled selected>Select Pic</option>
                                        <option *ngFor="let pic of userRoleByLine" [value]="pic.id">{{ pic.name }}</option>
                                        </select></td>
                                    <td><input type="date" class="form-control" name="due_date-{{i}}" 
                                        [(ngModel)]="item.due_date"></td>
                                    <td><input type="text" class="form-control" name="remark-{{i}}"
                                        [(ngModel)]="item.remark"></td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <button class="btn btn-danger btn-sm" (click)="onDeleteActionPlan(item.id_action_plan)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <p class="title">Next Plan</p>
</div>

<div>
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <div class="col-md-12" >
                    <button class="btn btn-primary btn-sm float-start mb-3"
                        (click)="addDataNextPlan()">+ Add</button>
                </div>
                <form>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>No</th>
                                    <th>Task</th>
                                    <th>Pic</th>
                                    <th>Due Date</th>
                                    <th>Actual</th>
                                    <th>Remark</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of nextplan; let i = index">
                                    <td class="text-center" style="width: 4.3rem; vertical-align: middle;">
                                        {{ i + 1 }}
                                    </td>
                                    <td><input type="text" class="form-control" name="task-{{i}}"
                                        [(ngModel)]="item.task"></td>
                                    <td><select class="form-control" name="pic-{{i}}" required [(ngModel)]="item.id_pic">
                                        <option value="" disabled selected>Select Pic</option>
                                        <option *ngFor="let pic of userRoleByLine" [value]="pic.id">{{ pic.name }}</option>
                                        </select></td>
                                    <td><input type="date" class="form-control" name="due_date-{{i}}" 
                                        [(ngModel)]="item.due_date"></td>
                                    <td><input type="text" class="form-control" name="actual-{{i}}"
                                        [(ngModel)]="item.actual"></td>
                                    <td><input type="text" class="form-control" name="remark-{{i}}"
                                        [(ngModel)]="item.remark"></td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <button class="btn btn-danger btn-sm" (click)="onDeleteNextPlan(item.id_next_plan)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <!-- <button type="submit" class="btn btn-success me-2"
                                style="margin-right: 8px;" (click)="onSubmit()">Submit</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
