<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>
        <button type="button" class="Close" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Function Location</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.function_location" readonly>
        </div>
        <div class="form-group">
          <label>Equipment (IH01)</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.equipment" readonly>
        </div>
        <div class="form-group">
          <label>Operation Task</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.operation_task" readonly>
        </textarea>
        </div>
        <div class="form-group">
          <label>Description Material</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.description_material" readonly>
          </textarea>
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" [value]="convertDate(activityData.date)" readonly>
        </div>
        <div class="form-group">
          <label>PIC</label>
          <input type="text" class="form-control" [(ngModel)]="activityData.pic" readonly>
        </div>
        <div class="form-group">
          <label>QTY</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.qty" readonly>
          </textarea>
        </div>
        <div class="form-group">
          <label>Status Part</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.status_part" readonly>
          </textarea>
        </div>
        <div class="form-group">
          <label>Category</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.category_activity" readonly>
           </textarea>
        </div>
        <div class="form-group">
          <label>Work Center</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.work_center" readonly>
            </textarea>
        </div>
        <div class="form-group">
          <label>Duration (Hour)</label>
          <textarea class="form-control" rows="4" [(ngModel)]="activityData.duration" readonly>
          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isAdmin || isSpv"
        type="button" class="btn btn-success" (click)="onDone(activityData.id_activity_group)">Done</button>
        <button type="button" class="btn btn-success" (click)="onApprove(activityData.id_activity_group)">Approve</button>
      </div>
    </div>
  </div>
</div>
