<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Monthly Pending Job" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="flex-shrink-0" style="margin-bottom: 15px; display: flex; align-items: center;">
                    <div>
                        <select class="data rounded-3" id="pageSizeDropdown" [(ngModel)]="pageSize"
                            (change)="onPageSizeChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="flex-shrink-0">
                      <button class="btn btn-primary btn-sm" style="margin-right: 10px; margin-left: 10px;"
                      (click)="AddActivity()">Add Data</button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="searchTerm" (input)="onSearch()" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>

                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr class="bg-light text-muted text-center">
                                <th scope="col" class="text-center">
                                    No
                                </th>
                                <th> PIC </th>
                                <th> Issue </th>
                                <th> Due Date </th>
                                <th> Action Plan</th>
                                <th> Remark </th>
                                <th> Next Plan</th>
                                <th> Status </th>
                                <th class="d-print-none" *ngIf="isEmployee || isSpv">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterdata; let i = index" id="lj_{{data.id}}">
                                <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td>
                                        <ngb-highlight [result]="data.pic"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.issue"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.start_date; else showDueStartOnly">
                                            {{ formatDate(data.start_date) }} - <br>
                                            {{ formatDate(data.end_date) }}
                                        </ng-container>
                                        <ng-template #showDueStartOnly>
                                            {{ formatDate(data.start_date) }}
                                        </ng-template>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.action_plan; else notFound">
                                            <ngb-highlight [result]="data.action_plan"></ngb-highlight>
                                        </ng-container>
                                        <ng-template #notFound>
                                            Not Found
                                        </ng-template>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.remark; else notFound">
                                            <ngb-highlight [result]="data.remark"></ngb-highlight>
                                        </ng-container>
                                        <ng-template #notFound>
                                            Not Found
                                        </ng-template>
                                    </td>

                                    <td>
                                        <ng-container *ngIf="data.next_plan; else notFound">
                                            <ngb-highlight [result]="data.next_plan"></ngb-highlight>
                                        </ng-container>
                                        <ng-template #notFound>
                                            Not Found
                                        </ng-template>
                                    </td>
                                    <td class="text-center" style="vertical-align: middle;" [ngSwitch]="data.status">
                                        <span *ngSwitchCase="'onprogress'" class="text-success">
                                            <span class="badge bg-info">On Progress</span>
                                        </span>
                                        <span *ngSwitchCase="'planning'" class="text-primary">
                                            <span class="badge bg-success">Planning</span>
                                        </span>
                                        <span *ngSwitchCase="'pending'" class="text-danger">
                                            <span class="badge bg-danger">Pending</span>
                                        </span>
                                        <span *ngSwitchDefault class="text-warning">
                                            <span class="badge bg-secondary">Done</span>
                                        </span>
                                    </td>

                                    <td *ngIf="isEmployee || isSpv">
                                        <div class="edit d-print-none">
                                            <button type="button" class="btn btn-primary edit-item-btn"
                                                data-bs-toggle="modal" (click)="getByIdFollow(data.id_followup)"
                                                data-bs-target="#showModal"><i
                                                    class="ri-edit-line align-bottom me-1"></i>
                                                Improvment</button>
                                                <button type="button" class="btn w-sm btn-danger" style="margin-left: 15px;"
                                                id="delete-product" (click)="confirm(data.id_activity)">
                                                Delete
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="filterdata?.length == 0">
                                <td colspan="10" class="text-center">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <!-- <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ getShowingText() }} of {{ totalRecords }} entries
                        </div>
                    </div>
                    <div class="col col-sm-6"> -->
                        <div class="pagination justify-content-end">
                            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                                [maxSize]="3" [ellipses]="false"></ngb-pagination>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>