<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Inventory Add" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col col-10 text-center">
        <div class="card text-center">
            <div class="card-body">
                <form [formGroup]="stockadd">
                    <div class="row" formArrayName="rows">
                        <ng-container *ngFor="let row of rowsFormArray.controls; let i = index">
                            <div class="row mb-3" [formGroupName]="i">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label class="form-label" *ngIf="i === 0">Kode Barang</label>
                                        <input type="text" class="form-control" placeholder="Kode Barang"
                                            formControlName="kode_barang" readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label class="form-label" *ngIf="i === 0"> Nama Barang </label>
                                        <select id="ForminputState" class="form-select" formControlName="nama_barang">
                                            <option selected disabled>Pilih Nama Barang</option>
                                            <option *ngFor="let item of masterData" [value]="item.nama_barang">
                                                {{ item.nama_barang }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="mb-3">
                                        <label class="form-label" *ngIf="i === 0"> QTY </label>
                                        <input type="number" class="form-control" placeholder="Jumlah Barang"
                                            formControlName="qty">
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary" (click)="addRow()">Tambah Baris</button>
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- ... -->

            </div>
        </div>
    </div>
</div>