<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="flex-shrink-0" style="display: flex; align-items: center;">
            <div class="flex-shrink-0">
              <button *ngIf="isAdmin || isSpv" class="btn btn-primary btn-sm" style="margin-right: 10px;"
                (click)="addData()">Add Data</button>
            </div>
            <div class="search-box" style="margin-right: 10px;">
              <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-xl-12" *ngFor="let item of dataBudgetingCan">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table table-gridjs" style="width: 150rem; table-layout: auto;">
                            <thead class="table-light">
                                <tr class="text-center">
                                    <th>
                                        {{item.year}}
                                    </th>
                                </tr>
                                <tr class="column text-center">
                                  <th *ngFor="let col of tableColumns" colspan="2" scope="col" (click)="setActiveMonth(item.year, col)" 
                                      [class.active]="isMonthActive(item.year, col)" class="pointer-cursor">{{ col }}</th>
                                </tr>
                                <tr class="text-center">
                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th>Plan</th>
                                    <th>Actual</th>

                                    <th *ngIf="isAdmin || isSpv">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td style="vertical-align: middle; width: 10rem;">{{item.januari_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.januari_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.februari_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.februari_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.maret_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.maret_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.april_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.april_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.mei_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.mei_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.juni_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.juni_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.juli_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.juli_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.agustus_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.agustus_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.september_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.september_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.oktober_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.oktober_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.november_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.november_actual | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.desember_plan | number}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">{{item.desember_actual | number}}</td>
                                    <td *ngIf="isAdmin || isSpv" style="vertical-align: middle; text-align: center; width: 10rem;">
                                        <div class="dropdown item" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button"
                                                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                                <li><a class="dropdown-item" (click)="editData(item.id)">Edit Data</a></li>
                                                <li><a class="dropdown-item" (click)="onDelete(item.id)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-container *ngFor="let month of uniqueMonths">
                      <ng-container *ngIf="activeMonths[item.year] === month">
                        <div class="table-responsive mt-3" id="table2_{{item.year}}_{{month}}">
                            <table class="table table-gridjs" style="table-layout: auto;">
                              <thead>
                                <tr>
                                    <th colspan="7" class="text-center">
                                      {{ month }}
                                    </th>
                                </tr>
                                <tr class="text-center">
                                  <th>No</th>
                                  <th>Function Location</th>
                                  <th>W1</th>
                                  <th>W2</th>
                                  <th>W3</th>
                                  <th>W4</th>
                                  <th *ngIf="isAdmin || isSpv">Details</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let detail of getDetailsForMonth(item.id, month); let i = index">
                                  <td style="vertical-align: middle; width: 3rem; text-align: center;">{{i + 1}}</td>
                                  <td style="vertical-align: middle; width: 35rem;">{{ detail.function_location }}</td>
                                  <td style="vertical-align: middle; width: 12rem; text-align: center;">{{detail.w1 | number}}</td>
                                  <td style="vertical-align: middle; width: 12rem; text-align: center;">{{detail.w2 | number}}</td>
                                  <td style="vertical-align: middle; width: 12rem; text-align: center;">{{detail.w3 | number}}</td>
                                  <td style="vertical-align: middle; width: 12rem; text-align: center;">{{detail.w4 | number}}</td>
                                  <td *ngIf="isAdmin || isSpv" class="text-center">
                                    <div class="dropdown" ngbDropdown>
                                      <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                        <i class="ri-more-2-fill"></i>
                                      </a>
                  
                                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                                        <li><a class="dropdown-item" (click)="editDetails(detail.id_budgeting)">Edit Data</a></li>
                                        <li><a class="dropdown-item" (click)="onDeleteDetail(detail.details_id)">Delete</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                <tr *ngIf="getDetailsForMonth(item.id, month).length === 0">
                                  <td colspan="7" class="text-center">No data available</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                <div class="d-none code-view">
                    <div class="language-markup" style="height: 275px;">
                        <div>&lt;div class=&quot;table-responsive table-card&quot;&gt;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>