<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Daily Activity" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="col-xxl-12">
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Follow UP</h4>
        </div>

        <div class="card-body">
            <div class="live-preview">
                <form [formGroup]="followupEdit" class="row g-3" *ngIf="data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="action_plan" class="form-label">Action Plan</label>
                                <textarea class="form-control" id="action_plan" rows="3" placeholder="Enter your Action Plan" formControlName="action_plan"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="next_plan" class="form-label">Next Plan</label>
                                <textarea class="form-control" id="next_plan" rows="3" placeholder="Enter your Next Plan" formControlName="next_plan"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="border mt-3 border-dashed"></div>
                    <div>
                        <h5 class="fs-15 mb-3 text-muted">Date Formatting</h5>

                        <div class="row">
                            <!-- Kolom 1 -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="remark" class="form-label">Remark</label>
                                    <textarea class="form-control" id="remark" rows="3" placeholder="Enter your Remark" formControlName="remark"></textarea>
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="row">
                                
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="start_date" class="form-label">End Date</label>
                                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                            data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                            [convertModelValue]="true" id="start_date" formControlName="start_date"
                                            placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="end_date" class="form-label">Start Date</label>
                                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                            data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                            [convertModelValue]="true" id="end_date" formControlName="end_date"
                                            placeholder="Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="actual_start" class="form-label">Actual Start</label>
                                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                            data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                            [convertModelValue]="true" id="actual_start" formControlName="actual_start"
                                            placeholder="Date">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="actual_end" class="form-label">Actual End</label>
                                            <input class="form-control flatpickr-input form-control-solid" type="date" mwlFlatpickr
                                                data-provider="flatpickr" data-date-format="d M, Y" [altInput]="true"
                                                [convertModelValue]="true" id="actual_end" formControlName="actual_end"
                                                placeholder="Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border mt-3 border-dashed"></div>

                    <div class="text-end">
                        <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
