th {
    font-weight: bold;
    text-align: center;
}
.badge-custom {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
  }

.badge-custom2 {
    display: inline-block;
    width: 80px; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;
}

.search{
    width: 200px;
    height: 30px;
    background-color: #f3f3f9;
}

.filter{
    height: 30px;
    width: 200px;
    background-color: #f3f3f9;
}