<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="flex-shrink-0" style="display: flex; align-items: center;">
          <div class="flex-shrink-0">
            <button *ngIf="isAdmin || isSpv" class="btn btn-primary btn-sm" style="margin-right: 10px;"
              (click)="addData()">Add Data</button>
          </div>
          <div class="search-box" style="margin-right: 10px;">
            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchText"(input)="search()">
            <i class="ri-search-line search-icon"></i>
          </div>
          <div class="form-group row">
            <label for="startDate" class="col-form-label col-md-4 text-end">From:</label>
            <div class="col-md-8 d-flex align-items-center">
              <input type="date" class="form-control filter" id="startDate" [(ngModel)]="startDate" (input)="filter()">
            </div>
          </div>
          <div class="form-group row">
            <label for="endDate" class="col-form-label col-md-4 text-end">To:</label>
            <div class="col-md-8 d-flex align-items-center">
              <input type="date" class="form-control filter" id="endDate" [(ngModel)]="endDate" (input)="filter()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" *ngFor="let task of dataTaskByLine;">
    <div class="card">
      <div class="card-body">
        <div class="flex-shrink-0">
        </div>
        <div class="table-responsive">
          <table class="table table-gridjs" style="table-layout: auto;">
            <thead>
              <tr>
                <th>Task</th>
                <th>Owner</th>
                <th>Due Date</th>
                <th>Status</th>
                <th *ngIf="task.id_status!= 3">Priority</th>
                <th>Notes</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="vertical-align: middle; width: 15rem;">{{ task.task }}</td>
                <td style="vertical-align: middle; text-align: center; width: 17rem;">{{ task.owner }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ task.due_date | date:'dd MMMM yyyy' }}</td>
                <td style="vertical-align: middle; text-align: center;">
                  <span
                    class="badge badge-custom text-bg-{{ getStatusLabelClass(task.id_status) }}">{{ getStatusLabel(task.id_status) }}</span>
                </td>
                <td *ngIf="task.id_status!= 3" style="vertical-align: middle; text-align: center;">
                  <span
                    class="badge badge-custom2 text-bg-{{ getPriorityLabelClass(task.id_priority) }}">{{ getPriorityLabel(task.id_priority) }}</span>
                </td>
                <td style="vertical-align: middle; text-align: center;">{{ task.notes }}</td>
                <td class="text-center position-relative">
                  <div class="dropdown" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                      data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="dropdownMenuLink1"
                      ngbDropdownMenu style="z-index: 9999;">
                      <li><a class="dropdown-item" (click)="viewTimeline(task.id)">Timeline</a></li>
                      <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="addDataSubtask(task.id)">Add Data</a></li>
                      <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)="editData(task.id)">Edit Data</a></li>
                      <li *ngIf="isAdmin || isSpv"><a class="dropdown-item" (click)=" onDeleteTask(task.id)">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr *ngIf="dataTaskByLine?.length === 0">
                <td colspan="8" class="text-center">No data available</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-gridjs" style="table-layout: auto;">
            <thead>
              <tr>
                <th>Subtask</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Timeline</th>
                <th>Notes</th>
                <th *ngIf="isAdmin || isSpv">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filterredDataSubTask(task.id); let i = index">
                <td style="vertical-align: middle; width: 20rem;">{{ item.subtask }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ item.due_date | date:'dd MMMM yyyy' }}</td>
                <td style="vertical-align: middle; text-align: center;">
                  <span
                    class="badge badge-custom text-bg-{{ getStatusLabelClass(item.id_status) }}">{{ getStatusLabel(item.id_status) }}</span>
                </td>
                <td style="vertical-align: middle; text-align: center;">{{ item.start_date | date:'dd MMMM yyyy' }} -
                  {{ item.end_date | date:'dd MMMM yyyy' }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ item.notes }}</td>
                <td *ngIf="isAdmin || isSpv" class="text-center">
                  <div class="dropdown" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink1"
                      data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                      <li><a class="dropdown-item" (click)="editSubtask(task.id)">Edit Data</a></li>
                      <li><a class="dropdown-item" (click)="onDeleteSubtask(item.id)">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
</div>
<!-- end row -->