<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="departement" class="form-label">Departement</label>
                            <ng-autocomplete
                                [data]="departementOptions"
                                [(ngModel)]="newUploadApproval.departement"
                                [searchKeyword]="departementSearchKeyword"
                                (selected)="onDepartementSelect($event)"
                                name="departement"
                                [itemTemplate]="itemTemplate"
                                id="departement"
                                [placeholder]="'Select Departement'"
                                [notFoundText]="'No data found'"
                            ></ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" [(ngModel)]="newUploadApproval.title"
                                name="title" id="title">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="signer" class="form-label">Signer</label>
                            <div>
                                <ng-select
                                [items]="dataSigner"
                                bindLabel="name" 
                                bindValue="name"   
                                (change)="onSignerChange($event)"
                                name="signerInput"
                                id="signerInput"
                                placeholder="Select Signer">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="file_upload" class="form-label">File
                            </label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'file_upload')" accept="file/*" name="files">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
