<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="machine" class="form-label">Machine</label>
                            <div>
                                <ng-select
                                [items]="machine"
                                bindLabel="machine" 
                                bindValue="id"   
                                [(ngModel)]="newWeeklyCare.id_machine"
                                name="machine"
                                placeholder="Select Machine">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" name="description" id="description" [(ngModel)]="newWeeklyCare.description">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="status_activity" class="form-label">Status</label>
                            <ng-autocomplete
                            [data]="statusOptions"
                            [(ngModel)]="newWeeklyCare.status_activity"
                            [searchKeyword]="statusSearchKeyword"
                            (selected)="onStatusSelect($event)"
                            name="status_activity"
                            [itemTemplate]="itemTemplate"
                            id="statusActivity"
                            [placeholder]="'Select Status'"
                            [notFoundText]="'No data found'"
                            ></ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="remark" class="form-label">Remark</label>
                            <input type="text" class="form-control" name="remark" id="remark" [(ngModel)]="newWeeklyCare.remark">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="result_activity" class="form-label">Result</label>
                            <input type="text" class="form-control" name="result_activity" id="result_activity" [(ngModel)]="newWeeklyCare.result">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="genba" class="form-label">Genba</label>
                            <div>
                                <ng-select
                                [items]="picEmployee"
                                bindLabel="name" 
                                bindValue="id"   
                                [(ngModel)]="newWeeklyCare.id_genba"
                                name="name"
                                placeholder="Select Genba">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="newWeeklyCare.due_date">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-before" class="form-label">Documentation Before</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-before')" accept="image/*" name="files">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="documentation-after" class="form-label">Documentation After</label>
                            <input class="form-control " type="file" (change)="onFileSelected($event, 'documentation-after')" accept="image/*" name="files">
                        </div>
                        <div class="text-end" style="margin-top: 20px;">
                            <button *ngIf="id_weekly_care" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onUpdate()">Update</button>
                            <button *ngIf="!id_weekly_care" type="submit" class="btn btn-success" style="margin-right: 8px;" (click)="onInsertData()">Submit</button>
                            <button class="btn btn-danger me-2" (click)="forBack()">Back</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
