<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="funlocInput" class="form-label">Function Location</label>
                            <div>
                                <ng-select
                                [items]="functionLocationByLine"
                                bindLabel="function_location" 
                                bindValue="function_location"   
                                [(ngModel)]="newActivityGroup.function_location"
                                name="funlocInput"
                                placeholder="Select Function Location">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ForminputDate" class="form-label">Date</label>
                            <input type="date" class="form-control" [(ngModel)]="newActivityGroup.date" name="date"
                                id="ForminputDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="picInput" class="form-label">PIC</label>
                             <div>
                                <select class="form-control" name="picInput" id="picInput" required [(ngModel)]="newActivityGroup.pic">
                                    <option value="" disabled selected>Select Pic</option>
                                    <option *ngFor="let pic of namePicByRole" [value]="pic.name">{{ pic.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="equipment" class="form-label">Equipment</label>
                            <input type="text" class="form-control" [(ngModel)]="newActivityGroup.equipment"
                                name="equipment" id="equipment">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-sm float-end" style="margin-top: 10px;"
                                    (click)="onUpdateGroup()">update</button>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="idParam">
                            <table class="table table-bordered" id="activityInput">
                                <thead>
                                    <tr class="text-center">
                                        <th>Operation Task</th>
                                        <th>Material</th>
                                        <th>QTY</th>
                                        <th>Status Part</th>
                                        <th>Category</th>
                                        <th>Work Center</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of activities; let i = index">
                                        <td><input type="text" class="form-control" name="operation_task-{{i}}"
                                                [(ngModel)]="item.operation_task"></td>
                                        <td style="vertical-align: middle;">
                                            <button class="btn btn-success btn-sm"
                                                (click)="openPopup(item.id_activity)">Material</button>
                                        </td>
                                        <td><input type="text" class="form-control" name="qty-{{i}}"
                                                [(ngModel)]="item.qty"></td>
                                        <td><ng-autocomplete
                                            [data]="statusPartOptions"
                                            [(ngModel)]="item.status_part"
                                            [searchKeyword]="statusPartrSearchKeyword"
                                            (selected)="onStatusPartSelect($event)"
                                            name="status_part-{{i}}"
                                            [itemTemplate]="itemTemplate"
                                            id="statusPart"
                                            [placeholder]="'Select Status Part'"
                                            [notFoundText]="'No data found'"
                                        ></ng-autocomplete>
                
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item"></a>
                                        </ng-template>
                
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template></td>
                                        <td><input type="text" class="form-control" name="category_activity-{{i}}"
                                                [(ngModel)]="item.category_activity"></td>
                                        <td><ng-autocomplete
                                            [data]="workCenterOptions"
                                            [(ngModel)]="item.work_center"
                                            [searchKeyword]="workCenterSearchKeyword"
                                            (selected)="onWorkCenterSelect($event)"
                                            name="work_center-{{i}}"
                                            [itemTemplate]="itemTemplate"
                                            id="workCenter"
                                            [placeholder]="'Select Work Center'"
                                            [notFoundText]="'No data found'"
                                        ></ng-autocomplete>
            
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item"></a>
                                        </ng-template>
            
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template></td>
                                        <td><input type="text" class="form-control" name="duration-{{i}}"
                                                [(ngModel)]="item.duration"></td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <div class="centered-container">
                                                <button class="btn btn-success btn-sm" *ngIf="!item.id_activity"
                                                    (click)="insertActivity(i)">save</button>
                                                <div>
                                                    <button class="btn btn-success btn-sm" *ngIf="item.id_activity"
                                                        (click)="onUpdateActivity(i)">
                                                        <i class="bi bi-pencil"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm float-end" style="margin-top: -5px;"
                                    (click)="addActivity()">+ Add</button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success me-2"
                                    style="margin-right: 8px;" (click)="onSubmit()">Submit</button>
                                <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>